div.custom-form-group-select {
  select {
    option {
      white-space  : nowrap;
      overflow     : hidden;
      text-overflow: ellipsis;
      max-width    : 10em;
    }
  }

  .ng-invalid {
    border-left        : 1px solid #d6d6d6 !important;
    border-bottom-color: #d6d6d6 !important;
    padding-left       : 12px !important;
  }

  span.button-split {
    width           : 1px;
    height          : 100%;
    position        : absolute;
    top             : 0;
    right           : 20px;
    background-color: #C3C3C3;
  }

  select,
  input {
    border       : 1px solid #C3C3C3;
    box-sizing   : border-box;
    border-radius: 3px;
    padding      : 12px 8px;
    width        : 100%;
  }
}
