<div class="documentos-container">
  <div>
    <p class="titulo">{{title}}</p>
  </div>
  <p class="titulo">{{subtitle}}</p>
  <asc-documento-card
    (arquivosSelecionados)="arquivosSelecionados($event)"
    (documentoTipoProcessoSelecionado)="selecionarTipoDocumento($event)"
    (documentosTipoProcessoSelecionados)="watchDocumentos($event)"
    (loadingDocument)="loadingDocument($event)"
    (isLoading)="loadingDocument($event)"
    [parametro]="parametro"
    [processo]="pedido"
  ></asc-documento-card>
</div>
<div class="footer">
  <asc-button-secondary
    buttonId="voltarDocumentos"
    title="Voltar"
    (onClick)="previous()"
  ></asc-button-secondary>
  <asc-button-primary
    buttonId="continuarDocumentos"
    title="Continuar"
    (onClick)="onSubmit()"
    [disabled]="documentoNaoPossuiArquivos || loading"
  ></asc-button-primary>
</div>
