div.documentos-container {
  max-width: 778px;
  padding: 16px 8px;
  margin: 0 auto;

  p.titulo {
    font-family: 'Caixa Std Bold', sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 18px;
    line-height: 33px;
    color: #0065B7;
    margin: 0 0 16px 0;
    box-sizing: border-box;
  }

  p.titulo.margin {
    margin-top: 40px;
  }

  div.custom-form-group-input {
    margin-bottom: 16px;
    position: relative;

    small.custom-form-group-info {
      font-family: 'Caixa Std Regular', sans-serif;
      font-size: 14px;
      line-height: 16px;
      color: #969696;
      position: absolute;
      left: 0;
      top: calc(100% + 8px);

      strong {
        color: #000;
      }
    }
  }

  div.custom-form-group-select {
    position: relative;
    width: 100%;
    max-width: 373px;
    margin-bottom: 32px;

    span.button-split {
      width: 1px;
      height: 100%;
      position: absolute;
      top: 0;
      right: 20px;
      background-color: #C3C3C3;
    }

    small.custom-form-group-info {
      font-family: 'Caixa Std Regular', sans-serif;
      font-size: 14px;
      line-height: 16px;
      color: #969696;
      position: absolute;
      left: 0;
      top: calc(100% + 8px);

      strong {
        color: #000;
      }
    }
  }

  select,
  input {
    border: 1px solid #C3C3C3;
    box-sizing: border-box;
    border-radius: 3px;
    padding: 12px 8px;
    width: 100%;
    max-width: 373px;
  }

.footer.flex-end {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}


  div.custom-card {
    padding: 32px 8px 8px 8px;
    box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 3px;
    position: relative;
    margin-bottom: 16px;

    div.success-icon-container {
      display: none;
      position: absolute;
      top: 13px;
      right: 11px;

      em {
        color: #53AA5C;
      }
    }

    &.success {
      border: 2px solid #53AA5C;

      div.success-icon-container {
        display: block;
      }
    }

    p.card-titulo {
      font-family: 'Caixa Std Bold', sans-serif;
      font-size: 16px;
      line-height: 19px;
      color: #000000;
      font-weight: bold;
    }

    span.card-info {
      font-family: 'Caixa Std Regular', sans-serif;
      font-size: 14px;
      line-height: 16px;
      color: #000000;
    }

    p.arquivos-label {
      font-family: 'Caixa Std Bold', sans-serif;
      font-size: 14px;
      line-height: 16px;
      display: flex;
      align-items: center;
      color: #000000;
      margin-top: 12px;
      font-weight: bold;
    }

    div.arquivo-card {
      border: 1px solid rgba(0, 0, 0, 0.12);
      padding: 8px;
      margin: 6.5px 0;
      display: flex;
      justify-content: space-between;
      align-items: center;

      p.arquivo-nome {
        font-family: 'Caixa Std Regular', sans-serif;
        font-size: 16px;
        line-height: 19px;
        display: flex;
        align-items: center;
        color: #000000;
        padding: 0;
        margin: 0;
      }

      div.arquivo-actions {
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 78px;

        button {
          width: 35px;
          height: 35px;
          display: flex;
          align-items: center;
          justify-content: center;
          border: none;
          border-radius: 3px;

          em {
            color: #FFF;
          }

          &:first-child {
            background-color: #17A2B8;

            &:hover,
            &:active {
              background-color: #0f91a5;
            }
          }

          &:last-child {
            background-color: #DC3545;

            &:hover,
            &:active {
              background-color: #bb1c2c;
            }
          }
        }
      }
    }

    div.custom-card-footer {
      padding-top: 10px;
      border-top: 1px solid rgba(0, 0, 0, 0.12);
      display: flex;
      justify-content: flex-end;
      align-items: center;

      label {
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: #53AA5C;
        border-radius: 3px;
        padding: 8px 12px;
        cursor: pointer;
        transition: 250ms ease-in-out;

        &:hover,
        &:active {
          background-color: #368a3f;
          transition: 250ms ease-in-out;
        }

        em,
        span {
          color: #fff;
        }

        em {
          margin-right: 4px;
        }
      }

      input {
        visibility: hidden;
        position: absolute;
      }
    }

  }
}

div.bottom-bordered {
  padding-bottom: 32px;
  border-bottom: 1px solid #B4B4B4;
  margin-bottom: 32px;
}
