.processo-card {
  display: flex;
  align-items: center;
  border-top: 4px solid #0065B7;
  margin: .5em 0;
  padding: 1.5em 0;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);

  cursor: pointer;

  &:hover {
    background-color: #0065B7;


    .processo-card-campo {
      color: #fff;
    }
  }
}

.s-1,
.s-2,
.s-3,
.s-4,
.s-5,
.s-6,
.s-7,
.s-8 {
  margin: 0 .125em;
  text-align: center;
}

.s-1 {
  min-width: 10%;
}

.s-2 {
  width: 10%;
}

.s-3 {
  width: 15%;
}

.s-4 {
  width: 9%;
}

.s-5 {
  width: 20%;
}

.s-6 {
  width: 20%;
}

.s-7 {
  width: 5%;
  max-width: 24px;
  max-height: 24px;
}

.s-8 {
  width: 10%;
}

.mobile-processo-card {
  display: none;
}

.no-padding {
  padding: 0;
}

@media (max-width: 800px) {
  .mobile-processo-card {
    border-top: 2px solid #0065B7;
    margin: 1em 0;
    padding: 1em;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    display: block;
    border-radius: 3px;
  }

  .processo-card {
    display: none;
  }

  .s-1,
  .s-2,
  .s-3,
  .s-4,
  .s-5,
  .s-6,
  .s-7,
  .s-8 {
    width: 100%;
    text-align: left;
  }

  .s-7 {
    max-width: 24px;
    max-height: 24px;
  }
}
