@import "/src/assets/sass/colors";
@import "/src/assets/sass/mixins";

h1 {
  border-bottom: none;
}

.text-align-center {
  text-align: center;
}

.text-align-right {
  text-align: right;
}

.margin-left-25 {
  margin-left: 25px;
}

.margin-top-15 {
  margin-top: 15px;
}

.color-darkorange {
  color: darkorange;
}

.ans-box {
  color: white;
  background-color: darkblue;
  padding: 4px 8px 4px 8px;
  border-radius: 4px;
}

.card-box {
  background-color: #f1f6f7;
  border-radius: 25px;
  padding: 40px 40px 20px 40px;
}

.input-box {
  background-color: #f1f6f7;
  border-radius: 4px;
  padding: 15px 20px;
}

h3 {
  border: none;
  padding-bottom: 0;
}

.no-padding-left {
  padding-left: 0;
}

.detalhe-aprovacao {
  color: #fff;
  background-color: #999999;
  border-radius: 4px;
  font-size: 10px;
  padding: 2px 5px;
  margin-left: 5px;
}

.det-option {
  color: #999999 !important;
}

p {
  margin: 0 !important;
}

.marginBottom {
  margin-bottom: 10px !important;
}

.ui-datatable tbody > tr.ui-widget-content.ui-datatable-odd.ui-state-highlight {
  color: black !important;
}

.red {
  color: $btn-bg-red;

  &:hover, &:active {
    color: $btn-bg-red-dark;
  }
}

/* Aumenta o espaçamento entre os campos */
.row.col-md-2.mb-4 {
  margin-bottom: 20px; /* Aumenta o espaçamento entre CPF e Nome */
}

.row.col-md-5.mb-4 {
  margin-bottom: 20px; /* Aumenta o espaçamento entre Data de Nascimento e E-mail */
}

/* Ajusta a largura do campo Data Limite para ser igual à do campo Perfil */
.row.col-md-6.mb-4 {
  flex: 1; /* Garante que eles ocupem a mesma largura */
}

.row.col-md-5.mb-4 {
  flex: 1; /* Garante que eles ocupem a mesma largura */
}

/* Aumenta o espaçamento entre os campos */
.row.col-md-2.mb-4 {
  margin-bottom: 20px; /* Espaçamento para o campo CPF */
}

.row.col-md-5.mb-4 {
  margin-bottom: 20px; /* Espaçamento para o campo Nome */
}

.row.col-md-2.mb-4 {
  margin-bottom: 20px; /* Espaçamento para o campo Data de Nascimento */
}

.row.col-md-3.mb-4 {
  margin-bottom: 20px; /* Espaçamento para o campo E-mail */
}

/* Ajusta a largura do campo Data Limite para ser igual à do campo Perfil */
.row.col-md-6.mb-4,
.row.col-md-5.mb-4 {
  flex: 1; /* Garante que eles ocupem a mesma largura */
}
