<form #formDirective="ngForm" [formGroup]="form">
  <div class="custom-left-grid">
    <asc-select-procedimento
      selectId="procedimento"
      [required]="true"
      (dadoSelecionado)="procedimentoSelecionando($event)"
      [control]="form.get('idProcedimento')"
      [parametros]="parametroSelectProcedimento"
      [tipoAcaoService]="CONSULTAR_PROCEDIMENTO_POR_TIPO_PROCESSO"
      formControlName="idProcedimento"
      label="Procedimento"
      style="border-left: none !important;">
    </asc-select-procedimento>
    <div class="margin-16" *ngIf="isToShowForm">
      <asc-graus-procedimento
        selectId="grauProcedimento"
        [required]="true"
        [parametros]="parametrosSelectGrauProcedimento"
        [control]="form.get('idGrauProcedimento')"
        (dadosBackend)="grauProcedimentoCarregado($event)"
        (dadoSelecionado)="grauProcedimentoSelecionado($event)"
        formControlName="idGrauProcedimento"
        label="{{ isTipoProcessoOdontologico() ? 'Região odontológica' : 'Grau'}}"
        style="border-left: none !important;">
      </asc-graus-procedimento>
    </div>
    <div *ngIf="isToShowQtdSolicitada" class="margin-16">
      <asc-input-text
        label="Quantidade solicitada" [required]="true"
        [control]="form.get('qtdSolicitada')"
        inputId="qtdSolicitada"
        [somenteNumeros]="true">
        <asc-input-error nomeErro="min" [msgErro]="bundle('MA012')"></asc-input-error>
        <asc-input-error nomeErro="max" [msgErro]="bundle('MA132')"></asc-input-error>
      </asc-input-text>
    </div>
    <div class="footer-buttons" *ngIf="!inResumo">
      <asc-button-secondary
        buttonId="adicionarProcedimento"
        [title]="(isEditing) ? 'Concluir alteração' : 'Adicionar'"
        [disabled]="form.invalid"
        (onClick)="adicionarProcedimento(formDirective)"
        style="margin-right: 8px;"
      ></asc-button-secondary>
      <asc-button-primary
        buttonId="limparProcedimento"
        [title]="(isEditing) ? 'Cancelar' : 'Limpar'"
        (onClick)="clickButtonCancelarProcedimento(formDirective)"
      ></asc-button-primary>
    </div>
    <div class="footer-buttons" *ngIf="inResumo">
      <asc-button-secondary
        buttonId="adicionarProcedimentoResumo"
        [title]="(isEditing) ? 'Concluir alteração' : 'Adicionar'"
        [disabled]="form.invalid"
        (onClick)="adicionarProcedimento(formDirective)"
        style="margin-right: 8px;"
      ></asc-button-secondary>
      <asc-button-primary
        buttonId="limparProcedimentoResumo"
        [title]="(isEditing) ? 'Cancelar' : 'Limpar'"
        (onClick)="clickButtonCancelarProcedimento(formDirective)"
      ></asc-button-primary>
    </div>
  </div>
</form>
