@mixin add-btn-hover($mainColor, $hoverColor, $borderColor, $spanColor, $spanHoverColor) {
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 3px;
  background-color: $mainColor;
  border-color: $borderColor;
  transition: 250ms ease-in-out;
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
  padding: 10px 16px;
  min-width: 125px;

  span,
  i {
    color: $spanColor;
    transition: 300ms ease-in-out;
  }

  &:not(:disabled) {
    &:hover,
    &:active {
      background-color: $hoverColor;
      transition: 250ms ease-in-out;

      span {
        color: $spanHoverColor;
        transition: 300ms ease-in-out;
      }
    }
  }
  &:disabled {
    background-color: #dadada;
  }
}

div.custom-container {
  width: 100%;
  padding: 12px;
  max-width: 794px;
  margin: 0 auto;

  div.titulo {
    font-family: 'Caixa Std Bold', sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 18px;
    line-height: 25px;
    height: 44px;
    color: #0065B7;

    &.max-565 {
      width: 100%;
      max-width: 565px;
    }
  }
}

.no-padding {
  padding: 0;
}

div.bottom-bordered {
  border-bottom: 1px solid #B4B4B4;
  margin-bottom: 16px;
}

div.custom-card {
  padding: 32px 8px 8px 8px;
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 3px;
  position: relative;
  margin-bottom: 16px;

  div.success-icon-container {
    display: none;
    position: absolute;
    top: 13px;
    right: 11px;

    em {
      color: #53AA5C;
    }
  }

  &.success {
    border: 2px solid #53AA5C;

    div.success-icon-container {
      display: block;
    }
  }

  p.card-titulo {
    font-family: 'Caixa Std Bold', sans-serif;
    font-size: 16px;
    line-height: 19px;
    color: #000000;
    font-weight: bold;
  }

  span.card-info {
    font-family: 'Caixa Std Regular', sans-serif;
    font-size: 14px;
    line-height: 16px;
    color: #000000;
  }

  div.custom-card-footer {
    padding-top: 10px;
    display: flex;
    justify-content: flex-end;
    align-items: center;

    label {
      display: flex;
      justify-content: center;
      align-items: center;
      background-color: #41A495;
      border-radius: 3px;
      border: 1px solid #36877B;
      padding: 8px 12px;
      cursor: pointer;
      transition: 250ms ease-in-out;

      &:hover,
      &:active {
        background-color: #36877B;
        transition: 250ms ease-in-out;
      }

      em,
      span {
        color: #fff;

      }

      em,
      i {
        margin-right: 8px;
      }
    }

    input {
      visibility: hidden;
      position: absolute;
    }
  }

}

.resumo-body {
  background-color: #EFF5F6;
  padding: 21px 26px 52px 26px;

  p {
    margin: 0;
  }

  .resumo-card {
    background: #FFFFFF;
    border: 1px solid #B3C7CB;
    box-sizing: border-box;
    box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 3px;
    padding: 26px 39px 24px 21px;

    &.no-padding {
      padding: 0;
    }

    button {
      &.edit {
        @include add-btn-hover(#005CA9, #01377F, none, #fff, #fff);
        min-width: 0;
        width: 35px;
        height: 35px;
        padding: 0;
        border: none;
        box-shadow: none;
        margin-left: 4px;

        &:hover,
        &:focus,
        &:active {
          border: none;
        }
      }

      &.add-proc {
        @include add-btn-hover(#41A495, #36877B, #36877B, #fff, #fff);
        border: 1px solid #36877B;
        padding: 8px 12px;

        &:hover,
        &:focus,
        &:active {
          border-color: #36877B;
        }

        i {
          margin-right: 8px;
        }
      }
    }

    &:not(:last-child) {
      margin-bottom: 8px;
    }

    div.space-btw {
      display: flex;
      justify-content: space-between;
      align-items: center;

      &.custom-padding {
        padding: 26px 24px 0 24px;
      }
    }

    div.m-10 {
      margin-bottom: 10px;
    }

    div.resumo-info-box {

      &:not(:last-child) {
        margin-bottom: 8px;
      }

      span {
        font-family: 'Caixa Std Bold', sans-serif;
        font-style: normal;
        font-weight: bold;
        font-size: 14px;
        line-height: 17px;
        color: #3A4859;
      }

      p {
        font-family: 'Caixa Std Regular', sans-serif;
        font-style: normal;
        font-weight: normal;
        font-size: 16px;
        line-height: 22px;
        color: #3A4859;
      }
    }
  }
}

@media screen and (max-width: 500px) {
  .resumo-body {
    padding: 8px 12px 16px 12px;

    .resumo-card {
      padding: 8px 12px;

      button {
        &.add-proc {
          align-self: center;
          min-width: 100%;
        }
      }

    }

    .space-btw {
      &.custom-padding {
        padding: 8px 12px;
      }
    }
  }

  .resumo-arquivos {
    padding: 8px 12px;
  }
}

i.loading-icon {
  -webkit-animation: spin 2s linear infinite;
  animation: spin 2s linear infinite;
  margin: 0;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

@-webkit-keyframes spin {
  0% {
    -webkit-transform: rotate(0deg);
  }

  100% {
    -webkit-transform: rotate(360deg);
  }
}

.width-420{
  width: 420px;
}