<div class="container">

	<div class="header header-breadcumb">
		<div class="bread-crumb-container">
		  <span routerLink="/" class="voltar"><i class="fa fa-arrow-left" aria-hidden="true"></i> Voltar</span>
		  <ul class="bread-crumb">
			<li><a routerLink="/home">Início</a> <i class="fa fa-angle-right" aria-hidden="true"></i></li>
			<li>Novo Pedido <i class="fa fa-angle-right" aria-hidden="true"></i></li>
			<li>Beneficiário <i class="fa fa-angle-right" aria-hidden="true"></i></li>
			<li>Renovação de Dependente</li>
		  </ul>
		</div>
	</div>

	<p class="titulo-pagina">Renovação de Dependente</p>

	<div class="c-grid">
		<div>
			<p class="info-search-label">Quais os passos?</p>
			<div class="section">
				<div (mouseover)="setIndex(i)" class="info-boxes" *ngFor="let descricao of options; let i = index">
					<span>{{i + 1}}</span>
					<p>{{descricao}}</p>
				</div>
			</div>
		</div>
		<div class="info-pagina">
			<p class="info-p">
				Para facilitar o preenchimento do formulário, nós o dividimos em passos. Antes de começar o
				preenchimento, tenha em mãos as informações e documentação necessárias.
			</p>
			<p class="info-h1">O que é necessário?</p>
			<small class="desktop">Clique ou passe o cursor sobre itens ao lado para obter detalhes</small>
			<small class="mobile">Clique ou passe o cursor sobre itens abaixo para obter detalhes</small>
			<div class="steps-info">
				<p class="info-p bordered" *ngIf="index === 0">
					Escolha o(a) beneficiário(a) para o(a) qual deseja solicitar a renovação do plano de saúde.
				</p>
				<p class="info-p bordered" *ngIf="index === 1">
					Envie pelo menos um arquivo para cada documento exigido.
				</p>
				<p class="info-p bordered" *ngIf="index === 2">
					Confira o resumo de todos os campos preenchidos antes de finalizar o pedido.
				</p>
			</div>
		</div>
	</div>

	<div class="pagina-inicial-botoes">
		<button class="continue-btn" routerLink="./renovar">
			<span>
				Iniciar
			</span>
		</button>
	</div>
</div>
