.pagina-inicial-botoes {
  display: flex;
  justify-content: flex-end;
  margin-top: 8px;

  button {
    background: #F39200;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0 16px;
    height: 44px;
    border: none;
    border-radius: 3px;

    span {
      color: #fff;
    }

    &:hover,
    &:active {
      background-color: #db6e00;
      transition: 250ms ease-in-out;
    }
  }
}

.c-grid {
  display: flex;
  align-items: flex-start;
}

.info-pagina {
  padding: 12px 24px;
  margin-top: 12px;

  .info-p,
  small {
    font-family: 'Caixa Std Regular', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 19px;
    color: #3A4859;

    &.bordered {
      padding-left: 14px;
      border-left: 6px solid #58bbab;
    }
  }

  small {
    font-size: 12px;
    display: block;
    margin-bottom: 24px;
  }

  .info-h1 {
    font-family: 'Caixa Std Bold', sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 20px;
    line-height: 24px;
    color: #005CA9;
  }

}

.section {
  background-color: #EFF5F6;
  border-radius: 6px;
  display: flex;
  justify-content: center;
  position: relative;
  flex-flow: column;
  padding: 0 32px;
  margin-top: 24px;
  min-width: 270px;
}

.info-boxes {
  display: flex;
  align-items: center;
  margin-top: 16px;

  &:last-child {
    margin-bottom: 16px;
  }

  span {
    width: 25px;
    height: 25px;
    min-width: 25px;
    min-height: 25px;
    color: #fff;
    background-color: #0065B7;
    border-radius: 35px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 8px;
    cursor: pointer;
  }

  p {
    font-family: 'Caixa Std Regular', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 22px;
    color: #3A4859;
    margin: 0;
  }

  label {
    position: absolute;
    font-family: 'Caixa Std Regular', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 19px;
    color: #3A4859;
    bottom: 30px;
    left: 275px;
    width: 70vw;
    align-self: flex-start;
    transition: 100ms ease-in-out;
    opacity: 0;
  }

  &:hover {
    label {
      // display: block;
      transition: 100ms ease-in-out;
      opacity: 1;
    }
  }
}

.desktop {
  display: block !important;
}

.mobile {
  display: none !important;
}

@media screen and (max-width: 700px) {

  .default-container {
    padding: 8px;
  }

  .c-grid {
    flex-flow: column-reverse;
    align-items: stretch;
  }

  .section {
    background-color: inherit;
    flex-flow: row;
    flex-wrap: nowrap;
    margin: 4px;
    padding: 8px;
    overflow-x: auto;
    align-items: stretch;
    justify-content: flex-start;


  }

  .info-boxes {
    background-color: #F2F7F8;
    border-radius: 3px;
    padding: 8px 12px;
    margin: 0 4px;
    cursor: pointer;


    &:first-child {
      margin-left: 0;
    }

    &:last-child {
      margin-bottom: 0;
    }
  }

  .desktop {
    display: none !important;
  }

  .mobile {
    display: block !important;
  }
}
