.span-detalhar {
  color: rgb(180, 175, 175);
  font-size: 12px;
}

.restrito {
  border-radius: 10px;
}
.dados-lista div {
  width: 40%;
  display: inline-block;
}

h3 {
  border: none;
  padding-bottom: 0px;
}