<div class="container">
  <div class="col-md-12 breadcrumb-header">
    <ul class="breadcrumb">
      <li><span (click)="voltar()" class="voltar"><i class="fa fa-arrow-left" aria-hidden="true"></i>Voltar</span></li>
      <a routerLink="/home">Início</a>
      <em class="fa fa-chevron-right"></em>
      Administração
      <em class="fa fa-chevron-right"></em>
      Relatórios
      <em class="fa fa-chevron-right"></em>
      <a routerLink="relatorios/pesquisar-processo-reembolso">Pedidos de Reembolso</a>
      <em class="fa fa-chevron-right"></em>
      Pedidos Reembolso – Resultado
    </ul>
  </div>

  <div class="title-type">
    <h1 class="titulo-pagina">Pedidos Reembolso – Resultado</h1>
  </div>

  <section class="row">
    <div class="row p-0 col-md-12">
      <h4>Dados da Pesquisa</h4>
    </div>

    <div class="clearfix"></div>

    <div class="row p-0 col-xs-4" *ngIf="filtro.processo">
      <label class="control-label" for="processo">Pedido</label>&nbsp;<br>
      <p id="processo">{{filtro.processo}}</p>
    </div>

    <div class="row  col-xs-4" *ngIf="filtro.descUfsProcesso">
      <label class="control-label" for="ufsProcesso">UF</label>&nbsp;<br>
      <p id="ufsProcesso">{{ filtro.descUfsProcesso }}</p>
    </div>

    <div class="row  col-xs-4" *ngIf="filtro.descEmpresasAuditoria">
      <label class="control-label" for="empresasAuditoria">Empresa de Auditoria</label>&nbsp;<br>
      <p id="empresasAuditoria">{{ filtro.descEmpresasAuditoria }}</p>
    </div>

    <div class="row p-0 col-xs-4" *ngIf="filtro.dataInicio">
      <label class="control-label" for="dataInicio">Início</label>
      <p id="dataInicio">{{filtro.dataInicio }}</p>
    </div>

    <div class="row   col-xs-4" *ngIf="filtro.dataFim">
      <label class="control-label" for="dataFim">Fim</label>
      <p id="dataFim">{{filtro.dataFim }}</p>
    </div>

    <div class="row  col-xs-4" *ngIf="filtro.descTipoProcesso">
      <label class="control-label" for="tipoProcesso">Tipo de Pedido</label>&nbsp;<br>
      <p id="tipoProcesso">{{ filtro.descTipoProcesso }}</p>
    </div>

    <div class="clearfix"></div>
    <div class="row p-0 col-md-9">
      <h4>Resultado da Consulta</h4>
    </div>


    <div class="row p-0 col-md-12">
      <div class="col-xs-3 search-inp p-0" style="margin: 5px 0 8px; border-bottom: 0 none">
        <input #gb type="text" class="form-control filtro-caixa" pInputText size="50"
               placeholder="Digite para filtrar resultado">
        <em class="fas fa-search"></em>
      </div>
      <p-table
        id="caixa-table"
        [value]="dados"
        [rows]="10"
        [paginator]="true"
        [pageLinks]="5"
        [sortOrder]="-1"
        [rowsPerPageOptions]="[5,10,20]"
        [reorderableColumns]="true"
        sortField="id"
        styleClass="table table-striped table-sm table-hover text-center">
        <ng-template pTemplate="emptymessage">
          <tr>
            <td colspan="8">{{(!loading)?bundle('MA142'):'Carregando ...'}}</td>
          </tr>
        </ng-template>
        <ng-template pTemplate="header">
          <tr>
            <th [pSortableColumn]="'idPedido'" style="width:100px">Pedido <p-sortIcon [field]="'idPedido'"></p-sortIcon></th>
            <th [pSortableColumn]="'descTipoProcesso'">Tipo de Pedido <p-sortIcon [field]="'descTipoProcesso'"></p-sortIcon></th>
            <th [pSortableColumn]="'matricula'" style="width:100px">Matrícula <p-sortIcon [field]="'matricula'"></p-sortIcon></th>
            <th [pSortableColumn]="'uf'" style="width:50px">UF <p-sortIcon [field]="'uf'"></p-sortIcon></th>
            <th [pSortableColumn]="'dataAbertura'" style="width:110px">Data de Abertura <p-sortIcon [field]="'dataAbertura'"></p-sortIcon></th>
            <th [pSortableColumn]="'descSituacaoPedido'">Situação <p-sortIcon [field]="'descSituacaoPedido'"></p-sortIcon></th>
            <th [pSortableColumn]="'dataInicio'" style="width:90px">Inicio <p-sortIcon [field]="'dataInicio'"></p-sortIcon></th>
            <th [pSortableColumn]="'dataFim'" style="width:90px">Fim <p-sortIcon [field]="'dataFim'"></p-sortIcon></th>
          </tr>
        </ng-template>
        <ng-template pTemplate="body" let-row>
          <tr>
            <td>{{row.idPedido}}</td>
            <td>{{row.descTipoProcesso}}</td>
            <td>{{row.matricula}}</td>
            <td>{{row.uf}}</td>
            <td>{{row.dataAbertura}}</td>
            <td>{{row.descSituacaoPedido}}</td>
            <td>{{row.dataInicio}}</td>
            <td>{{row.dataFim | campoVazioHifen}}</td>
          </tr>
        </ng-template>
      </p-table>
    </div>

    <div class="col-xs-12 p-0 barra-botoes">
      <button class="btn back-btn" (click)="voltar()" id="btnListarVoltar">
        <span class="fa fa-reply fa-fw"></span> Voltar
      </button>
      
      <button class="btn continue-btn" (click)="exportarExcel()" id="btnExportar">
        <span class="fas fa-file-excel"></span> Exportar
      </button>
    </div>
  </section>
</div>
