<div class="container">
  <div class="col-md-12 breadcrumb-header">
    <ul class="breadcrumb">
      <li><span (click)="voltar()" class="voltar"><i class="fa fa-arrow-left" aria-hidden="true"></i>Voltar</span></li>
      <a routerLink="/home">Início</a>
      <em class="fa fa-chevron-right"></em>
      Administração
      <em class="fa fa-chevron-right"></em>
      Relatórios
      <em class="fa fa-chevron-right"></em>
      <a routerLink="relatorios/pesquisar-processo-reembolso">Pedidos de Reembolso</a>
      <em class="fa fa-chevron-right"></em>
      Pedidos Reembolso – Resultado
    </ul>
  </div>

  <div class="title-type">
    <h1 class="titulo-pagina">Pedidos Reembolso – Resultado</h1>
  </div>

  <section class="row">
    <div class="row p-0 col-md-12">
      <h4>Dados da Pesquisa</h4>
    </div>

    <div class="clearfix"></div>

    <div class="row p-0 col-xs-4" *ngIf="filtro.processo">
      <label class="control-label" for="processo">Pedido</label>&nbsp;<br>
      <p id="processo">{{filtro.processo}}</p>
    </div>

    <div class="row  col-xs-4" *ngIf="filtro.descUfsProcesso">
      <label class="control-label" for="ufsProcesso">UF</label>&nbsp;<br>
      <p id="ufsProcesso">{{ filtro.descUfsProcesso }}</p>
    </div>

    <div class="row  col-xs-4" *ngIf="filtro.descEmpresasAuditoria">
      <label class="control-label" for="empresasAuditoria">Empresa de Auditoria</label>&nbsp;<br>
      <p id="empresasAuditoria">{{ filtro.descEmpresasAuditoria }}</p>
    </div>

    <div class="row p-0 col-xs-4" *ngIf="filtro.dataInicio">
      <label class="control-label" for="dataInicio">Início</label>
      <p id="dataInicio">{{filtro.dataInicio }}</p>
    </div>

    <div class="row   col-xs-4" *ngIf="filtro.dataFim">
      <label class="control-label" for="dataFim">Fim</label>
      <p id="dataFim">{{filtro.dataFim }}</p>
    </div>

    <div class="row  col-xs-4" *ngIf="filtro.descTipoProcesso">
      <label class="control-label" for="tipoProcesso">Tipo de Pedido</label>&nbsp;<br>
      <p id="tipoProcesso">{{ filtro.descTipoProcesso }}</p>
    </div>

    <div class="clearfix"></div>
    <div class="row p-0 col-md-9">
      <h4>Resultado da Consulta</h4>
    </div>


    <div class="row p-0 col-md-12">
      <div class="col-xs-3 search-inp p-0" style="margin: 5px 0 8px; border-bottom: 0 none">
        <input #gb type="text" class="form-control filtro-caixa" pInputText size="50"
               placeholder="Digite para filtrar resultado">
        <em class="fas fa-search"></em>
      </div>
      <p-dataTable
        id="caixa-table" [value]="dados" [rows]="10"
        [paginator]="true" [pageLinks]="5" sortOrder="-1" 
        emptyMessage="{{(!loading)?bundle('MA142'):'Carregando ...'}}"
        [rowsPerPageOptions]="[5,10,20]" [globalFilter]="gb" reorderableColumns="true" sortField="id"
        class="table table-striped table-sm table-hover text-center">

        <p-column field="idPedido" header="Pedido" [sortable]="true" [style]="{'width':'100px'}"></p-column>
        <p-column field="descTipoProcesso" header="Tipo de Pedido" [sortable]="true"></p-column>
        <p-column field="matricula" header="Matrícula" [style]="{'width':'100px'}" [sortable]="true"></p-column>
        <p-column field="uf" header="UF" [sortable]="true" [style]="{'width':'50px'}"></p-column>
        <p-column field="dataAbertura" header="Data de Abertura" [sortable]="true" [style]="{'width':'110px'}">
          <ng-template let-col let-row="rowData" pTemplate="body">
            {{row[col.field] }}
          </ng-template>
        </p-column>
        <p-column field="descSituacaoPedido" header="Situação" [sortable]="true" ></p-column>
        <p-column field="dataInicio" header="Inicio" [sortable]="true" [style]="{'width':'90px'}">
          <ng-template let-col let-row="rowData" pTemplate="body">
            {{row[col.field] }}
          </ng-template>
        </p-column>
        <p-column field="dataFim" header="Fim" [sortable]="true" [style]="{'width':'90px'}">
          <ng-template let-col let-row="rowData" pTemplate="body">
            {{row[col.field] | campoVazioHifen}}
          </ng-template>
        </p-column>

      </p-dataTable>
    </div>

    <div class="col-xs-12 p-0 barra-botoes">
      <button class="btn back-btn" (click)="voltar()" id="btnListarVoltar">
        <span class="fa fa-reply fa-fw"></span> Voltar
      </button>
      
      <button class="btn continue-btn" (click)="exportarExcel()" id="btnExportar">
        <span class="fas fa-file-excel"></span> Exportar
      </button>
    </div>
  </section>
</div>
