<!-- Page Header-->
<div class="container">
  <div class="col-md-12 breadcrumb-header">
    <ul class="breadcrumb">
      <li><span (click)="voltar()" class="voltar"><i class="fa fa-arrow-left" aria-hidden="true"></i>Voltar</span></li>
      <a routerLink="/home">Início</a>
      <em class="fa fa-chevron-right"></em>
      Administração
      <em class="fa fa-chevron-right"></em>
      <a routerLink="/manutencao/empresa-prestador-externo">Empresa de Auditoria</a>
      <em class="fa fa-chevron-right"></em>
      Empresa de Auditoria – Resultado
    </ul>
  </div>

  <div class="title-type">
    <h1 class="titulo-pagina">Empresa de Auditoria – Resultado</h1>
  </div>

  <section class="row">
    <div class="row col-md-12 p-0">
      <h4>Dados da Pesquisa</h4>
    </div>

    <div class="clearfix"></div>

    <div class="row">
      <div class="p-0 col-xs-4">
        <label class="control-label">CNPJ</label>
        <p class="marginBottom">{{filtro.cnpj | cnpjMask | campoVazioHifen}}</p>
      </div>

      <div class="p-0 col-xs-4">
        <label class="control-label">Razão Social</label>
        <p class="marginBottom">{{filtro.razaoSocial | campoVazioHifen | uppercase}}</p>
      </div>

      <div class="p-0 col-xs-4">
        <label class="control-label">Contrato</label>
        <p class="marginBottom">{{filtro.contrato | campoVazioHifen}}</p>
      </div>
    </div>
    <div class="clearfix"></div>

    <div class="row col-md-9 p-0">
      <h4>Resultado da Consulta</h4>
    </div>

    <div class="row col-md-12 p-0">
      <div class="col-xs-3 search-inp p-0" style="margin: 5px 0 8px; border-bottom: 0 none">
        <input #gb type="text" class="form-control filtro-caixa" size="50"
               placeholder="Digite para filtrar resultado">
        <em class="fas fa-search"></em>
      </div>
      <p-table
        id="caixa-table"
        [value]="listaEmpresas"
        [rows]="10"
        [paginator]="true"
        [pageLinks]="5"
        [sortOrder]="-1"
        [rowsPerPageOptions]="[5,10,20]"
        [reorderableColumns]="true"
        sortField="id"
        styleClass="table table-striped table-sm table-hover">
        <ng-template pTemplate="emptymessage">
          <tr>
            <td colspan="6">{{bundle('MA003')}}</td>
          </tr>
        </ng-template>
        <ng-template pTemplate="header">
          <tr>
            <th [pSortableColumn]="'id'" style="width:70px" scope="col">ID <p-sortIcon [field]="'id'"></p-sortIcon></th>
            <th [pSortableColumn]="'cnpj'" style="width:150px" scope="col">CNPJ <p-sortIcon [field]="'cnpj'"></p-sortIcon></th>
            <th [pSortableColumn]="'razaoSocial'" scope="col">Razão Social <p-sortIcon [field]="'razaoSocial'"></p-sortIcon></th>
            <th [pSortableColumn]="'contrato'" scope="col">Contrato <p-sortIcon [field]="'contrato'"></p-sortIcon></th>
            <th [pSortableColumn]="'gipes'" scope="col">Abrangência <p-sortIcon [field]="'gipes'"></p-sortIcon></th>
            <th id="cl_Action" scope="col">Ação</th>
          </tr>
        </ng-template>
        <ng-template pTemplate="body" let-row>
          <tr>
            <td>{{row.id}}</td>
            <td>{{row.cnpj | cnpjMask}}</td>
            <td>{{row.razaoSocial}}</td>
            <td>{{row.contrato}}</td>
            <td>{{row.gipes}}</td>
            <td>
              <span title="Editar registro" (click)="editarEmpresa(row)">
                <span class="fas fa-pen"></span>
              </span>
            </td>
          </tr>
        </ng-template>
      </p-table>
    </div>

    <div class="col-xs-12 p-0 barra-botoes">
      <button class="btn back-btn" (click)="voltar()">
        <span class="fa fa-reply fa-fw"></span>Voltar
      </button>
      <button class="btn clean-btn" (click)="novaEmpresa()">
        <span class="fa fa-plus fa-fw"></span>Incluir Empresa de Auditoria
      </button>
    </div>
  </section>

</div>
