<!-- Page Header-->
<div class="container">
  <div class="col-md-12 breadcrumb-header">
    <ul class="breadcrumb">
      <li><span (click)="voltar()" class="voltar"><i class="fa fa-arrow-left" aria-hidden="true"></i>Voltar</span></li>
      <a routerLink="/home">Início</a>
      <em class="fa fa-chevron-right"></em>
      Administração
      <em class="fa fa-chevron-right"></em>
      Parâmetros
      <em class="fa fa-chevron-right"></em>
      <a [routerLink]="baseURL">{{ titulo }}</a>
      <em class="fa fa-chevron-right"></em>
      {{ titulo }} – <span *ngIf="!beneficiarioPedidoParam">Inclusão</span><span *ngIf="beneficiarioPedidoParam">Edição</span>
    </ul>
  </div>

  <div class="title-type">
    <h1 class="titulo-pagina">
      {{ titulo }} – <span *ngIf="!beneficiarioPedidoParam">Inclusão</span><span *ngIf="beneficiarioPedidoParam">Edição</span>
    </h1>
  </div>
  
  <section class="row">
    <form [formGroup]="formulario" >
      <div class="form-row padding-top" *ngIf="beneficiarioPedidoParam">
        <div class="col-md-4 pl-0">
          <label>ID</label>
          <p>{{ beneficiarioPedido['id']?.id }}</p>
        </div>
        <div class="col-md-4">
          <label>Data de cadastramento</label>
          <p>{{beneficiarioPedido.dataCadastramento | date: 'short'}}</p>
        </div>
        <div class="col-md-4">
          <label>Usuário</label>
          <p>{{beneficiarioPedido.codigoUsuarioCadastramento}}</p>
        </div>
      </div>
      <div class="form-row padding-top">
        <div class="col-md-6 mb-15 pl-0">
          <asc-select-tipo-processo
            [control]="idTipoProcesso"
            id="idTipoProcesso"
            label="Tipo de pedido"
            [required]="true"
            [disabled]="beneficiarioPedidoParam != null"
            (dadoSelecionado)="onChangeTipoProcesso($event)"
          ></asc-select-tipo-processo>
        </div>
       
        <div class="col-md-6 mb-15">
          <label class="control-label" [class.obrigatorio]="!beneficiarioPedidoParam" for="idTipoBeneficiario">Tipo Beneficiário</label>
          <div *ngIf="beneficiarioPedidoParam">
              <input type="text" class="form-control" formControlName="nomeBeneficario">
          </div>
          <div *ngIf="!beneficiarioPedidoParam">
            
            <asc-multiSelect
              id="idTipoBeneficiario"
              [required]="!beneficiarioPedidoParam"
              [options]="listComboTipoBeneficiario"
              [control]="getCampoTiposBeneficiario"
              [loading]="loadinTipoBeneficiario"
            ></asc-multiSelect>
            <div *ngIf="formulario.get('tiposBeneficiario').invalid && (formulario.get('tiposBeneficiario').dirty || formulario.get('tiposBeneficiario').touched)" class="error-form" [ngStyle]="compStyle">
              <div>Selecione um item da lista.</div>
          </div>
          </div>
        </div>
      </div>
      
      
      <div *ngIf="beneficiarioPedidoParam; else perfil" style="padding-top: 10px" class="form-row mb-15">
            <div class="p-0 col-md-3">
              <p-checkbox
                inputId="inativo" name="inativo" formControlName="inativo" [binary]="true"
                (onChange)="onChangeInativo($event)"
              ></p-checkbox>
              <label class="control-label" for="inativo">Inativo</label>
            </div>

            <div class="col-md-3" *ngIf="!inativo.value; else campoDataInativacao">
              &nbsp;
            </div>

            <ng-template #campoDataInativacao>
              <div class="col-md-3" >
                <label class="control-label" for="dataInativacao">Data da Inativação</label>
                <asc-input-date
                  [control]="dataInativacao" 
                  inputId="dataInativacao"
                  label="" id="dataInativacao"
                ></asc-input-date>
                <div *ngIf="formulario.hasError('inativoMatch')" class="error-form">
                  <div>Campo obrigatório não informado.</div>
                </div>
              </div>

            </ng-template>

            <div class="col-md-6 pr-0">
              <label class="control-label" for="tiposBeneficiarios">Tipos de Beneficiários Associados {{ beneficiarioPedidoParam ? 'Ativos' : '' }}</label>
              <div *ngIf="beneficiarioPedidoParam && listComboTipoBeneficiario">
                <asc-dropdown
                  [items]="listComboTipoBeneficiario" 
                  [control]="tiposBeneficiario"
                  id="tiposBeneficiarios"
                  [placeholder]="listComboTipoBeneficiario.length + ' selecionados'">
                </asc-dropdown>
              </div>
            </div>
      </div>
      
      <div class="form-row">
        <div *ngIf="beneficiarioPedidoParam; then perfil"></div>
      </div>

      <ng-template #perfil>
        <div class="col-md-6 mb-15  pl-0">
          <label class="control-label" for="idTipoBeneficiario">Perfis permitidos</label>
          <p-multiSelect
            id="idPerfil"
            [options]="listComboPerfil"
            formControlName="perfis" 
            [required]="false"W
            class="form-control2 custom-border"
            selectedItemsLabel="{0} itens selecionados"
            defaultLabel="Selecione as opções"
          ></p-multiSelect>
        </div>
      </ng-template>

      <div class="col-xs-12 barra-botoes">
        <button
          class="btn back-btn" (click)="voltar()" id="btnFormVoltar2">
          <span class="fa fa-reply fa-fw"></span>Voltar
        </button>
        <button
          *ngIf="beneficiarioPedidoParam" class="btn clean-btn" (click)="excluir()" id="btnFormExcluir">
          <span *ngIf="!loadingRM">
            <span class="fa fa-remove fa-fw"></span>Excluir
          </span>
          <span
          *ngIf="loadingRM"
            [ngStyle]="{ display: showProgress && 'block' }"
            class="loading-spinner"
          >
            <p-progressSpinner
              animationDuration=".5s"
              strokeWidth="4"
              [style]="{ width: '100%', height: '100%' }"
            >
            </p-progressSpinner>
          </span>
        </button>
        <button
          *ngIf="id" class="btn clean-btn" (click)="restaurarCampos()" id="btnFormRestaurar">
          Restaurar Campos
        </button>
        <button
          class="btn back-btn" (click)="limparCampos()"
          id="btnFormLimparCampos" *ngIf="!id">
          <span class="fa fa-trash fa-fw"></span>Limpar Campos
        </button>
        <button
          class="btn continue-btn" (click)="salvar()"
          [disabled]="!formulario.valid"
          id="btnFormSalvar">
          <span *ngIf="!loading" >
            <span class="fa fa-save fa-fw"></span>Salvar
          </span>
          <span
            *ngIf="loading"
            [ngStyle]="{ display: showProgress && 'block' }"
            class="loading-spinner"
          >
            <p-progressSpinner
              animationDuration=".5s"
              strokeWidth="4"
              [style]="{ width: '100%', height: '100%' }"
            >
            </p-progressSpinner>
          </span>
        </button>
      </div>
    </form>
  </section>
</div>
