<form
  #formDirective="ngForm"
  [formGroup]="formConsulta"
  style="min-width: 48em"
>
  <div class="ui-g">
    <div class="ui-g-12 no-padding-left no-padding-right relative">
      <asc-select-procedimento
        selectId="procedimento"
        [required]="true"
        (dadoSelecionado)="procedimentoSelecionado($event)"
        @fadeInOut
        [control]="formConsulta.get('idProcedimento')"
        [label]="'Procedimento'"
        [parametros]="parametroSelectProcedimento"
        [tipoAcaoService]="CONSULTAR_PROCEDIMENTO_POR_TIPO_PROCESSO"
        formControlName="idProcedimento"
        style="border-left: none !important"
      >
      </asc-select-procedimento>
    </div>
  </div>

  <div class="ui-g">
    <!-- Início da Colunas da esquerda  -->
    <div class="ui-g-12 ui-md-6 no-padding-left">
      <!-- Especialidade -->
      <div
        *ngIf="mostrarCampo('idEspecialidade')"
        @fadeInOut
        class="ui-g-12 ui-md-12 custom-form-grid no-padding-left"
      >
        <asc-select-especialidade
          selectId="especialidade"
          (dadoSelecionado)="especialidadeSelecionado($event)"
          (dadosBackend)="especialidadesSelecionados($event)"
          *ngIf="showFieldEspecialidade"
          [required]="true"
          [control]="formConsulta.get('idEspecialidade')"
          [parametros]="especialidadeParams"
          formControlName="idEspecialidade"
          label="Especialidade"
          style="border-left: none !important"
        >
        </asc-select-especialidade>
      </div>
      <!-- Especialidade -->

      <div
        *ngIf="mostrarCampo('idAutorizacaoPrevia')"
        @fadeInOut
        class="ui-g-12 ui-md-12 custom-form-grid no-padding-left"
      >
        <label
          class="label-campo-card"
          [class.obrigatorio]="autorizacaoPreviaObrigatorio"
          >Autorização Prévia
          <small *ngIf="!autorizacaoPreviaObrigatorio">Opcional</small></label
        >
        <div *ngIf="escolherCampoAutorizacaoPrevia == 0; else naoWeb">
          <asc-select-autorizacao-previa
            selectId="autorizacaoPrevia"
            [parametros]="autorizacaoPreviaParams"
            [control]="form.get('idAutorizacaoPrevia')"
            (dadoSelecionado)="autorizacaoPreviaSelecionado($event)"
            (dadosBackend)="autorizacoesPreviasSelecionados($event)"
            formControlName="idAutorizacaoPrevia"
            label=""
            style="border-left: none !important"
          >
          </asc-select-autorizacao-previa>
        </div>
        <ng-template #naoWeb>
          <asc-dropdown
            (selected)="autorizacaoPreviaNaoWebSelecionada($event)"
            [items]="autorizacoesPrevia"
            [control]="form.get('idAutorizacaoProcedimento')"
          ></asc-dropdown>
        </ng-template>
      </div>
    </div>
    <!-- Fim da Colunas da esquerda  -->
    <!-- Início da Colunas da direita  -->
    <div class="ui-g-12 ui-md-6">
      <div
        *ngIf="mostrarCampo('valorUnitarioPago')"
        @fadeInOut
        class="ui-g-12 ui-md-12 custom-form-grid no-padding-right"
      >
        <asc-input-money-type
          [control]="formConsulta.get('valorUnitarioPago')"
          id="valorUnitarioPago"
          [required]="true"
          label="Valor unitário pago"
        >
          <asc-input-error
            [msgErro]="'O Valor Unitário Pago deve ser maior do que 0 (zero).'"
            nomeErro="menorIgualZero"
          ></asc-input-error>
        </asc-input-money-type>
        <div class="error-form" *ngIf="erroValorDocumentoFiscal">
          {{ bundle("MA083") }}
        </div>
      </div>

      <div
        *ngIf="mostrarCampo('dataAtendimento')"
        @fadeInOut
        class="ui-g-12 ui-md-12 custom-form-grid no-padding-right"
      >
        <asc-input-date
          [required]="true"
          [control]="formConsulta.get('dataAtendimento')"
          id="dataAtendimento"
          label="Data do atendimento"
        >
          <asc-input-error
            [msgErro]="
              'Data do atendimento deve ser menor ou igual à Data atual.'
            "
            nomeErro="dataAtualMenor"
          ></asc-input-error>
        </asc-input-date>
      </div>
    </div>
    <!-- Fim da Colunas da direita  -->
  </div>

  <div *ngIf="isEditing && isToShowButtons" @fadeInOut class="flex-end">
    <button
      (click)="adicionarProcedimento(formDirective, $event)"
      [disabled]="formConsulta?.invalid || loading"
      class="custom-btn-confirm"
    >
      <span *ngIf="loading" style="height: 1.6em; width: 4em">
        <p-progressSpinner
          [style]="{ width: '25px', height: '25px' }"
          animationDuration=".5s"
          fill="#EEEEEE"
          strokeWidth="4"
        >
        </p-progressSpinner>
      </span>
      <span *ngIf="!loading" class="span-btn">{{
        isEditing ? "Concluir alteração" : "Adicionar"
      }}</span>
    </button>

    <asc-button-primary
      (onClick)="clickButtonCancelarProcedimento(formDirective, $event)"
      [title]="isEditing ? 'Cancelar' : 'Limpar'"
    ></asc-button-primary>
  </div>
</form>
