<!-- Page Header-->
<div class="container">
    <div class="col-md-12 breadcrumb-header">
        <ul class="breadcrumb">
            <li><span (click)="voltar()" class="voltar"><i class="fa fa-arrow-left" aria-hidden="true"></i>Voltar</span>
            </li>
            <a routerLink="/home">Início</a>
            <em class="fa fa-chevron-right"></em> Administração
            <em class="fa fa-chevron-right"></em> Parâmetros
            <em class="fa fa-chevron-right"></em> Documento por Tipo de Pedido
        </ul>
    </div>

    <div class="title-type">
        <h1 class="titulo-pagina">Documento por Tipo de Pedido</h1>
    </div>

    <section class="row">
        <form novalidate>
            <div class="form-row">
                <div class="col-md-6 mb-15 pl-0">
                    <label class="control-label">Tipo de Pedido</label>
                    <asc-multiSelect
                            id="tiposProcesso"
                            [options]="listComboTipoProcesso"
                            [control]="formulario.get('tiposProcesso')"
                    ></asc-multiSelect>
                </div>
                <div class="col-md-3 mb-15 pl-0">
                    <label class="control-label">Tipo de Beneficiário</label>
                    <asc-multiSelect
                            id="tiposBeneficiarios"
                            [options]="listComboTipoBeneficiario"
                            [control]="formulario.get('tiposBeneficiario')"
                    ></asc-multiSelect>
                </div>
                <div class="col-md-3 mb-15 pl-0">
                    <label class="control-label">Motivo de Solicitação</label>
                    <asc-multiSelect
                            id="motivoDeSolicitacao"
                            [options]="listComboMotivoDeSolicitacao"
                            [control]="formulario.get('motivosDeSolicitacao')"
                    ></asc-multiSelect>
                </div>
            </div>
            <div class="form-row">
                <div class="col-md-6 mb-15 pl-0">
                    <label class="control-label">Documentos</label>
                    <asc-multiSelect
                            id="documentos"
                            [options]="listComboTipoDocumento"
                            [control]="formulario.get('documentos')"
                    ></asc-multiSelect>
                </div>
                <div class="col-md-3 mb-15 pl-0">
                    <label class="control-label">Estado Civil</label>
                    <asc-multiSelect
                            id="estadoCivil"
                            [options]="listComboEtadoCivil"
                            [control]="formulario.get('estadoCivil')"
                    ></asc-multiSelect>
                </div>
                <div class="col-md-3 mb-15 pl-0">
                    <label class="control-label">Sexo</label>
                    <asc-multiSelect
                            id="sexo"
                            [options]="sexos"
                            [control]="formulario.get('sexo')"
                    ></asc-multiSelect>
                </div>
            </div>
            <div class="form-row">
                <div class="col-md-2 mb-15 pl-0">
                    <p-checkbox
                            [binary]="true"
                            label="Obrigatório"
                            inputId="obrigatorio"
                            [formControl]="formulario.get('obrigatorio')">
                    </p-checkbox>
                </div>
                <div class="col-md-2 p-0">
                    <p-checkbox
                            [binary]="true"
                            label="Somente Ativos"
                            inputId="somenteAtivos"
                            [formControl]="formulario.get('somenteAtivos')"
                    ></p-checkbox>
                </div>
            </div>

            <div class="col-xs-12 barra-botoes">
                <button (click)="limparCampos()" type="button" id="btnLimparCampos" class="btn back-btn">
                    <span class="fa fa-trash fa-fw"></span>Limpar Campos
                </button>
                <button type="button" id="btnNovaPatologia" class="btn clean-btn" (click)="novoPrazo()">
                    <span class="fa fa-plus fa-fw"></span>Incluir Documento por Tipo de Pedido
                </button>
                <button (click)="pesquisar()" type="submit" id="btnPesquisar" class="btn continue-btn">
                    <span class="fa fa-search fa-fw"></span>Pesquisar
                </button>
            </div>

        </form>
    </section>
</div>
