<!-- Page Header-->
<div class="container">
  <div class="col-md-12 breadcrumb-header">
    <ul class="breadcrumb">
      <li><span (click)="voltar()" class="voltar"><i class="fa fa-arrow-left" aria-hidden="true"></i>Voltar</span></li>
      <a routerLink="/home">Início</a>
      <em class="fa fa-chevron-right"></em>
      Administração
      <em class="fa fa-chevron-right"></em>
      Parâmetros
      <em class="fa fa-chevron-right"></em>
      <a routerLink="..">E-mail por Ocorrência</a>
      <em class="fa fa-chevron-right"></em>
      E-mail por Situação – Ocorrência
    </ul>
  </div>

  <div class="title-type">
    <h1 class="titulo-pagina">E-mail por Ocorrência – Resultado</h1>
  </div>

  <section>
    <div class="row p-0 col-md-12">
      <h4>Dados da Pesquisa</h4>
    </div>

    <div class="clearfix"></div>

    <div class="row">
      <div class="p-0 col-xs-6">
        <label class="control-label" for="situacao">Ocorrência</label>
        <p id="situacao">{{descricaoSituacoes}}</p>
      </div>

      <div class="col-xs-6">
        <label class="control-label" for="tipo">Tipo de Pedido</label>
        <p id="tipo">{{descricaoTiposProcesso}}</p>
      </div>
    </div>

    <div class="row">
      <div class="p-0 col-xs-6">
        <label class="control-label" for="beneficiario">Tipo de Beneficiário</label>
        <p id="beneficiario">{{descricaoTiposBeneficiario}}</p>
      </div>

      <div class="col-xs-6">
        <label class="control-label">Somente Ativos</label>
        <p>{{filtro.somenteAtivos ? "Sim" : "Não"}}</p>
      </div>
    </div>
    <div class="row" *ngIf="filtro.palavraChave">
      <div class="p-0 col-xs-6">
        <label class="control-label">Palavra-chave</label>
        <p>{{filtro.palavraChave}}</p>
      </div>
    </div>

    <div class="clearfix"></div>

    <div class="row p-0 col-md-9">
      <h4>Resultado da Consulta</h4>
    </div>

    <div class="row p-0 col-md-12">
      <div class="col-xs-3 search-inp p-0" style="margin: 5px 0 8px; border-bottom: 0 none">
        <input #gb type="text" class="form-control filtro-caixa" size="50" placeholder="Digite para filtrar resultado">
        <em class="fas fa-search"></em>
      </div>
      <p-table
        id="caixa-table"
        [value]="listaEmails"
        [rows]="5"
        [paginator]="true"
        [pageLinks]="5"
        [rowsPerPageOptions]="[5,10,20]"
        [loading]="loading"
        [reorderableColumns]="true"
        sortField="id"
        [sortOrder]="-1"
        [totalRecords]="listaTotal"
        styleClass="table table-striped table-sm table-hover">
        <ng-template pTemplate="emptymessage">
          <tr>
            <td colspan="8">{{bundle('MA003')}}</td>
          </tr>
        </ng-template>
        <ng-template pTemplate="header">
          <tr>
            <th scope="col" [pSortableColumn]="'id'" style="width:60px">ID <p-sortIcon [field]="'id'"></p-sortIcon></th>
            <th scope="col" [pSortableColumn]="'nomeSituacaoProcesso'">Ocorrência <p-sortIcon [field]="'nomeSituacaoProcesso'"></p-sortIcon></th>
            <th scope="col" [pSortableColumn]="'nomeTiposProcesso'">Tipos de Pedido <p-sortIcon [field]="'nomeTiposProcesso'"></p-sortIcon></th>
            <th scope="col" [pSortableColumn]="'nomeTiposBeneficiario'">Tipo de Benef. <p-sortIcon [field]="'nomeTiposBeneficiario'"></p-sortIcon></th>
            <th scope="col" [pSortableColumn]="'assunto'">Assunto <p-sortIcon [field]="'assunto'"></p-sortIcon></th>
            <th scope="col" [pSortableColumn]="'dataCadastramento'">Cadastramento <p-sortIcon [field]="'dataCadastramento'"></p-sortIcon></th>
            <th scope="col" [pSortableColumn]="'inativo'" style="width:90px">Inativo <p-sortIcon [field]="'inativo'"></p-sortIcon></th>
            <th scope="col">Ação</th>
          </tr>
        </ng-template>
        <ng-template pTemplate="body" let-row>
          <tr>
            <td>{{row.id}}</td>
            <td>{{row.nomeSituacaoProcesso}}</td>
            <td>{{row.nomeTiposProcesso}}</td>
            <td>{{row.nomeTiposBeneficiario}}</td>
            <td>{{row.assunto}}</td>
            <td>{{row.dataCadastramento | date : 'dd/MM/yyyy'}}</td>
            <td>{{row.inativo}}</td>
            <td>
              <span title="Editar registro" [routerLink]="['../editar', row.id]" id="editar" style="cursor: pointer">
                <em class="fas fa-pen"></em>
              </span>
            </td>
          </tr>
        </ng-template>
      </p-table>
    </div>

    <div class="col-xs-12 p-0 barra-botoes">
      <button class="btn back-btn" (click)="voltar()">
        <span class="fa fa-reply fa-fw"></span>
        Voltar
      </button>
      <button class="btn clean-btn" routerLink="../novo">
        <span class="fa fa-plus fa-fw"></span>
        Incluir E-mail por Ocorrência
      </button>
    </div>
  </section>
</div>
