<div class="container">
  <div class="col-md-12 breadcrumb-header">
    <ul class="breadcrumb">
      <li><span (click)="voltar()" class="voltar"><i class="fa fa-arrow-left" aria-hidden="true"></i>Voltar</span></li>
      <a routerLink="/home">Início</a>
      <em class="fa fa-chevron-right"></em> Administração
      <em class="fa fa-chevron-right"></em> Parâmetros
      <em class="fa fa-chevron-right"></em>
      <a routerLink="/manutencao/parametros/gerenciar-medicamentos">Medicamento</a>
      <em class="fa fa-chevron-right"></em> Medicamento – Resultado
    </ul>
  </div>
  <div class="title-type">
    <h1 class="titulo-pagina">Medicamento – Resultado</h1>
  </div>

  <section class="row">
    <div *ngIf="!isNaoPossuiFiltros()">
      <div class="p-0 col-md-12">
        <h4>Dados da Pesquisa</h4>
      </div>

      <div class="clearfix"></div>

      <div class="p-0 col-xs-2" *ngIf="filtroConsultaMedicamento.listaLaboratorios">
        <label class="control-label" for="listaLaboratorios">Laboratório</label>&nbsp;<br>
        <p id="listaLaboratorios">{{listaLaboratoriosNome}}</p>
      </div>

      <div class="p-0 col-xs-2" *ngIf="filtroConsultaMedicamento.listaMedicamentos">
        <label class="control-label" for="listaMedicamentos">Nome do medicamento</label>&nbsp;<br>
        <p id="listaMedicamentos">{{listaMedicamentosNome}}</p>
      </div>

      <div class="p-0 col-xs-2" *ngIf="filtroConsultaMedicamento.apresentacao">
        <label class="control-label" for="apresentacao">Apresentação</label>&nbsp;<br>
        <p id="apresentacao">{{filtroConsultaMedicamento.apresentacao}}</p>
      </div>

      <div class="p-0 col-xs-2" *ngIf="filtroConsultaMedicamento.numeroTuss">
        <label class="control-label" for="tuss">Número TUSS</label>&nbsp;<br>
        <p id="numeroTuss">{{filtroConsultaMedicamento.numeroTuss}}</p>
      </div>

      <div class="p-0 col-xs-2" *ngIf="filtroConsultaMedicamento.ativos">
        <label class="control-label" for="ativos">Somente ativos</label>&nbsp;<br>
        <p id="ativos">{{filtroConsultaMedicamento.ativos === true ? 'Sim' : 'Não'}}</p>
      </div>

      <div class="p-0 col-xs-2" *ngIf="filtroConsultaMedicamento.generico">
        <label class="control-label" for="generico">Genérico</label>&nbsp;<br>
        <p id="generico">{{filtroConsultaMedicamento.generico === true ? 'Sim' : 'Não'}}</p>
      </div>

      <div class="clearfix"></div>
    </div>

    <div class="row p-0 col-md-12">
      <h4>Resultado da Consulta</h4>
    </div>

    <div class="clearfix"></div>

    <div class="p-0 col-md-12">
      <div class="col-xs-3 search-inp p-0" style="margin: 5px 0 8px; border-bottom: 0 none">
        <input #gb type="text" class="form-control filtro-caixa" pInputText size="50"
               placeholder="Digite para filtrar resultado">
        <em class="fas fa-search"></em>
      </div>

      <p-table
        id="caixa-table" [value]="listaMedicamento" [rows]="10"
        [paginator]="true" [pageLinks]="5" [sortOrder]="-1"
        emptyMessage="Nenhum resultado encontrado para os filtros informados." [loading]="loading"
        [rowsPerPageOptions]="[5,10,20]" [reorderableColumns]="true" sortField="id"
        styleClass="table table-striped table-sm table-hover text-center">
        <ng-template pTemplate="header">
          <tr>
            <th [pSortableColumn]="'nomeLaboratorio'" scope="col">Laboratório <p-sortIcon [field]="'nomeLaboratorio'"></p-sortIcon></th>
            <th [pSortableColumn]="'nomeMedicamento'" scope="col">Nome do medicamento <p-sortIcon [field]="'nomeMedicamento'"></p-sortIcon></th>
            <th [pSortableColumn]="'apresentacao'" scope="col">Apresentação <p-sortIcon [field]="'apresentacao'"></p-sortIcon></th>
            <th [pSortableColumn]="'numeroTuss'" scope="col">Número TUSS <p-sortIcon [field]="'numeroTuss'"></p-sortIcon></th>
            <th [pSortableColumn]="'valor'" scope="col">Valor do Medicamento <p-sortIcon [field]="'valor'"></p-sortIcon></th>
            <th [pSortableColumn]="'ativo'" style="width:90px" scope="col">Ativo <p-sortIcon [field]="'ativo'"></p-sortIcon></th>
            <th scope="col">Ação</th>
          </tr>
        </ng-template>
        <ng-template pTemplate="body" let-row>
          <tr>
            <td>{{row.nomeLaboratorio}}</td>
            <td>{{row.nomeMedicamento}}</td>
            <td>{{row.apresentacao}}</td>
            <td>{{row.numeroTuss}}</td>
            <td>{{row.valor | currency:'BRL': true}}</td>
            <td>{{row.ativo}}</td>
            <td>
              <span title="Editar registro" [routerLink]="['../editar', row.id]" id="editar">
                <em class="fas fa-pen"></em>
              </span>
            </td>
          </tr>
        </ng-template>
      </p-table>
    </div>

    <div class="p-0 col-xs-12 barra-botoes">
      <button
        class="btn back-btn" routerLink="/manutencao/parametros/gerenciar-medicamentos" id="btnFormVoltar">
        <span class="fa fa-reply fa-fw"></span>Voltar
      </button>
      <button type="button" id="btnNovoMotivoNegacao" class="btn clean-btn" routerLink="../novo">
        <span class="fa fa-plus fa-fw"></span>Incluir Medicamento
      </button>
    </div>

  </section>
</div>
