@mixin add-btn-hover($mainColor, $hoverColor, $borderColor, $spanColor, $spanHoverColor) {
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 3px;
  background-color: $mainColor;
  border-color: $borderColor;
  transition: 250ms ease-in-out;
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
  padding: 10px 16px;
  min-width: 125px;

  span {
    color: $spanColor;
    transition: 300ms ease-in-out;
  }

  &:hover,
  &:active {
    background-color: $hoverColor;
    transition: 250ms ease-in-out;

    span {
      color: $spanHoverColor;
      transition: 300ms ease-in-out;
    }
  }
}

div.custom-container {
  width: 100%;
  padding: 12px;
  max-width: 794px;
  margin: 0 auto;

  p.titulo {
    font-family: 'Caixa Std Bold', sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 18px;
    line-height: 25px;
    color: #0065B7;
    margin-bottom: 24px;

    &.margin-top-32 {
      margin-top: 32px;
    }

    &.max-565 {
      width: 100%;
      max-width: 565px;
    }
  }
}

.form-container {
  max-width: 778px;
  margin: 0 auto;
  padding: 0 8px;
}

.form-row {
  display: flex;
  gap: 16px;
  margin-bottom: 16px;
  flex-wrap: wrap;
}

.form-field-three-quarters {
  flex: 1 1 calc(75% - 8px);
  max-width: calc(75% - 8px);
  min-width: 280px;
}

.form-field-half {
  flex: 1 1 calc(50% - 8px);
  max-width: calc(50% - 8px);
  min-width: 200px;
}

.form-field-quarter {
  flex: 1 1 calc(25% - 8px);
  max-width: calc(25% - 8px);
  min-width: 120px;
}

.custom-input-label {
  font-family: 'Caixa Std Bold', sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 100%;
  display: flex;
  align-items: center;
  color: #2E484D;

  &.absolute {
    position: absolute;
    background-color: #fff;
  }

  small {
    font-family: 'Caixa Std Regular', sans-serif;
    font-style: normal;
    font-size: 16px;
    line-height: 100%;
    display: flex;
    align-items: center;
    color: #5C9099;
    margin: 0 8px;
    font-weight: 200;
  }
}

.relative {
  position: relative;
}

@media screen and (max-width: 768px) {
  .form-field-three-quarters,
  .form-field-half,
  .form-field-quarter {
    flex: 1 1 100%;
    max-width: 100%;
  }
}

@media screen and (max-width: 500px) {

}
