<ng-container *ngIf="!isInResumo; then button else paperclip"></ng-container>

<ng-template #button>
  <div class="custom-card-footer">
    <dsc-button *ngIf="!disabled" label="Adicionar arquivo" variant="secondary" iconPrefix="attach_file" (click)="onButtonClick(buttonDirectiveRef)" />
    <dsc-progress-spinner
          [style]="{width: '25px', height: '25px'}"
          animationDuration=".5s"
          fill="#EEEEEE"
          strokeWidth="4">
        </dsc-progress-spinner>

    <input #buttonDirective type="file"
             [disabled]="disabled"
             [accept]="extensions"
             (change)="onChangeFile(buttonDirective)"
             [id]="inputId"
             [multiple]="true"
             >
  </div>
</ng-template>

<ng-template #paperclip>
  <dsc-button [disabled]="disabled" iconButton variant="secondary" icon="attach_file" (click)="onButtonClick(paperClipDirectiveRef)" />
  <input #paperClipDirective [accept]="extensions" [disabled]="disabled" type="file"
           (change)="onChangeFile(paperClipDirective)" [multiple]="true" style="display: none;" >

</ng-template>
