<ng-container *ngIf="!isInResumo; then button else paperclip"></ng-container>

<ng-template #button>
  <div class="custom-card-footer">
    <label [attr.disabled]="disabled" [class.disabled]="disabled">
      <span *ngIf="!disabled">
        <svg class="icon-clip"></svg>
        <span>Adicionar arquivo</span>
      </span>
      <span *ngIf="disabled">
        <p-progressSpinner
          [style]="{width: '25px', height: '25px'}"
          animationDuration=".5s"
          fill="#EEEEEE"
          strokeWidth="4">
        </p-progressSpinner>
      </span>
      <input #buttonDirective type="file"
             [disabled]="disabled"
             [accept]="extensions"
             (change)="onChangeFile(buttonDirective)"
             [id]="inputId"
             [multiple]="true">
    </label>
  </div>
</ng-template>

<ng-template #paperclip>
  <label [attr.disabled]="disabled" [class.disabled]="disabled" class="file-selector"
         style="margin-right: 0; cursor: pointer;">
    <input #paperClipDirective [accept]="extensions" [disabled]="disabled" type="file"
           (change)="onChangeFile(paperClipDirective)" [multiple]="true">
    <i class="fa fa-paperclip" aria-hidden="true"></i>
  </label>
</ng-template>
