<div class="resumo-container">
  <div class="bottom-bordered">
    <div class="titulo">
      Confira o resumo do seu pedido e, se tudo estiver correto, clique em
      "Finalizar".
    </div>
  </div>
  <div class="resumo-body">
    <asc-card-component>
      <asc-card-title>
        <div class="titulo-card">Dados do beneficiário</div>
      </asc-card-title>
      <asc-card-content>
        <div class="ui-g">
          <div class="ui-g-12 no-padding">
            <label class="control-label">Beneficiário</label>
            <p>{{ beneficiario?.nome | uppercase }}</p>
          </div>
          <div class="ui-g fl-bt">
            <div class="ui-g-12 ui-md-12 custom-form-grid margin-16">
              <label class="control-label"
                >Informações adicionais de contato</label
              >
            </div>
            <div class="ui-g-12 ui-md-12 no-padding">
              <label class="control-label block relative">Email</label>
              <p>{{ solicitacao?.email | campoVazioHifen }}</p>
            </div>
            <div class="ui-g-12 ui-md-12 no-padding margin-16">
              <label class="control-label block">Telefone</label>
              <p>{{ solicitacao?.telefoneContato | campoVazioHifen }}</p>
            </div>
          </div>
        </div>
      </asc-card-content>
    </asc-card-component>

    <asc-card-component>
      <asc-card-title>
        <div class="titulo-card">Dados do pedido</div>
      </asc-card-title>
      <asc-card-content>
        <div class="ui-g">
          <div class="ui-g-12 no-padding">
            <label class="control-label">Tipo de autorização</label>
            <p>{{ tipoProcesso?.nome }}</p>
          </div>
          <div class="ui-g-12 no-padding margin">
            <label class="control-label">Finalidade</label>
            <p>{{ motivoSolicitacao?.nome }}</p>
          </div>
        </div>
      </asc-card-content>
    </asc-card-component>

    <asc-card-component *ngIf="procedimentos && procedimentos['length'] > 0">
      <asc-card-title>
        <div class="titulo-card">Procedimentos do pedido</div>
      </asc-card-title>
      <asc-card-content>
        <div *ngFor="let pedidoProcedimento of procedimentos; let i = index" class="procedimento-item" [class.odd]="i % 2 !== 0">
          <div class="ui-sm-2 card-flt-mr">
            <button
              class="btn-editar"
              (click)="editarProcedimento(pedidoProcedimento, i)"
              [disabled]="isEditingProcedimento"
            >
              <i class="fa fa-pencil" aria-hidden="true"></i>
            </button>
            <button
              class="btn-excluirProcedimento"
              (click)="excluirProcedimento(pedidoProcedimento)"
              [disabled]="isEditingProcedimento"
              *ngIf="procedimentos.length >= 2"
              @fadeInOut
            >
              <i aria-hidden="true" class="fa fa-trash"></i>
            </button>
          </div>

          <div class="ui-g">
            <div class="ui-g-12 no-padding">
              <label class="control-label">Procedimento</label>
              <p>
                <strong>{{
                  pedidoProcedimento?.procedimento?.estruturaNumerica
                }}</strong>
                - {{ pedidoProcedimento?.procedimento?.descricaoProcedimento }}
              </p>
            </div>
          </div>
          <div class="ui-g margin">
            <div class="ui-g-6 no-padding">
              <label class="control-label">{{
                isTipoProcessoOdontologico() ? "Região odontológica" : "Grau"
              }}</label>
              <p>
                {{
                  pedidoProcedimento?.grauProcedimento?.nome | campoVazioHifen
                }}
              </p>
            </div>
            <div class="ui-g-6 no-padding">
              <label class="control-label">Quantidade solicitada</label>
              <p>{{ pedidoProcedimento?.qtdSolicitada }}</p>
            </div>
          </div>
        </div>

        <div *ngIf="addProcedimento" class="procedimento-box" @fadeInOut>
          <div class="box-novo-procedimento">
            <asc-procedimento-form
              [inResumo]="true"
              [pedidoProcedimentoFormInput]="pedidoProcedimentoForm"
              [showButtonResumo]="true"
              [parametroSelectProcedimento]="{
                idTipoProcesso: pedidoCadastrado?.idTipoProcesso,
                isIndisponibilidadeRedeCredenciada:
                  isIndisponibilidadeRedeCredenciada
              }"
              (procedimento)="procedimentoSelecionado($event)"
              (pedidoProcedimentoForm)="adicionarNovoProcedimento($event)"
              (cancelarProcedimento)="cancelarAdicaoProcedimento()"
              (isEditingForm)="isEditingProcedimentoForm($event)"
              [pedido]="pedido"
              [beneficiario]="beneficiario"
            ></asc-procedimento-form>
          </div>
        </div>

        <div class="card-footer margin-16">
          <button
            (click)="criarProcedimento()"
            [disabled]="addProcedimento || isEditingProcedimento"
            class="btn-small btn-card-novo"
          >
            <i class="fa fa-plus" aria-hidden="true"></i>
            Adicionar procedimento
          </button>
        </div>
      </asc-card-content>
    </asc-card-component>
    <div
      *ngIf="
        exibirFormularioProfissionalExecutante;
        then editarProfissionalExecutanteForm;
        else visualizarProfissionalExecutante
      "
      @fadeInOut
    ></div>
    <ng-template #editarProfissionalExecutanteForm>
      <form [formGroup]="profissionalExecutanteForm">
        <asc-card-component>
          <asc-card-title>
            <div class="titulo-card">Profissional solicitante</div>
          </asc-card-title>
          <asc-card-content>
            <div class="ui-g">
              <div class="ui-g-8 no-padding">
                <asc-select-conselho-profissional
                  [control]="
                    profissionalExecutanteForm.get('idConselhoProfissional')
                  "
                  (dadoSelecionado)="conselhoSelecionado($event)"
                  label="Conselho profissional"
                  [required]="true"
                >
                </asc-select-conselho-profissional>
              </div>
              <div class="ui-g-8 no-padding margin-16">
                <asc-input-text
                  label="Número do Conselho"
                  [required]="true"
                  [control]="profissionalExecutanteForm.get('numeroConselho')"
                  [somenteNumeros]="true"
                  [maxlength]="15"
                >
                </asc-input-text>
                <small class="custom-form-group-info"
                  >Exemplo: CRM-DF-<strong>65123</strong></small
                >
              </div>
              <div class="ui-g-8 no-padding margin-16">
                <asc-select-uf
                  label="UF do conselho"
                  [placeholder]="'Selecione'"
                  (dadoSelecionado)="ufEstadoConselhoSelecionado($event)"
                  [control]="profissionalExecutanteForm.get('idEstadoConselho')"
                  [required]="true"
                >
                </asc-select-uf>
                <small class="custom-form-group-info"
                  >Exemplo: CRM-<strong>DF</strong>-65123</small
                >
              </div>
            </div>
            <div class="ui-g margin-16">
              <div class="titulo-card">
                Dados do profissional ou estabelecimento
              </div>
            </div>
            <div class="ui-g">
              <div class="ui-g-8 no-padding">
                <asc-cpf-cnpj
                  style="border-left: none !important"
                  label="CPF/CNPJ"
                  [control]="profissionalExecutanteForm.get('cpfCnpj')"
                  [required]="true"
                >
                </asc-cpf-cnpj>
              </div>
              <div class="ui-g-8 no-padding margin-16">
                <asc-input-text
                  label="Nome ou Razão social"
                  [control]="profissionalExecutanteForm.get('nomeProfissional')"
                  [required]="true"
                >
                </asc-input-text>
              </div>
            </div>
            <div class="ui-g">
              <div
                class="ui-g-2 no-padding margin-16"
                style="margin-right: 19px"
              >
                <asc-select-uf
                  label="UF"
                  [placeholder]="'Selecione'"
                  [control]="
                    profissionalExecutanteForm.get('idEstadoProfissional')
                  "
                  [required]="true"
                >
                </asc-select-uf>
              </div>
              <div class="no-padding margin-16" style="width: 313px">
                <asc-select-municipio
                  label="Município"
                  (dadoSelecionado)="municipioProfissionalSelecionado($event)"
                  [parametro]="{
                    idMunicipio: profissionalExecutanteForm.get(
                      'idEstadoProfissional'
                    ).value
                  }"
                  [control]="
                    profissionalExecutanteForm.get('idMunicipioProfissional')
                  "
                  [required]="true"
                >
                </asc-select-municipio>
              </div>
            </div>
            <div class="footer-buttons">
              <asc-button-secondary
                buttonId="cancelarProfissional"
                title="Cancelar"
                (onClick)="cancelarEdicaoProfissionalExecutante()"
              ></asc-button-secondary>
              <asc-button-primary
                buttonId="confirmarProfissional"
                title="Confirmar"
                [disabled]="profissionalExecutanteForm.invalid"
                (onClick)="salvarEdicaoProfissionalExecutante()"
              ></asc-button-primary>
            </div>
          </asc-card-content>
        </asc-card-component>
      </form>
    </ng-template>
    <ng-template #visualizarProfissionalExecutante>
      <asc-card-component>
        <asc-card-title>
          <div class="ui-sm-2 card-flt-mr">
            <button class="btn-editar" (click)="editarProfissionalExecutante()">
              <i class="fa fa-pencil" aria-hidden="true"></i>
            </button>
          </div>
          <div class="titulo-card">Profissional solicitante</div>
        </asc-card-title>
        <asc-card-content>
          <div class="ui-g">
            <div class="ui-g-12 no-padding">
              <label class="control-label">Conselho profissional</label>
              <p>{{ conselho?.label }}</p>
            </div>
            <div class="ui-g-12 no-padding margin-16">
              <label class="control-label">Número do conselho</label>
              <p>{{ profissional?.numeroConselho }}</p>
            </div>
            <div class="ui-g-12 no-padding margin-16">
              <label class="control-label">UF do conselho</label>
              <p>{{ ufEstadoConselho?.label }}</p>
            </div>
          </div>
          <div class="ui-g margin-16">
            <div class="titulo-card">
              Dados do profissional ou estabelecimento
            </div>
          </div>
          <div class="ui-g">
            <div class="ui-g-12 no-padding">
              <label class="control-label">CPF/CNPJ</label>
              <p>{{ profissional?.cpfCnpj }}</p>
            </div>
            <div class="ui-g-12 no-padding margin-16">
              <label class="control-label">Nome ou razão social</label>
              <p>{{ profissional?.nomeProfissional }}</p>
            </div>
            <div class="ui-g-12 no-padding margin-16">
              <label class="control-label">UF</label>
              <p>{{ municipioProfissional?.estado?.sigla }}</p>
            </div>
            <div class="ui-g-12 no-padding margin-16">
              <label class="control-label">Município</label>
              <p>{{ municipioProfissional?.nome }}</p>
            </div>
          </div>
        </asc-card-content>
      </asc-card-component>
    </ng-template>

    <div *ngIf="documentosCadastrados && documentosCadastrados.length">
      <asc-card-component class="docs-obrig">
        <asc-card-title>
          <div class="titulo-card">Documentos obrigatórios</div>
        </asc-card-title>
        <asc-card-content>
          <div class="ui-g no-padding">
            <div class="ui-g-12 no-padding">
              <asc-documento-card
                [documentos]="documentosCadastrados"
                (arquivosSelecionados)="arquivosSelecionados($event)"
                (documentosTipoProcessoSelecionados)="watchDocumentos($event)"
                (documentoTipoProcessoSelecionado)="
                  selecionarTipoDocumento($event)
                "
                (possuiFaltaDeArquivos)="possuiFaltaDeArquivos($event)"
                [isInResumo]="true"
              ></asc-documento-card>
            </div>
          </div>
        </asc-card-content>
      </asc-card-component>
    </div>

    <asc-card-component>
      <asc-card-title>
        <div class="titulo-card">Deseja adicionar alguma informação?</div>
      </asc-card-title>
      <asc-card-content>
        <div class="ui-g">
          <div class="ui-g-12 no-padding">
            <textarea
              [rows]="6"
              style="width: 100%"
              pInputTextarea
              [(ngModel)]="informacoesAdicionais"
              placeholder="Preencha com informações adicionais que você considere relevantes para a análise do seu pedido."
            ></textarea>
          </div>
        </div>
      </asc-card-content>
    </asc-card-component>
  </div>
</div>
<div class="footer">
  <asc-button-secondary
    buttonId="reiniciar"
    title="Reiniciar"
    (onClick)="abrirModalReiniciar()"
  ></asc-button-secondary>

  <asc-button-primary
    buttonId="finalizar"
    title="Finalizar"
    [showProgress]="showProgress"
    [disabled]="documentoNaoPossuiArquivos || showProgress"
    (onClick)="onSubmit()"
  ></asc-button-primary>
</div>

<!-- Modal Reiniciar usando DscDialog -->
<ng-template #modalReiniciarTemplate let-context>
  <div class="modal-reiniciar-content">
    <p class="modal-info-body">
      ATENÇÃO! Voltar ao início implicará na perda de todos os preenchimentos.
      Confirma a ação de reiniciar?
    </p>
    <div class="modal-reiniciar-footer">
      <button (click)="fecharModalReiniciar()" class="btn-cancelar" id="cancelar">
        Cancelar
      </button>
      <button (click)="reiniciarForm()" class="btn-continuar" id="continuar">
        Continuar
      </button>
    </div>
  </div>
</ng-template>
