/* Estilos específicos do asc-button-primary (se necessário) */
/* Deixar o design padrão vir da biblioteca DSC */
.btn-loading {
  background-color: #d6dce2;
  height: 40px;
  border: none;
  border-radius: 4px;
  width: 70px;
}
