h1 {
  border-bottom: none;
}

.text-align-center {
  text-align: center;
}

.text-align-right {
  text-align: right;
}

.margin-left-25 {
  margin-left: 25px;
}

.margin-top-15 {
  margin-top: 15px;
}

.color-darkorange {
  color: darkorange;
}

.ans-box {
  color: white;
  background-color: darkblue;
  padding: 4px 8px 4px 8px;
  border-radius: 4px;
}

.card-box {
  background-color: #f1f6f7;
  border-radius: 25px;
  padding: 40px 40px 20px 40px;
}

.input-box {
  background-color: #f1f6f7;
  border-radius: 4px;
  padding: 15px 20px;
}

h3 {
  border: none;
  padding-bottom: 0;
}

.no-padding-left {
  padding-left: 0;
}

.detalhe-aprovacao {
  color: #fff;
  background-color: #999999;
  border-radius: 4px;
  font-size: 10px;
  padding: 2px 5px;
  margin-left: 5px;
}

.det-option {
  color: #999999 !important;
}

p {
  margin: 0 !important;
}

.marginBottom {
  margin-bottom: 10px !important;
}

// Overwrite para ajustar ao tamanho colunas
h2.no-margin-bottom {
  margin-top: 20px;
  margin-bottom: 10px;
  width: 1500px !important;
}

.campo-pesquisa {
  display: flex;
  justify-content: flex-start;
  height: 34px;
  margin-bottom: 30px;
}

.body-centralizado ::ng-deep tbody td {
  text-align: center;
  vertical-align: middle;
}
