
.required-asterisk {
  color: red;
  margin-left: 2px;
}

.modal-fade {
  opacity: 0;
  transition: opacity 0.3s ease; /* Adiciona uma transição suave */
}

.mdl-body-custom {
  flex-grow: 1;
  padding: 15px;
  display: flex;
  flex-direction: column;
  height: 100%;
}

.arquivo-scroll-container {
  overflow-y: auto;
  margin-bottom: 15px;
}

.arquivo-card-container {
  display: flex;
  flex-direction: column;
}

.arquivo-card {
  border: 1px solid #5F758F;
  padding: 8px;
  margin: 6.5px 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.container-search-section {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 2em;
  margin-top: 2em;
}

.info-search-label {
  font-family: 'Caixa Std Bold', sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 21px;
  line-height: 140%;
  color: #005DA8;
}

.main-section {
  max-width: 1280px;
  padding: 0 .5em;
  margin: 2em auto 0;
}

.header-container {
  display: flex;
  align-items: center;
}

.upper-container {
  max-width: 1340px;
  margin: 4em auto 2em auto;
}

.s-1,
.s-2,
.s-3,
.s-4,
.s-5,
.s-6,
.s-7,
.s-8 {
  margin: 0 .125em;
  text-align: center;
}

.s-1 { min-width: 10%; }
.s-2 { width: 10%; }
.s-3 { width: 15%; }
.s-4 { width: 5%; }
.s-5 { width: 20%; }
.s-6 { width: 20%; }
.s-7 { width: 5%; }
.s-8 { width: 10%; }

@media (max-width: 800px) {
  .header-container {
    display: none;
  }
}

.form-group {
  padding-right: 0;
  padding-left: 0;
}

.fl-sb-btn {
  display: flex;
  justify-content: space-between;
}

.btn-success {
  color: #fff;
  background-color: #F39200;
  padding: 10px;
}

.btn-success:hover {
  color: #fff;
  background-color: #db6e00;
  transition: 250ms ease-in-out;
}

.btn-outline-primary {
  color: #004680 !important;
  background-color: transparent;
  background-image: none;
  border-color: #004680 !important;
  padding: 10px;
}

.btn-outline-primary:hover {
  color: #fff;
  background-color: #004680;
}

label.file-selector {
  background-color: #40A797;
  border: none;
  width: 35px;
  height: 35px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 3px;
  transition: 250ms ease-in-out;
  margin: 0 8px 0 4px;
  min-width: 35px;

  &:hover {
    background-color: #36877B;
    transition: 250ms ease-in-out;
  }

  i {
    color: #fff;
  }

  input[type="file"] {
    display: none;
  }
}

label.disabled, label.disabled:hover {
  background-color: #E5E5E5;
  cursor: not-allowed;
}
$primary: #005ca9;
div.custom-card-footer {
  padding-top: 10px;
  display: flex;
  justify-content: flex-end;
  align-items: center;

  label {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: $primary;
    border-radius: 3px;
    border: 1px solid $primary;
    padding: 8px 12px;
    cursor: pointer;
    transition: 250ms ease-in-out;

    &:hover,
    &:active {
      background-color: #36877B;
      transition: 250ms ease-in-out;
    }

    em,
    span {
      color: #fff;
      font-family: 'Caixa Std Bold', sans-serif;
    }

    em, i {
      margin-right: 8px;
    }
  }

  input {
    visibility: hidden;
    position: absolute;
  }
}

.arquivo-info {
  display: flex;
  justify-content: space-between;
  padding-right: 8px;
  width: 100%;
  align-items: center;
}

.arquivo-data {
  font-family: 'Caixa Std Bold', sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 13px;
  line-height: 16px;
  display: flex;
  align-items: center;
  text-align: right;
  color: #3A4859;
  margin: 0;

  i,
  em {
    margin-left: 10px;
    font-size: 20px;
    color: #0158AE;
  }
}

.arquivo-nome {
  font-family: 'Caixa Std Bold', sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 17px;
  display: flex;
  align-items: center;
  color: #3A4859;
  margin: 0;
}

.arquivo-actions {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 78px;

  button {
    width: 35px;
    height: 35px;
    display: flex;
    align-items: center;
    justify-content: center;
    border: none;
    border-radius: 3px;

    &:disabled {
      background-color: #E5E5E5;
      cursor: not-allowed;
    }

    em {
      color: #FFF;
    }

    &:first-child {
      background-color: #17A2B8;

      &:hover,
      &:active {
        background-color: #0f91a5;
      }
    }

    &:last-child {
      background-color: #DC3545;

      &:hover,
      &:active {
        background-color: #bb1c2c;
      }
    }
  }
}

.asc-modal-footer {
  display: flex;
  justify-content: flex-end;
  padding: 15px;
  border-top: 1px solid #ddd;
}
