div.finalidade-container {
  max-width: 782px;
  padding: 16px 8px;
  margin: 0 auto;

  div.custom-left-grid {
    width: 420px;
  }

  div.custom-right-grid {
    padding-left: 12px;
    max-width: 28em;

    p.grid-titulo {
      font-family: 'Caixa Std Bold', sans-serif;;
      font-style: normal;
      font-size: 18px;
      line-height: 22px;
      color: #40A797;
    }

    p.grid-info {
      font-family: 'Caixa Std Regular', sans-serif;
      font-style: normal;
      font-weight: 500;
      font-size: 16px;
      line-height: 19px;
      color: #3A4859;
    }

    ul.grid-info-list {
      padding-left: 15px;

      li {
        font-family: 'Caixa Std Regular', sans-serif;
        font-size: 16px;
        line-height: 21px;
        padding: 4px 0;
        color: #000000;
      }
    }

    span.grid-footer {
      font-family: 'Caixa Std Regular', sans-serif;
      font-style: normal;
      font-weight: normal;
      font-size: 14px;
      line-height: 16px;
      color: #000000;

      a,
      a:link {
        color: #F7941E;
        text-decoration: underline;
      }
    }
  }

  p.titulo {
    font-family: 'Caixa Std Bold', sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 18px;
    line-height: 33px;
    color: #0065B7;
    margin: 0 0 16px 0;
    max-width: 570px;
    box-sizing: border-box;
  }

  p.titulo.margin {
    margin-top: 40px;
  }

  div.custom-form-group-input {
    div.custom-input-container {
      position: relative;
    }

    button.input-btn {
      position: absolute;
      height: 100%;
      top: 0;
      right: 0;
      width: 27px;
      display: flex;
      justify-content: center;
      align-items: center;
      background-color: inherit;
      border: 1px solid #C3C3C3;
      box-sizing: border-box;
      border-radius: 0 3px 3px 0;

      i {
        color: #0E0E0E;
      }
    }
  }

  div.custom-form-group-select {
    position: relative;
    width: 100%;
    margin-bottom: 32px;


  }

  select,
  input {
    border: 1px solid #C3C3C3;
    box-sizing: border-box;
    border-radius: 3px;
    padding: 12px 8px;
    width: 100%;
  }
}

div.stepper-container {
  width: 100%;
  height: 50px;
  overflow-x: auto;
  overflow-y: hidden;
}

div.finalidade-footer {
  display: flex;
  justify-content: space-between;
  padding: 0 60px;
  margin-bottom: 50px;

  button.continue-btn {
    background: #F7941E;
    border: none;
    border-radius: 3px;
    display: flex;
    align-items: center;
    justify-content: center;
    max-width: 246px;
    width: 100%;

    span {
      font-family: 'Caixa Std Regular', sans-serif;
      font-style: normal;
      font-weight: normal;
      font-size: 18px;
      line-height: 25px;
      color: #FFFFFF;
      margin: 12px 8px;
    }

    &:hover,
    &:active {
      background: #db6e00;
      transition: 250ms ease-in-out;
    }

    &:disabled {
      background-color: #E5E5E5;
      cursor: not-allowed;
    }
  }

  button.back-btn {
    background: #fff;
    border: 1px solid #F7941E;
    border-radius: 3px;
    display: flex;
    align-items: center;
    justify-content: center;
    max-width: 246px;
    width: 100%;

    span {
      font-family: 'Caixa Std Regular', sans-serif;
      font-style: normal;
      font-weight: normal;
      font-size: 18px;
      line-height: 25px;
      color: #F7941E;
      margin: 12px 8px;
    }

    &:hover,
    &:active {
      background: #db6e00;
      transition: 250ms ease-in-out;

      span {
        color: #fff;
      }
    }

    &:disabled {
      background-color: #E5E5E5;
      cursor: not-allowed;
    }
  }
}

div.space-between {
  display: flex;
  justify-content: space-between;

  p.avatar {
    font-family: 'Caixa Std Regular', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 16px;
    display: flex;
    align-items: center;
    color: #000000;

    i {
      color: #0065B7;
      margin-right: 5px;
      font-size: 2rem;
    }
  }
}

div.flex-to-right {
  display: flex;
  justify-content: flex-end;
}


button.custom-btn-success {
  background: #53AA5C;
  border-radius: 3px;
  border: none;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 8px 12px;
  margin-top: 1em;
  transition: 250ms ease-in-out;

  span {
    color: #fff;

    i {
      margin-right: 8px;
    }
  }

  &:hover,
  &:active {
    background: #42964a;
    transition: 250ms ease-in-out;
  }
}

.bustom-btn-disabled {
  background: #E5E5E5 !important;
  border-radius: 3px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 8px 12px;
  margin-top: 1em;
  transition: 250ms ease-in-out;

  span {
    color: #000;

    i {
      margin-right: 8px;
    }
  }
}

div.procedimentos-adicionados {
  margin: auto;

  div.listagem-procedimentos {
    overflow-x: auto;
    overflow-y: hidden;
  }

  div.pa-header {
    padding-top: 16px;

    p.pa-titulo {
      font-family: 'Caixa Std Bold',sans-serif;
      font-style: normal;
      font-size: 18px;
      line-height: 25px;
      color: #0065b7;
      margin-top: 24px;

    }
  }

  div.listagem-header {
    border-radius: 3px 3px 0 0;
    display: flex;
    align-items: center;
    padding: 0 12px;
    min-width: 910px;

    p {
      font-family: 'Caixa Std Bold',sans-serif;
      font-size: 14px;
      line-height: 16px;
      color: #333;
      align-items: center;
      text-align: center;
    }

    p.pa-lh-1 {
      width: 50%;
      text-align: left;
    }

    p.pa-lh-2 {
      width: 15%;
      display: flex;
      align-items: flex-start;
      justify-content: flex-start;
    }

    p.pa-lh-3 {
      width: 15%;
      display: flex;
      justify-content: center;
      align-items: center;
    }

    p.pa-lh-4 {
      width: 17%;
      display: flex;
      justify-content: flex-end;
      align-items: flex-end;
    }
  }

  div.listagem-body {
    background-color: inherit;
    box-sizing: border-box;
    display: flex;
    align-items: center;
    padding: 10px 10px;
    min-width: 910px;
    margin: 8px 0;
    border: 1px solid #669aa3;
    border-left: 6px solid #036ec4;

    p {
      font-family: 'Caixa Std Regular', sans-serif;
      font-size: 14px;
      line-height: 16px;
      display: flex;
      align-items: center;
      padding: 0;
      margin: 0;
    }

    p.pa-lb-1 {
      width: 50%;

      span {
        font-family: 'Caixa Std Bold',sans-serif;
        font-weight: bold;
        padding-right: 4px;
      }
    }

    p.pa-lb-2 {
      width: 15%;
      display: flex;
      justify-content: flex-start;
      align-items: flex-start;
      text-align: start;
    }

    p.pa-lb-3 {
      width: 15%;
      display: flex;
      align-items: center;
      justify-content: center;
    }

    div.pa-lb-4 {
      margin-left: auto;
      padding-right: 10px;
      display: flex;
      justify-content: center;
      align-items: center;

      button.custom-btn-edit {
        padding: 8px 12px;
        background: #0158AE;
        border-radius: 3px;
        border: none;
        display: flex;
        align-items: center;
        justify-content: center;

        &:hover,
        &:active {
          background-color: #014486;
          transition: 250ms ease-in-out;
        }

        &:disabled {
          background-color: #E5E5E5;
          cursor: not-allowed;
        }

        i {
          color: #fff;
        }
      }

      button.custom-btn-remove {
        padding: 8px 12px;
        background: #DC3545;
        border-radius: 3px;
        border: none;
        display: flex;
        align-items: center;
        justify-content: center;
        margin: 0 auto;

        &:hover, &:active {
          background-color: #a71a28;
          transition: 250ms ease-in-out;
        }

        i {
          color: #fff;
        }

        &:disabled {
          background-color: #E5E5E5;
          cursor: not-allowed;
        }
      }
    }
  }

}

@media screen and (max-width: 810px) {
  ul.custom-stepper {
    width: 90%
  }

  div.solicitacao-container {
    padding-top: 32px;
  }

  div.finalidade-container {
    div.custom-left-grid {
      width: 95%;
      min-width: 0;
      margin: 0 auto;
    }

    .space-top {
      margin-top: 1em;
    }


    div.custom-right-grid {
      padding-top: 8px;
    }
  }

  div.finalidade-footer {
    justify-content: center;
    flex-flow: column;
    padding: 0;

    button {
      margin: 8px auto;
    }
  }

  div.sb-to-mobile {
    flex-flow: column;
  }

  div.procedimentos-adicionados {
    padding: 0 8px;
  }
}

.mdl-overf-body-procedimento > p {
  overflow-y: auto;
  max-height: 500px;
  padding-right: 15px;
  font-family: 'Caixa Std Regular', sans-serif;
}

.title-text-modal{
  font-family: 'Caixa Std Bold', sans-serif;;
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  line-height: 22px;
  color: #40A797;
  text-align:center
}
.position-span-close{
  position: absolute;
  bottom: 240px;
  right: 10px;
  width: 100px;
  text-align:right;
}

