
<div class="container">
  <div class="col-md-12 breadcrumb-header">
    <ul class="breadcrumb">
      <li><span (click)="voltar()" class="voltar"><i class="fa fa-arrow-left" aria-hidden="true"></i>Voltar</span>
      </li>
      <a routerLink="/home">Início</a>
      <em class="fa fa-chevron-right"></em>
      Segurança
      <em class="fa fa-chevron-right"></em>
      Usuário Externo
    </ul>
  </div>

  <div class="title-type">
    <h1 class="titulo-pagina">Usuário Externo</h1>
  </div>

  <section class="row">
    <form name="form">
      <div class="row p-0 col-xs-2">
        <label class="control-label" for="cpf">CPF</label>
        <input
          type="text" id="cpf" class="form-control" [textMask]="{mask: maskCpf}"
          [(ngModel)]="filtro.cpf" name="cpf" title="{{bundle('MH130')}}"/>
      </div>

      <div class="row col-xs-6">
        <label class="control-label" for="nome">Nome</label>
        <input type="text" id="nome" [maxlength]="150" class="form-control"
               oninput="this.value = this.value.toUpperCase();"
               [(ngModel)]="filtro.nome" name="nome" title="{{bundle('MH131')}}">
      </div>

      <div class="row pl-0 col-xs-4">
        <label class="control-label" for="codigoUsuario">Código do Usuário</label>
        <input
          type="text" id="codigoUsuario" [textMask]="{mask: maskCodigoUsuario}" class="form-control maiusculo"
          [(ngModel)]="filtro.codigoUsuario" name="codigoUsuario" title="{{bundle('MH163')}}">
      </div>

      <div class="row p-0 col-xs-6">
        <label class="control-label" for="idEmpresa">Empresa</label>
        <p-dropdown [options]="empresas" [placeholder]="this.bundle('MHSPH')" name="idEmpresa"
               [(ngModel)]="filtro.idEmpresa"></p-dropdown>
      </div>

      <div class="row col-xs-4">
        <label class="control-label" for="idPerfil">Perfil</label>
        <p-dropdown [options]="listComboPerfil" [placeholder]="this.bundle('MHSPH')" name="idPerfil"
        [(ngModel)]="filtro.perfil"></p-dropdown>
      </div>

      <div class="row pl-0 col-xs-4">
        <p-checkbox
          name="ativo"
          [value]="true"
          [(ngModel)]="filtro.ativo"
          inputId="ativoS"
        ></p-checkbox>
        <label for="ativoS">Somente Ativos</label>
      </div>
    </form>

    <div class="col-xs-12 barra-botoes">
      <button
        id="btnLimparCampos"
        class="btn back-btn"
        (click)="limparCampos()">
        <span class="fa fa-trash fa-fw"></span>
        Limpar Campos
      </button>
      <button
        class="btn clean-btn"
        (click)="novoPrestadorExterno()">
        <span class="fa fa-plus fa-fw"></span>
        Incluir Usuário Externo
      </button>
      <button
        class="btn continue-btn"
        (click)="pesquisarPrestadoresExternos()">
        <span class="fa fa-search fa-fw"></span>
        Pesquisar
      </button>
    </div>
  </section>
</div>
