<form [formGroup]="form" #formDirective="ngForm" style="min-width: 48em">
  <div class="form-container">
    <div class="form-row">
      <div class="form-field-full">
        <asc-select-procedimento
          selectId="procedimento"
          [parametros]="parametroSelectProcedimento"
          [tipoAcaoService]="CONSULTAR_PROCEDIMENTO_POR_TIPO_PROCESSO"
          [control]="form.get('idProcedimento')"
          (dadoSelecionado)="procedimentoSelecionado($event)"
          formControlName="idProcedimento"
          [label]="'Procedimento'"
          style="border-left: none !important"
          [required]="true"
        >
        </asc-select-procedimento>
      </div>
    </div>

    <!-- Linha 1: Região Odontológica (1/2), Valor Unitário (1/2) -->
    <div class="form-row">
      <div
        class="form-field-half"
        *ngIf="hasProcedimento()"
      >
        <asc-graus-procedimento
          selectId="regiaoOdontologica"
          [parametros]="parametrosSelectGrauProcedimento"
          [control]="form.get('idRegiaoOdontologica')"
          (dadosBackend)="regiaoOdontologicaSelecionados($event)"
          (dadoSelecionado)="regiaoOdontologicaSelecionada($event)"
          formControlName="idRegiaoOdontologica"
          style="border-left: none !important"
          label="Região odontológica"
          [required]="true"
        ></asc-graus-procedimento>
      </div>

      <div
        class="form-field-half"
        *ngIf="mostrarCampo('valorUnitarioPago')"
      >
        <asc-input-money-type
          [control]="form.get('valorUnitarioPago')"
          inputId="valorUnitarioPago"
          label="Valor unitário pago"
          [required]="true"
        >
          <asc-input-error
            [msgErro]="'O Valor Unitário Pago deve ser maior do que 0 (zero).'"
            nomeErro="min"
          >
          </asc-input-error>
        </asc-input-money-type>
        <div class="error-form" *ngIf="erroValorDocumentoFiscal">
          {{ bundle("MA083") }}
        </div>
      </div>
    </div>

    <!-- Linha 2: Autorização Prévia (1/2), Data do Atendimento (1/2) -->
    <div class="form-row">
      <div
        class="form-field-half"
        *ngIf="mostrarCampo('idAutorizacaoPrevia')"
      >
        <label
          class="control-label"
          [class.obrigatorio]="autorizacaoPreviaObrigatorio"
          >Autorização Prévia
          <small *ngIf="!autorizacaoPreviaObrigatorio">Opcional</small></label
        >
        <div *ngIf="escolherCampoAutorizacaoPrevia == 0; else naoWeb">
          <asc-select-autorizacao-previa
            selectId="autorizacaoPrevia"
            [parametros]="autorizacaoPreviaParams"
            [control]="form.get('idAutorizacaoPrevia')"
            (dadoSelecionado)="autorizacaoPreviaSelecionado($event)"
            (dadosBackend)="autorizacoesPreviasSelecionados($event)"
            formControlName="idAutorizacaoPrevia"
            label=""
            style="border-left: none !important"
          >
          </asc-select-autorizacao-previa>
        </div>
        <ng-template #naoWeb>
          <asc-dropdown
            (selected)="autorizacaoPreviaNaoWebSelecionada($event)"
            [items]="autorizacoesPrevia"
            [control]="form.get('idAutorizacaoProcedimento')"
          ></asc-dropdown>
        </ng-template>
      </div>

      <div
        class="form-field-half"
        *ngIf="mostrarCampo('dataAtendimento')"
      >
        <asc-input-date
          [control]="form.get('dataAtendimento')"
          inputId="dataAtendimento"
          label="Data do atendimento"
          [required]="true"
        >
          <asc-input-error
            [msgErro]="
              'Data do atendimento deve ser menor ou igual à Data atual.'
            "
            nomeErro="dataAtualMenor"
          >
          </asc-input-error>
        </asc-input-date>
      </div>
    </div>

    <!-- Linha 3: Quantidade Solicitada (1/2 esquerda) -->
    <div class="form-row">
      <div
        class="form-field-half"
        *ngIf="mostrarCampo('qtdSolicitada')"
      >
        <asc-input-text
          [control]="form.get('qtdSolicitada')"
          [maxlength]="3"
          inputId="qtdSolicitada"
          [somenteNumeros]="true"
          label="Quantidade solicitada"
          [required]="true"
        >
          <asc-input-error
            nomeErro="min"
            [msgErro]="bundle('MA012')"
          ></asc-input-error>
          <asc-input-error
            nomeErro="max"
            [msgErro]="bundle('MA132')"
          ></asc-input-error>
        </asc-input-text>
      </div>
    </div>
  </div>

  <div *ngIf="isToShowForm && enableAllAction" style="text-align: right">
    <asc-button-primary
      buttonId="adicionarProcedimento"
      [title]="isEditing ? 'Concluir alteração' : 'Adicionar'"
      [showProgress]="loading"
      [disabled]="form?.invalid || loading"
      (onClick)="adicionarProcedimento(formDirective, $event)"
      [style-button]="{'background-color': '#41a495', 'border-color': '#369183'}"
    ></asc-button-primary>

    <asc-button-primary
      buttonId="limpar"
      [title]="isEditing ? 'Cancelar' : 'Limpar'"
      (onClick)="clickButtonCancelarProcedimento(formDirective, $event)"
    ></asc-button-primary>
  </div>
</form>
