<!-- Page Header-->
<div class="col-md-12 breadcrumb-header">
  <ul class="breadcrumb">
    <li>
      <span routerLink="/" class="voltar"
        ><i class="fa fa-arrow-left" aria-hidden="true"></i>Voltar</span
      >
    </li>
    <a routerLink="/home">Início</a>
    <i class="fa fa-chevron-right"></i>
    Relatórios
    <i class="fa fa-chevron-right"></i>
    <a routerLink="/relatorios/junta-medica-odontologica"
      >Junta Médica/Odontológica</a
    >
    <i class="fa fa-chevron-right"></i>
    <a routerLink="/relatorios/junta-medica-odontologica/lista"
      >Resultado da Consulta</a
    >
  </ul>
</div>

<header class="page-header">
  <div class="container-fluid">
    <h2 class="no-margin-bottom">Consulta de Pedidos</h2>
  </div>
</header>
<!-- Page Header-->

<section class="row container-fluid">
  <div class="clearfix"></div>

  <div class="row col-md-9">
    <h4>Resultado da Consulta</h4>
  </div>

  <div
    class="row col-xs-3 floatRight"
    style="padding: 4px 10px; border-bottom: 0 none"
    *ngIf="listaProcessos !== undefined && listaProcessos.length > 0"
  >
    <input
      #gb
      type="text"
      class="form-control filtro"
      pInputText
      size="50"
      placeholder="Digite para filtrar resultado"
    />
  </div>

  <div class="clearfix"></div>

  <div class="row col-md-12">
    <!-- <p-dataTable emptyMessage="Nenhum registro encontrado" [value]="listaProcessos" [rows]="10" [globalFilter]="gb" class="table table-striped table-sm table-hover" #dt> -->
    <p-table
      [value]="listaProcessos"
      [paginator]="true"
      [rows]="rowCounter"
      [rowsPerPageOptions]="[5, 10, 20]"
      [totalRecords]="listaProcessos.length"
      (onPage)="onPageChange($event)"
      class="table table-striped table-sm table-hover table-fit"
      #dt
    >
      <ng-template pTemplate="header">
        <tr>
          <th id="Agrupadora" style="width: 60px">Agrupadora</th>
          <th id="UF" style="width: 80px">UF Atendimento</th>
          <th id="Pedido" style="width: 100px">Pedido</th>
          <th id="Data_Abertura" style="width: 130px">Data Abertura</th>
          <th id="Data_Encerramento" style="width: 130px">Data Encerramento</th>
          <th id="Tipo" style="width: 125px">Tipo de Pedido</th>
          <th id="Nome" style="width: 160px">Nome Beneficiário</th>
          <th id="cartao" style="width: 98px">Cartão Beneficiário</th>
          <th id="matricula" style="width: 145px">Matrícula Titular</th>
          <th id="CPF" style="width: 110px">CPF/CNPJ</th>
          <th id="Nome" style="width: 290px">Nome/Razão Social</th>
          <th id="Procedimento" style="width: 400px">Procedimento</th>
          <th id="OPME" style="width: 98px">OPME</th>
          <th id="Data_Tentativa" style="width: 130px">
            Data Tentativa Consenso
          </th>
          <th id="Data_Comun" style="width: 130px">Data Comun. Junta</th>
          <th id="Data_Resultado" style="width: 130px">Data Resultado</th>
          <th id="Resultado" style="width: 98px">Resultado</th>
        </tr>
      </ng-template>
      <ng-template pTemplate="body" let-rowData>
        <tr>
          <td>{{ rowData.siglaFilial }}</td>
          <td>{{ rowData.ufAtendimento }}</td>
          <td>{{ rowData.numeroProcesso }}</td>
          <td>{{ rowData.dataAbertura }}</td>
          <td>{{ rowData.dataEncerramento }}</td>
          <td>{{ rowData.tipoProcesso }}</td>
          <td>{{ rowData.nomeBeneficiario }}</td>
          <td>{{ rowData.cartaoBeneficiario }}</td>
          <td>{{ rowData.matriculaTitular }}</td>
          <td>{{ rowData.cpfCnpjStr }}</td>
          <td>{{ rowData.nomeRazaoSocial }}</td>
          <td>{{ rowData.procedimento }}</td>
          <td>{{ rowData.opme }}</td>
          <td>{{ rowData.dataTentativaConsenso }}</td>
          <td>{{ rowData.dataComunJunta }}</td>
          <td>{{ rowData.dataResultado }}</td>
          <td>{{ rowData.resultado }}</td>
        </tr>
      </ng-template>

      <ng-template pTemplate="emptymessage">
        {{ bundle("MA003") }}
      </ng-template>
      <!-- <p-column field="siglaFilial" header="Agrupadora" [style]="{width: '60px', 'text-align': 'center'}">
      </p-column>
      <p-column field="ufAtendimento" header="UF Atendimento" [style]="{width: '80px', 'text-align': 'center'}">
      </p-column>
      <p-column field="numeroProcesso" header="Pedido" [style]="{width: '100px', 'text-align': 'center'}">
      </p-column>
      <p-column field="dataAbertura" header="Data Abertura" [style]="{width: '130px', 'text-align': 'center'}">
      </p-column>
      <p-column field="dataEncerramento" header="Data Encerramento" [style]="{width: '130px', 'text-align': 'center'}">
      </p-column>
      <p-column field="tipoProcesso" header="Tipo de Pedido" [style]="{width: '125px', 'text-align': 'center'}">
      </p-column>
      <p-column field="nomeBeneficiario" header="Nome Beneficiário" [style]="{width: '160px', 'text-align': 'center'}">
      </p-column>
      <p-column field="cartaoBeneficiario" header="Cartão Beneficiário"
                [style]="{width: '98px', 'text-align': 'center'}">
      </p-column>
      <p-column field="matriculaTitular" header="Matrícula Titular" [style]="{width: '145px', 'text-align': 'center'}">
      </p-column>
      <p-column field="cpfCnpjStr" header="CPF/CNPJ" [style]="{width: '110px', 'text-align': 'center'}">
      </p-column>
      <p-column field="nomeRazaoSocial" header="Nome/Razão Social" [style]="{width: '290px', 'text-align': 'center'}">
      </p-column>
      <p-column field="procedimento" header="Procedimento" [style]="{width: '400px', 'text-align': 'center'}">
      </p-column>
      <p-column field="opme" header="OPME" [style]="{width: '98px', 'text-align': 'center'}">
      </p-column>
      <p-column field="dataTentativaConsenso" header="Data Tentativa Consenso"
                [style]="{width: '130px', 'text-align': 'center'}">
      </p-column>
      <p-column field="dataComunJunta" header="Data Comun. Junta" [style]="{width: '130px', 'text-align': 'center'}">
      </p-column>
      <p-column field="dataResultado" header="Data Resultado" [style]="{width: '130px', 'text-align': 'center'}">
      </p-column>
      <p-column field="resultado" header="Resultado" [style]="{width: '98px', 'text-align': 'center'}">
      </p-column> -->

      <p-footer>
        {{ mensagemPaginacao }}
      </p-footer>
    </p-table>
  </div>

  <div class="col-xs-12 barra-botoes">
    <span *ngIf="listaProcessos !== undefined && listaProcessos.length > 0">
      <button
        class="btn btn-info"
        title="Download Relatório"
        (click)="exportarXLSRelatorioJuntaMedicaOdontologica()"
      >
        <span class="fa fa-download fa-fw"></span>Exportar XLS
      </button>
      <button
        class="btn btn-info"
        title="Download Relatório"
        (click)="exportarCSVRelatorioJuntaMedicaOdontologica()"
      >
        <span class="fa fa-download fa-fw"></span>Exportar CSV
      </button>
    </span>
    <button class="btn btn-info" (click)="retornarConsulta()">
      <span class="fa fa-reply fa-fw"></span>Voltar
    </button>
  </div>
</section>
