<div *ngIf="carregandoConsulta" class="loading-container">
  <div class="spinner"></div>
  <p class="loading-text">Carregando consulta ...</p>
</div>
<div class="container" *ngIf="!carregandoConsulta">
  <div class="col-md-12 breadcrumb-header">
    <ul class="breadcrumb">
      <li>
        <span (click)="voltar()" class="voltar"
          ><i class="fa fa-arrow-left" aria-hidden="true"></i>Voltar</span
        >
      </li>
      <a routerLink="/home">Início</a>
      <em class="fa fa-chevron-right"></em>
      Administração
      <em class="fa fa-chevron-right"></em>
      Consultar Pedidos
    </ul>
  </div>
  <div class="title-type">
    <h1 class="titulo-pagina">Consultar pedidos</h1>
  </div>

  <div class="main-section">
    <form [formGroup]="formulario" name="form">
      <p class="info-search-label">Dados do pedido</p>
      <!-- Linha 1: Pedido (1/6), Autorização SIAGS (1/6), PEG (1/6), UF (1/6), Agrupadora (2/6) -->
      <div class="row">
        <div class="col-md-2">
          <asc-input-text
            [control]="formulario.get('idPedido')"
            inputId="numeroProcesso"
            label="Pedido"
            [somenteNumeros]="true"
            [maxlength]="8"
            size="large"
          ></asc-input-text>
        </div>

        <div class="col-md-2">
          <asc-input-text
            [control]="formulario.get('autorizacaoPreviaGstao')"
            inputId="autorizacaoPrevia"
            label="Autorização SIAGS"
            [somenteNumeros]="true"
            [maxlength]="10"
            hint="Filtro aplicável apenas aos tipos de pedido AUTORIZAÇÃO PRÉVIA"
            size="large"
          ></asc-input-text>
        </div>

        <div class="col-md-2">
          <asc-input-text
            [control]="formulario.get('autorizacaoReembolso')"
            inputId="autorizacaoReembolso"
            label="PEG"
            [somenteNumeros]="true"
            [maxlength]="20"
            hint="Filtro aplicável apenas aos tipos de pedido REEMBOLSO"
            size="large"
          ></asc-input-text>
        </div>

        <div class="col-md-2">
          <asc-multiSelect
            id="uf"
            label="UF"
            [options]="listComboUF"
            [control]="formulario.get('ufsProcesso')"
            [selected]="ufsProcessoSelected"
            size="large"
          ></asc-multiSelect>
        </div>

        <div class="col-md-4">
          <asc-multiSelect
            id="filial"
            label="Agrupadora"
            [options]="listComboFilial"
            [control]="formulario.get('filiaisProcesso')"
            [selected]="filiaisProcessoSelected"
            size="large"
          ></asc-multiSelect>
        </div>
      </div>

      <!-- Linha 2: Grupo de Pedido (1/3), Tipo de Pedido (2/3) -->
      <div class="row">
        <div class="col-md-4">
          <asc-multiSelect
            id="tiposPedido"
            label="Grupo de Pedido"
            [options]="listaGrupoTiposPedido"
            [control]="formulario.get('tiposPedido')"
            [selected]="tiposPedidoSelected"
            size="large"
          >
          </asc-multiSelect>
        </div>

        <div class="col-md-8">
          <asc-multiSelect
            id="tipoProcesso"
            label="Tipo de pedido"
            [options]="listComboTipoProcesso"
            (onChange)="onChangeTipoProcesso()"
            [control]="formulario.get('tiposProcesso')"
            [selected]="tiposProcessoSelected"
            size="large"
          ></asc-multiSelect>
        </div>
      </div>

      <!-- Linha 3: Condição do Pedido (1/3), Situação do Pedido (2/3) -->
      <div class="row">
        <div class="col-md-4">
          <asc-dropdown
            formControlName="condicaoProcesso"
            label="Condição do pedido"
            [items]="optionsCondicaoProcesso"
            [placeholder]="this.bundle('MHSPH')"
            size="large"
          ></asc-dropdown>
        </div>

        <div class="col-md-8">
          <asc-multiSelect
            id="situacaoProcesso"
            label="Situação do pedido"
            [options]="listComboSituacaoProcesso"
            [control]="formulario.get('situacoesProcesso')"
            [selected]="situacoesProcessoSelected"
            size="large"
          ></asc-multiSelect>
        </div>
      </div>

      <!-- Linha 4: Motivo da Solicitação (2/3), Caráter da Solicitação (1/3) -->
      <div class="row">
        <div class="col-md-8">
          <asc-multiSelect
            id="motivosSolicitacao"
            label="Motivo da Solicitação"
            [options]="listaMotivoSolicitacao"
            [control]="formulario.get('motivosSolicitacao')"
            [selected]="motivosSolicitacaoSelected"
            hint="Filtro dependente de tipo de pedido ou grupo de pedido"
            size="large"
          >
          </asc-multiSelect>
        </div>

        <div class="col-md-4">
          <asc-dropdown
            formControlName="caraterSolicitacao"
            label="Caráter da solicitação"
            [items]="optionsCaraterSolicitacao"
            [placeholder]="this.bundle('MHSPH')"
            size="large"
          ></asc-dropdown>
        </div>
      </div>

      <!-- Linha 5: Data Início (2/5), Data Fim (2/5), UF Atendimento (1/5), Município (2/5) -->
      <div class="row">
        <div class="col-md-6">
          <label class="control-label">Período de Abertura</label>
          <div class="row">
            <div class="col-md-6">
              <asc-input-date
                [control]="formulario.get('dataAberturaInicio')"
                inputId="dataAberturaInicio"
                label="Início"
                size="large"
              >
              </asc-input-date>
            </div>

            <div class="col-md-6">
              <asc-input-date
                [control]="formulario.get('dataAberturaFim')"
                inputId="dataAberturaFim"
                label="Fim"
                size="large"
              >
              </asc-input-date>
            </div>
          </div>
        </div>

        <div class="col-md-2">
          <label class="control-label" style="visibility: hidden;">Alinhamento</label>
          <asc-select-uf
            id="asc-select-uf-pesquisar-processo"
            label="UF de atendimento"
            [control]="formulario.get('ufAtendimento')"
            size="large"
          ></asc-select-uf>
        </div>

        <div class="col-md-4">
          <label class="control-label" style="visibility: hidden;">Alinhamento</label>
          <asc-select-municipio
            id="asc-select-municipio-pesquisar-processo"
            label="Município de atendimento"
            [parametro]="{ idMunicipio: ufAtendimentoId }"
            [control]="formulario.get('municipioAtendimento')"
            size="large"
          ></asc-select-municipio>
        </div>
      </div>

      <div class="row">
        <div class="col-md-12">
          <p class="info-search-label">Dados do titular/beneficiário</p>
        </div>
      </div>

      <!-- Linha 1 Titular: Matrícula (2/5), Código Beneficiário (2/5), Tipo Beneficiário (3/5) -->
      <div class="row">
        <div class="col-md-3">
          <asc-input-text
            [control]="formulario.get('matriculaTitular')"
            inputId="matriculaTitular"
            label="Matrícula do titular"
            maskName="matriculaMaskDisk"
            [somenteNumeros]="true"
            placeholder="______-_"
            [maxlength]="8"
            size="large"
          ></asc-input-text>
        </div>

        <div class="col-md-3">
          <asc-input-text
            [control]="formulario.get('codigoBeneficiario')"
            inputId="codigoBeneficiario"
            label="Código do beneficiário"
            [maxlength]="12"
            size="large"
          ></asc-input-text>
        </div>

        <div class="col-md-6">
          <asc-multiSelect
            id="tipoBeneficiario"
            label="Tipo de beneficiário"
            [options]="listComboTipoBeneficiario"
            [control]="formulario.get('tiposBeneficiario')"
            [selected]="tiposBeneficiarioSelected"
            size="large"
          ></asc-multiSelect>
        </div>
      </div>

      <!-- Linha 2 Titular: Nome do Beneficiário (1/2), restante vazio -->
      <div class="row">
        <div class="col-md-6">
          <asc-input-text
            [control]="formulario.get('nomeBeneficiario')"
            inputId="nomeBeneficiario"
            label="Nome do beneficiário"
            [uppercase]="true"
            size="large"
          ></asc-input-text>
        </div>
      </div>

      <div class="row barra-botoes p-0">
        <button
          type="button"
          [disabled]="carregandoConsulta"
          class="btn-cts clean-btn"
          (click)="limparCampos()"
        >
          <em class="fa fa-trash fa-fw"></em>
          Limpar pesquisa
        </button>
        <button
          type="button"
          [disabled]="carregandoConsulta"
          class="btn-cts btn-primary"
          (click)="consultarProcesso()"
        >
          <em class="fa fa-search fa-fw"></em>
          Pesquisar
        </button>
      </div>
    </form>
  </div>
</div>
