<div *ngIf="carregandoConsulta" class="loading-container">
  <div class="spinner"></div>
  <p class="loading-text">Carregando consulta ...</p>
</div>
<div class="container" *ngIf="!carregandoConsulta">
  <div class="col-md-12 breadcrumb-header">
    <ul class="breadcrumb">
      <li>
        <span (click)="voltar()" class="voltar"
          ><i class="fa fa-arrow-left" aria-hidden="true"></i>Voltar</span
        >
      </li>
      <a routerLink="/home">Início</a>
      <em class="fa fa-chevron-right"></em>
      Administração
      <em class="fa fa-chevron-right"></em>
      Consultar Pedidos
    </ul>
  </div>
  <div class="title-type">
    <h1 class="titulo-pagina">Consultar pedidos</h1>
  </div>

  <div class="main-section">
    <form [formGroup]="formulario" name="form">
      <p class="info-search-label">Dados do pedido</p>
      <div class="row">
        <div class="col-md-3">
          <asc-input-text
            [control]="formulario.get('idPedido')"
            inputId="numeroProcesso"
            label="Pedido"
            [maxlength]="8"
            hint="Buscar um processo específico"
          ></asc-input-text>
        </div>

        <div class="col-md-3">
          <asc-dropdown
            formControlName="condicaoProcesso"
            label="Condição do pedido"
            [items]="optionsCondicaoProcesso"
            [placeholder]="this.bundle('MHSPH')"
          ></asc-dropdown>
        </div>

        <div class="col-md-3">
          <label class="control-label">UF</label>
          <asc-multiSelect
            id="uf"
            [options]="listComboUF"
            [control]="formulario.get('ufsProcesso')"
            [selected]="ufsProcessoSelected"
          ></asc-multiSelect>
        </div>

        <div class="col-md-3">
          <label class="control-label">Agrupadora</label>
          <asc-multiSelect
            id="filial"
            [options]="listComboFilial"
            [control]="formulario.get('filiaisProcesso')"
            [selected]="filiaisProcessoSelected"
          ></asc-multiSelect>
        </div>
      </div>

      <div class="row">
        <div class="col-md-6">
          <label class="control-label">Tipo de pedido</label>
          <asc-multiSelect
            id="tipoProcesso"
            [options]="listComboTipoProcesso"
            (onChange)="onChangeTipoProcesso()"
            [control]="formulario.get('tiposProcesso')"
            [selected]="tiposProcessoSelected"
          ></asc-multiSelect>
        </div>

        <div class="col-md-3">
          <asc-dropdown
            formControlName="ufAtendimento"
            label="UF de atendimento"
            [items]="optionsUF"
            [placeholder]="this.bundle('MHSPH')"
            (selected)="onChangeUFAtendimento()"
          ></asc-dropdown>
        </div>

        <div class="col-md-3">
          <asc-dropdown
            formControlName="municipioAtendimento"
            label="Município de atendimento"
            [items]="optionsMunicipio"
            [placeholder]="this.bundle('MHSPH')"
          ></asc-dropdown>
        </div>
      </div>

      <div class="row">
        <div class="col-md-6">
          <label class="control-label">Situação do pedido</label>
          <asc-multiSelect
            id="situacaoProcesso"
            [options]="listComboSituacaoProcesso"
            [control]="formulario.get('situacoesProcesso')"
            [selected]="situacoesProcessoSelected"
          ></asc-multiSelect>
        </div>

        <div class="col-md-3">
          <label class="control-label">
            Autorização SIAGS
            <span class="tooltip-mensagem">
              <i class="fa fa-exclamation-circle"></i>
              <p class="tooltiptext is--small">
                Filtro aplicável apenas aos tipos de pedido AUTORIZAÇÃO
                PRÉVIA.
              </p>
            </span>
          </label>
          <asc-input-text
            [control]="formulario.get('autorizacaoPreviaGstao')"
            inputId="autorizacaoPrevia"
            [maxlength]="10"
            hint="Buscar por autorização Prévia"
          ></asc-input-text>
        </div>

        <div class="col-md-3">
          <label class="control-label">
            PEG
            <span class="tooltip-mensagem">
              <i class="fa fa-exclamation-circle"></i>
              <p class="tooltiptext is--small">
                Filtro aplicável apenas aos tipos de pedido REEMBOLSO.
              </p>
            </span>
          </label>
          <asc-input-text
            [control]="formulario.get('autorizacaoReembolso')"
            inputId="autorizacaoReembolso"
            [maxlength]="20"
            hint="Buscar por PEG"
          ></asc-input-text>
        </div>
      </div>

      <div class="row">
        <div class="col-md-12">
          <label class="control-label">Período de Abertura do Pedido</label>
        </div>
      </div>
      <div class="row">
        <div class="col-md-3">
          <asc-input-date
            [control]="formulario.get('dataAberturaInicio')"
            inputId="dataAberturaInicio"
            label="Início"
          >
          </asc-input-date>
        </div>
        <div class="col-md-3">
          <asc-input-date
            [control]="formulario.get('dataAberturaFim')"
            inputId="dataAberturaFim"
            label="Fim"
          >
          </asc-input-date>
        </div>

        <div class="col-md-6">
          <label class="control-label">
            Motivo da Solicitação
            <span class="tooltip-mensagem">
              <i class="fa fa-exclamation-circle"></i>
              <p class="tooltiptext is--small">
                Filtro aplicável quando selecionado um Tipo de Pedido
              </p>
            </span>
          </label>
          <asc-multiSelect
            id="motivosSolicitacao"
            [options]="listaMotivoSolicitacao"
            [control]="formulario.get('motivosSolicitacao')"
            [selected]="motivosSolicitacaoSelected"
          >
          </asc-multiSelect>
        </div>
      </div>

      <div class="row" [hidden]="true">
        <div class="form-row">
          <div class="col-md-6 noPaddingLeft">
            <label class="control-label">Grupo de Pedido</label>
            <asc-multiSelect
              id="tiposPedido"
              [options]="listaGrupoTiposPedido"
              [control]="formulario.get('tiposPedido')"
              [selected]="tiposPedidoSelected"
            >
            </asc-multiSelect>
          </div>
        </div>
      </div>

      <div class="row">
        <div class="col-md-12">
          <p class="info-search-label">Dados do titular/beneficiário</p>
        </div>
      </div>
      <div class="row">
        <div class="col-md-6">
          <asc-input-text
            [control]="formulario.get('nomeBeneficiario')"
            inputId="nomeBeneficiario"
            label="Nome do beneficiário"
            [uppercase]="true"
            hint="Filtrar pelo nome do beneficiário"
          ></asc-input-text>
        </div>

        <div class="col-md-3">
          <asc-input-text
            [control]="formulario.get('matriculaTitular')"
            inputId="matriculaTitular"
            label="Matrícula do titular"
            hint="Filtrar pela matrícula do titular"
          ></asc-input-text>
        </div>

        <div class="col-md-3">
          <asc-input-text
            [control]="formulario.get('codigoBeneficiario')"
            inputId="codigoBeneficiario"
            label="Código do beneficiário"
            [maxlength]="12"
            hint="Filtrar pelo cartão de identificação do beneficiário"
          ></asc-input-text>
        </div>
      </div>

      <div class="row">
        <div class="col-md-6">
          <label class="control-label">Tipo de beneficiário</label>
          <asc-multiSelect
            id="tipoBeneficiario"
            [options]="listComboTipoBeneficiario"
            [control]="formulario.get('tiposBeneficiario')"
            [selected]="tiposBeneficiarioSelected"
          ></asc-multiSelect>
        </div>

        <div class="col-md-6">
          <asc-dropdown
            formControlName="caraterSolicitacao"
            label="Caráter da solicitação"
            [items]="optionsCaraterSolicitacao"
            [placeholder]="this.bundle('MHSPH')"
          ></asc-dropdown>
        </div>
      </div>

      <div class="row barra-botoes p-0">
        <button
          type="button"
          [disabled]="carregandoConsulta"
          class="btn-cts clean-btn"
          (click)="limparCampos()"
        >
          <em class="fa fa-trash fa-fw"></em>
          Limpar pesquisa
        </button>
        <asc-button-primary
          [disabled]="carregandoConsulta"
          [showProgress]="carregandoConsulta"
          (onClick)="consultarProcesso()"
          title="Pesquisar"
          faIcon="fa fa-search fa-fw"
        ></asc-button-primary>
      </div>
    </form>
  </div>
</div>
