<dsc-progress-bar
  mode="indeterminate"
  *ngIf="loading"
  [style]="{ height: '4px' }"
></dsc-progress-bar>
<div
  class="card conteudo-spacing"
  [class.c-card-invalido]="pedidoProcedimentosTabela?.length == 0"
>
  <div class="card-title titulo-card">{{ labelPedidoProcedimento }}</div>

  <div
    *ngFor="let pedidoProcedimento of pedidoProcedimentosTabela; let i = index"
    class="list-items"
  >
    <asc-card-procedimento-reembolso
      [permissoes]="permissoes"
      [idBeneficiario]="pedido?.idBeneficiario"
      [beneficiario]="beneficiario"
      [idTipoProcesso]="idTipoProcesso"
      [pedido]="pedido"
      [pedidoProcedimento]="pedidoProcedimento"
      [index]="i"
      [isDisabled]="isEditing || isDisabled"
      (isDisabled$)="isToDisable($event)"
      (criarOuAtualizar$)="adicionarProcedimento($event)"
      (loading$)="catchLoading($event)"
      (cancel$)="cancelarProcedimento($event)"
      (deletePedidoProcedimento$)="remove($event)"
      [isUnico]="pedidoProcedimentosTabela.length == 1"
      [class.marginBottom]="i != pedidoProcedimentosTabela.length - 1"
      [idMotivoSolicitacao]="idMotivoSolicitacao"
      class="botao-100"
    ></asc-card-procedimento-reembolso>
  </div>

  <asc-procedimento-form
    *ngIf="enableFormProcedimento && !isEditing"
    @fadeInOut
    [enableAllAction]="enableAllAction"
    [parametroSelectProcedimento]="parametroSelectProcedimento"
    [pedidoProcedimentoFormInput]="pedidoProcedimentoForm"
    [profile]="profile"
    [pedido]="pedido"
    [beneficiario]="beneficiario"
    [idBeneficiario]="beneficiario?.id"
    [idTipoProcesso]="idTipoProcesso"
    (grauSelecionado)="grauProcedimentoSelecionado($event)"
    (regiaoOdontologica)="regiaoOdontologicaSelecionada($event)"
    (pedidoProcedimentoForm)="adicionarProcedimento($event)"
    (pedidoProcedimentos)="adicionarProcedimentos($event)"
    (cancelarProcedimento)="cancelarProcedimento($event)"
    (isToShowPanel)="isToShowFormPanel($event)"
    (procedimento)="adicionarProcedimentoPanel($event)"
    (loading$)="catchLoading($event)"
    [idMotivoSolicitacao]="idMotivoSolicitacao"
  ></asc-procedimento-form>

  <div class="card-footer">
    <div class="row">
      <div class="col-md-6"></div>
      <div class="col-md-6">

        <div class="row">
          <div class="col-md-12" style="margin-bottom: 4px">
            <div *ngIf="
                      enableAllAction &&
                      isNotReembolsoConsulta &&
                      (!permissoes || permissoes?.analisar) &&
                      showBotaoAddProcedimento
                    ">

              <dsc-button
                   *ngIf="!isEditing"

                    style="margin-bottom: 4px"
                    [disabled]="enableFormProcedimento || isEditing || isDisabled"
                    (click)="abrirFormulario()"
                    @fadeInOut
                    [label]="labelBotaoPedido"
                    variant="secondary"
                    iconPrefix="add"
              />
            </div>
          </div>

              <div class="col-md-6" ></div>
              <dsc-button
                class="col-md-6"
                label="Retornar ao topo"
                variant="secondary-outlined"
                [disabled]="loading"
                (click)="goToTop()"
              />
          </div>

      </div>

    </div> <!-- fim da row -->



  </div>
</div>
