<!-- Page Header-->
<div class="container">
  <div class="col-md-12 breadcrumb-header">
    <ul class="breadcrumb">
      <li>
        <span (click)="voltar()" class="voltar"
          ><i class="fa fa-arrow-left" aria-hidden="true"></i>Voltar</span
        >
      </li>
      <a routerLink="/home">Início</a>
      <em class="fa fa-chevron-right"></em>
      Trilha de Auditoria
      <em class="fa fa-chevron-right"></em>
      <span *ngIf="moduloAutorizacaoPrevia">Autorização Prévia</span>
      <span *ngIf="moduloEmail">E-mail</span>
      <span *ngIf="moduloPrestadorExterno">Prestador Externo</span>
    </ul>
  </div>

  <div class="title-type">
    <h1 class="titulo-pagina" *ngIf="moduloAutorizacaoPrevia">
      Trilhas de Auditoria – Autorização Prévia
    </h1>
    <h1 class="titulo-pagina" *ngIf="moduloEmail">
      Trilhas de Auditoria – E-mail
    </h1>
    <h1 class="titulo-pagina" *ngIf="moduloPrestadorExterno">
      Trilhas de Auditoria – Prestador Externo
    </h1>
  </div>

  <section class="row">
    <section class="col-md-12 p-0">
      <form [formGroup]="form">
        <div class="row d-flex p-0 col-md-12">
          <div class="col-md-4 p-0">
            <asc-dropdown
                [control]="form.get('modulo')"
                [items]="funcionalidades"
                [placeholder]="bundle('MHSPH')"
                label="Módulos"
              ></asc-dropdown>
            <div
              *ngIf="modulo.invalid && (modulo.dirty || modulo.touched)"
              class="error-form"
            >
              <div *ngIf="modulo.errors['required']">{{ bundle("MA005") }}</div>
            </div>
          </div>

          <div class="col-md-4" *ngIf="showSubModulos">
            <asc-dropdown
                [control]="form.get('subModulo')"
                [items]="tabelas"
                [placeholder]="bundle('MHSPH')"
                label="Sub-módulos"
                [required]="true"
              ></asc-dropdown>
            <div
              *ngIf="
                subModulo.invalid && (subModulo.dirty || subModulo.touched)
              "
              class="error-form"
            >
              <div *ngIf="subModulo.errors['required']">
                {{ bundle("MA005") }}
              </div>
            </div>
          </div>

          <div class="col-md-4 pl-0" *ngIf="moduloAutorizacaoPrevia">
            <asc-input-text
              label="Número do Pedido"
              [required]="true"
              [maxlength]="8"
              [control]="form.get('numeroProcesso')"
              id="numeroProcesso"
              (keydown)="constantes.control.somenteNumeros(numeroProcesso)"
              (keyup)="constantes.control.somenteNumeros(numeroProcesso)"
            />
            <div
              *ngIf="
                numeroProcesso.invalid &&
                (numeroProcesso.dirty || numeroProcesso.touched)
              "
              class="error-form"
            >
              <div *ngIf="numeroProcesso.errors['required']">
                {{ bundle("MA007") }}
              </div>
            </div>
          </div>
        </div>

        <div class="row d-flex p-0 col-md-12" *ngIf="moduloEmails">
          <div class="col-md-6 pl-0">
            <asc-dropdown
              [control]="form.get('idTipoProcesso')"
              [items]="itensTipoProcesso"
              [placeholder]="bundle('MHSPH')"
              label="Tipo de Pedido"
              [required]="true"
            ></asc-dropdown>

            <div
              *ngIf="
                tipoProcesso.invalid &&
                (tipoProcesso.dirty || tipoProcesso.touched)
              "
              class="error-form"
            >
              <div *ngIf="tipoProcesso.errors['required']">
                {{ bundle("MA005") }}
              </div>
            </div>
          </div>

          <div class="col-md-6 pl-0">
            <asc-dropdown
              [control]="form.get('idSituacaoProcesso')"
              [items]="itensSituacaoProcesso"
              [placeholder]="bundle('MHSPH')"
              label="Situação do Pedido"
              [required]="true"
            ></asc-dropdown>

            <div
              *ngIf="
                situacaoProcesso.invalid &&
                (situacaoProcesso.dirty || situacaoProcesso.touched)
              "
              class="error-form"
            >
              <div *ngIf="situacaoProcesso.errors['required']">
                {{ bundle("MA005") }}
              </div>
            </div>
          </div>
        </div>

        <div
          class="row d-flex p-0 col-md-12"
          *ngIf="moduloTiposDestinatarioEmail"
        >
          <div class="col-md-4 pl-0">
            <asc-input-text
              label="ID E-mail"
              [required]="true"
              id="idEmail"
              [control]="form.get('idEmail')"
              [maxlength]="8"
              (keydown)="constantes.control.somenteNumeros(idEmail)"
              (keyup)="constantes.control.somenteNumeros(idEmail)"
            />
            <div
              *ngIf="idEmail.invalid && (idEmail.dirty || idEmail.touched)"
              class="error-form"
            >
              <div *ngIf="idEmail.errors['required']">
                {{ bundle("MA007") }}
              </div>
            </div>
          </div>
        </div>

        <div
          class="row d-flex p-0 col-md-12"
          *ngIf="moduloUsuarioPrestadorExterno"
        >
          <div class="col-md-4 pl-0" *ngIf="moduloUsuarioPrestadorExterno">
            <asc-input-text
              label="ID Usuário"
              id="idUsuario"
              [control]="form.get('idUsuario')"
              [maxlength]="8"
              (keydown)="constantes.control.somenteNumeros(idUsuario)"
              (keyup)="constantes.control.somenteNumeros(idUsuario)"
            />
            <div
              *ngIf="
                idUsuario.invalid && (idUsuario.dirty || idUsuario.touched)
              "
              class="error-form"
            >
              <div *ngIf="idUsuario.errors['required']">
                {{ bundle("MA007") }}
              </div>
            </div>
          </div>

          <div class="col-md-4 pl-0" *ngIf="moduloUsuarioPrestadorExterno">
            <asc-input-text
              label="CPF do Usuário"
              id="cpfUsuario"
              [control]="form.get('cpfUsuario')"
              [maxlength]="14"
              (blur)="cpfCnpjUtil.control.configurarMascara(this.cpfUsuario)"
              (focus)="cpfCnpjUtil.control.limparFormatacao(this.cpfUsuario)"
              (keyup)="checkCPFCNPJ(this.cpfUsuario, 11)"
              (keydown)="checkCPFCNPJ(this.cpfUsuario, 11)"
            />
            <div
              *ngIf="
                cpfUsuario.invalid && (cpfUsuario.dirty || cpfUsuario.touched)
              "
              class="error-form"
            >
              <div *ngIf="cpfUsuario.errors['required']">
                {{ bundle("MA007") }}
              </div>
            </div>
          </div>
        </div>

        <div
          class="row d-flex p-0 col-md-12"
          *ngIf="moduloVinculosEmpresaPrestador"
        >
          <div class="col-md-4 pl-0" *ngIf="moduloVinculosEmpresaPrestador">
            <asc-input-text
              label="ID Usuário"
              id="idUsuario2"
              [control]="form.get('idUsuario')"
              [maxlength]="8"
              (keydown)="constantes.control.somenteNumeros(idUsuario)"
              (keyup)="constantes.control.somenteNumeros(idUsuario)"
            />
            <div
              *ngIf="
                idUsuario.invalid && (idUsuario.dirty || idUsuario.touched)
              "
              class="error-form"
            >
              <div *ngIf="idUsuario.errors['required']">
                {{ bundle("MA007") }}
              </div>
            </div>
          </div>

          <div class="col-md-4 pl-0" *ngIf="moduloVinculosEmpresaPrestador">
            <asc-input-text
              label="CPF do Usuário"
              id="cpfUsuario2"
              [control]="form.get('cpfUsuario')"
              title="{{ bundle('MH130') }}"
              [maxlength]="14"
              (blur)="cpfUtil.control.configurarMascara(this.cpfUsuario)"
              (focus)="cpfUtil.control.limparFormatacao(this.cpfUsuario)"
              (keyup)="checkCPFCNPJ(this.cpfUsuario, 11)"
              (keydown)="checkCPFCNPJ(this.cpfUsuario, 11)"
            />
            <div
              *ngIf="
                cpfUsuario.invalid && (cpfUsuario.dirty || cpfUsuario.touched)
              "
              class="error-form"
            >
              <div *ngIf="cpfUsuario.errors['required']">
                {{ bundle("MA007") }}
              </div>
              <div *ngIf="cpfUsuario.errors['cpfCnpjInvalido']">
                {{ bundle("MA009", "CPF") }}
              </div>
            </div>
          </div>

          <div class="clearfix" *ngIf="moduloVinculosEmpresaPrestador"></div>
          <div class="col-md-4 pl-0" *ngIf="moduloVinculosEmpresaPrestador">
            <asc-input-text
              label="ID Empresa"
              id="idEmpresa"
              [control]="form.get('idEmpresa')"
              [maxlength]="8"
              (keydown)="constantes.control.somenteNumeros(idEmpresa)"
              (keyup)="constantes.control.somenteNumeros(idEmpresa)"
            />
            <div
              *ngIf="
                idEmpresa.invalid && (idEmpresa.dirty || idEmpresa.touched)
              "
              class="error-form"
            >
              <div *ngIf="idEmpresa.errors['required']">
                {{ bundle("MA007") }}
              </div>
            </div>
          </div>

          <div class="col-md-4 pl-0" *ngIf="moduloVinculosEmpresaPrestador">
            <asc-input-text
              label="CNPJ da Empresa"
              id="cnpj"
              [control]="form.get('cnpj')"
              [maxlength]="8"
              title="{{ bundle('MH126') }}"
              (blur)="cnpjUtil.control.configurarMascara(this.cnpj)"
              (focus)="cnpjUtil.control.limparFormatacao(this.cnpj)"
              (keyup)="checkCPFCNPJ(this.cnpj, 14)"
              (keydown)="checkCPFCNPJ(this.cnpj, 14)"
            />
            <div
              *ngIf="cnpj.invalid && (cnpj.dirty || cnpj.touched)"
              class="error-form"
            >
              <div *ngIf="cnpj.errors['required']">{{ bundle("MA007") }}</div>
              <div *ngIf="cnpj.errors['cpfCnpjInvalido']">
                {{ bundle("MA009", "CNPJ") }}
              </div>
            </div>
          </div>
        </div>
      </form>

      <div class="col-md-12 barra-botoes">
        <button
          id="btnLimparCampos"
          class="btn back-btn"
          (click)="limparCampos()"
        >
          <span class="fa fa-trash fa-fw"></span>Limpar Campos
        </button>
        <button
          id="btnPesquisar"
          class="btn continue-btn"
          data-toggle="collapse"
          title="Pesquisar"
          (click)="pesquisar()"
        >
          <span class="fa fa-search fa-fw"></span>Pesquisar
        </button>
      </div>
      <div *ngIf="showDadosConsulta">
        <app-trilha-anexos-documentos
          [dadosConsulta]="dadosConsulta"
          *ngIf="moduloAnexosDocumentos"
        ></app-trilha-anexos-documentos>
        <app-trilha-dados-gerais
          [dadosConsulta]="dadosConsulta"
          *ngIf="moduloDadosGerais"
        ></app-trilha-dados-gerais>
        <app-trilha-documentos
          [dadosConsulta]="dadosConsulta"
          *ngIf="moduloDocumentos"
        ></app-trilha-documentos>
        <app-trilha-emails
          [dadosConsulta]="dadosConsulta"
          *ngIf="moduloEmails"
        ></app-trilha-emails>
        <app-trilha-tipos-destinatario-email
          [dadosConsulta]="dadosConsulta"
          *ngIf="moduloTiposDestinatarioEmail"
        ></app-trilha-tipos-destinatario-email>
        <app-trilha-empresa-prestador-externo
          [dadosConsulta]="dadosConsulta"
          *ngIf="moduloEmpresaPrestadorExterno"
        ></app-trilha-empresa-prestador-externo>
        <app-trilha-vinculos-empresa-prestador
          [dadosConsulta]="dadosConsulta"
          *ngIf="moduloVinculosEmpresaPrestador"
        ></app-trilha-vinculos-empresa-prestador>
        <app-trilha-mensagens
          [dadosConsulta]="dadosConsulta"
          *ngIf="moduloMensagens"
        ></app-trilha-mensagens>
        <app-trilha-ocorrencias
          [dadosConsulta]="dadosConsulta"
          *ngIf="moduloOcorrencias"
        ></app-trilha-ocorrencias>
        <app-trilha-perfil-prestador-externo
          [dadosConsulta]="dadosConsulta"
          *ngIf="moduloPerfilPrestadorExterno"
        ></app-trilha-perfil-prestador-externo>
        <app-trilha-procedimentos
          [dadosConsulta]="dadosConsulta"
          *ngIf="moduloProcedimentos"
        ></app-trilha-procedimentos>
        <app-trilha-autorizacoes-procedimentos
          [dadosConsulta]="dadosConsulta"
          *ngIf="moduloAutorizacoesProcedimentos"
        ></app-trilha-autorizacoes-procedimentos>
        <app-trilha-validacoes-documentos
          [dadosConsulta]="dadosConsulta"
          *ngIf="moduloValidacoesDocumentos"
        ></app-trilha-validacoes-documentos>
        <app-trilha-prestador-externo
          [dadosConsulta]="dadosConsulta"
          *ngIf="moduloUsuarioPrestadorExterno"
        ></app-trilha-prestador-externo>
        <app-trilha-gipes-empresa-prestador-externo
          [dadosConsulta]="dadosConsulta"
          *ngIf="moduloGipesEmpresaPrestadorExterno"
        ></app-trilha-gipes-empresa-prestador-externo>
      </div>
    </section>
  </section>
</div>
