@mixin add-btn-hover($mainColor, $hoverColor, $borderColor, $spanColor, $spanHoverColor) {
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 3px;
  background-color: $mainColor;
  border-color: $borderColor;
  transition: 250ms ease-in-out;
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
  padding: 10px 16px;
  min-width: 125px;

  span,
  i {
    color: $spanColor;
    transition: 300ms ease-in-out;
  }

  &:hover,
  &:active {
    background-color: $hoverColor;
    transition: 250ms ease-in-out;

    span {
      color: $spanHoverColor;
      transition: 300ms ease-in-out;
    }
  }
}

p {
  margin: 0;
}

.to-footer div {
  margin-left: auto;
  margin-right: 0;
  text-align: right;
}

.to-footer {
  button {
    justify-content: center;
    align-items: center;
    padding: 6.5px 12px;
    border-radius: 3px;
    transition: 250ms ease-in-out;
    margin: 8px 0 8px 4px;

    &.cancel {
      background-color: #01377F;
      border: none;

      span {
        color: #fff;
      }

      &:hover,
      &:active,
      &:focus {
        background-color: #01377F;
        transition: 250ms ease-in-out;

        span {
          color: #fff;
          transition: 250ms ease-in-out;
        }
      }
    }

    &.save {
      background-color: #f39200;
      border: none;

      span {
        color: #fff;
      }

      &:not(:disabled) {
        &:hover,
        &:focus,
        &:active {
          background-color: #db6e00;
          transition: 250ms ease-in-out;
        }
      }

      &:disabled {
        background-color: #dadada;
      }
    }
  }

}

div.custom-card {
  padding: 27px 24px 24px 24px;
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 3px;
  position: relative;
  margin-bottom: 16px;
  display: flex;
  justify-content: space-between;
  align-items: center;

  &.white {
    background-color: #fff;
  }

  div.right-grid {
    width: 100px;
    margin-left: 36px;

    button.edit-btn {
      background: #036EC4;
      border-radius: 3px;
      border: none;
      width: 35px;
      height: 35px;
      display: flex;
      align-items: center;
      justify-content: center;
      position: absolute;
      top: 50%;
      right: 0;

      &:hover,
      &:active {
        background-color: #04589c;
        transition: 250ms ease-in-out;
      }

      &:disabled {
        background-color: #E5E5E5;
        cursor: not-allowed;
      }

      em {
        color: #fff;
      }

    }

  }


  div.left-grid {
    flex-grow: 1;
    position: relative;

    button.edit-btn {
      background: #036EC4;
      border-radius: 3px;
      border: none;
      width: 35px;
      height: 35px;
      display: flex;
      align-items: center;
      justify-content: center;
      position: absolute;
      top: 50%;
      right: 0;

      &:hover,
      &:active {
        background-color: #04589c;
        transition: 250ms ease-in-out;
      }

      em {
        color: #fff;
      }

      &.to-up {
        top: 0;
      }

      &:disabled {
        background-color: #E5E5E5;
        cursor: not-allowed;
      }
    }

    button.add-btn {
      background: #53AA5C;
      border-radius: 3px;
      width: 35px;
      height: 35px;
      display: flex;
      align-items: center;
      justify-content: center;
      padding: 10px;
      border: none;

      &:hover,
      &:active {
        background-color: #3c9145;
        transition: 250ms ease-in-out;
      }

      &:disabled {
        background-color: #E5E5E5;
        cursor: not-allowed;
      }

      em {
        color: #fff;
      }
    }

    div.procedimento-box {
      position: relative;

      div.box {
        width: 100%;

        &.max-350 {
          max-width: 350px;
          background-color: red;
        }
      }

      div.box-novo-procedimento {
        margin-top: 14px;
        padding-top: 14px;
        max-width: 50em;

      }
    }

    small {
      font-family: 'Caixa Std Regular', sans-serif;
      font-size: 14px;
      line-height: 16px;
      color: #000000;
    }

    span {
      font-family: 'Caixa Std Bold', sans-serif;
      font-size: 14px;
      line-height: 16px;
      display: flex;
      align-items: center;
      color: #000000;
      font-weight: bold;
    }
  }

  div.success-icon-container {
    display: none;
    position: absolute;
    top: 13px;
    right: 11px;

    em {
      color: #53AA5C;
    }
  }

  &.success {
    border: 2px solid #53AA5C;

    div.success-icon-container {
      display: block;
    }
  }
}
