div.solicitacao-container {
  max-width: 778px;
  padding: 16px 8px;
  margin: 0 auto;

  p.titulo {
    font-family: 'Caixa Std Bold', sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 18px;
    line-height: 33px;
    color: #0065B7;
    margin: 0 0 16px 0;
    max-width: 570px;
    box-sizing: border-box;
  }

  p.titulo.margin {
    margin-top: 40px;
  }

  div.custom-form-group-input {
    margin-bottom: 16px;

    input {
      max-width: 373px;
    }
  }

  div.custom-form-group-select {
    position: relative;
    width: 100%;
    max-width: 373px;
    margin-bottom: 32px;

    span.button-split {
      width: 1px;
      height: 100%;
      position: absolute;
      top: 0;
      right: 20px;
      background-color: #C3C3C3;
    }
  }

  select,
  input {
    border: 1px solid #C3C3C3;
    box-sizing: border-box;
    border-radius: 3px;
    padding: 12px 8px;
    width: 100%;
    max-width: 373px;
  }
}

div.stepper-container {
  width: 100%;
  height: 50px;
  overflow-x: auto;
  overflow-y: hidden;
}

div.solicitacao-footer {
  display: flex;
  justify-content: space-between;
  margin-bottom: 50px;

  button.continue-btn {
    background: #F7941E;
    border: none;
    border-radius: 3px;
    display: flex;
    align-items: center;
    justify-content: center;
    max-width: 246px;
    width: 100%;

    span {
      font-family: 'Caixa Std Regular', sans-serif;
      font-style: normal;
      font-weight: normal;
      font-size: 18px;
      line-height: 25px;
      color: #FFFFFF;
      margin: 12px 8px;
    }

    &:hover,
    &:active {
      background: #db6e00;
      transition: 250ms ease-in-out;
    }

    &:disabled {
      background-color: #E5E5E5;
      cursor: not-allowed;
    }
  }

  button.back-btn {
    background: #fff;
    border: 1px solid #F7941E;
    border-radius: 3px;
    display: flex;
    align-items: center;
    justify-content: center;
    max-width: 246px;
    width: 100%;

    span {
      font-family: 'Caixa Std Regular', sans-serif;
      font-style: normal;
      font-weight: normal;
      font-size: 18px;
      line-height: 25px;
      color: #F7941E;
      margin: 12px 8px;
    }

    &:hover,
    &:active {
      background: #db6e00;
      transition: 250ms ease-in-out;

      span {
        color: #fff;
      }
    }
  }


}

.footer {
  display: flex;
  justify-content: space-between;
  margin-bottom: 50px;

  button.continue-btn {
    background: #F7941E;
    border: none;
    border-radius: 3px;
    display: flex;
    align-items: center;
    justify-content: center;
    max-width: 246px;
    width: 100%;

    span {
      font-family: 'Caixa Std Regular', sans-serif;
      font-style: normal;
      font-weight: normal;
      font-size: 18px;
      line-height: 25px;
      color: #FFFFFF;
      margin: 12px 8px;
    }

    &:hover,
    &:active {
      background: #db6e00;
      transition: 250ms ease-in-out;
    }

    &:disabled {
      background-color: #E5E5E5;
      cursor: not-allowed;
    }
  }

  button.back-btn {
    background: #fff;
    border: 1px solid #F7941E;
    border-radius: 3px;
    display: flex;
    align-items: center;
    justify-content: center;
    max-width: 246px;
    width: 100%;

    span {
      font-family: 'Caixa Std Regular', sans-serif;
      font-style: normal;
      font-weight: normal;
      font-size: 18px;
      line-height: 25px;
      color: #F7941E;
      margin: 12px 8px;
    }

    &:hover,
    &:active {
      background: #db6e00;
      transition: 250ms ease-in-out;

      span {
        color: #fff;
      }
    }
  }
}

.fl {
  display: flex;
}

.container-patologia-info {
  margin-left: 8px;
}

.titulo-patologia-info {
  font-family: 'Caixa Std Bold', sans-serif;
  font-weight: bold;
  font-size: 18px;
  line-height: 25px;
  color: #40A797;
  margin-bottom: 24px;
}

.descricao-patologia-info {
  font-family: 'Caixa Std Regular', sans-serif;
  font-size: 16px;
  line-height: 19px;
  color: #3A4859;
  margin: 0;
}

@media screen and (max-width: 810px) {
  ul.custom-stepper {
    width: 90%
  }

  div.solicitacao-container {
    padding-top: 32px;
  }

  div.solicitacao-footer {
    justify-content: center;
    padding-right: 0;
  }

  div.sb-to-mobile {
    flex-flow: column;
  }

  .footer {
    padding: 0 8px;
  }
}

@media (max-width: 660px) {
  .fl {
    flex-flow: column;
  }
  .container-patologia-info {
    margin-left: 0;
  }
}
