@import "/src/assets/sass/colors";
@import "/src/assets/sass/mixins";
.red {
    color: $btn-bg-red;
  
    &:hover, &:active {
      color: $btn-bg-red-dark;
    }
  }
  ::ng-deep .paginator-right .p-paginator {
    justify-content: flex-end !important;
  }   
  
.campo-pesquisa {
    display: flex;
    justify-content: flex-start;
    margin-bottom: -65px;
}