<!-- Page Header-->
<div class="container">
  <div class="col-md-12 breadcrumb-header">
    <ul class="breadcrumb">
      <li><span (click)="voltar()" class="voltar"><i class="fa fa-arrow-left" aria-hidden="true"></i>Voltar</span></li>
      <a routerLink="/home">Início</a>
      <em class="fa fa-chevron-right"></em>
      Administração
      <em class="fa fa-chevron-right"></em>
      Parâmetros
      <em class="fa fa-chevron-right"></em>
      Patologias
    </ul>
  </div>

  <div class="title-type">
    <h1 class="titulo-pagina">Patologias</h1>
  </div>

  <section class="row">
    <form novalidate>
      <div class="row">
        <div class=" p-0 col-md-2">
          <!--label class="control-label" for="codigo">CID-10</label>&nbsp;<br>
            ----------------------- VERIFICAR O USO DO NGMODEL-----------------------
          <input type="text" id="codigo" name="codigo" [(ngModel)]="filtro.codigo" [maxlength]="5"
                class="form-control" title="Código da Patologia no CID-10"-->
          <asc-input-text label="CID-10" [maxlength]="5" hint="Código da Patologia no CID-10" [control]="codigo" > </asc-input-text>       
        </div>

        <div class=" col-md-7">
          <!--label class="control-label" for="descricao">Descrição</label>&nbsp;<br>
            ----------------------- VERIFICAR O USO DO NGMODEL-----------------------
          <input type="text" id="descricao" name="descricao" [(ngModel)]="filtro.nome"
                class="form-control" [maxlength]="150" title="Nome da Patologia."-->
          <asc-input-text label="Descrição" [maxlength]="5" hint="Nome da Patologia" [control]="nome" ></asc-input-text>  
        </div>

        <div class=" p-0 col-md-3">
          <asc-input-text label="Código Evento" id="codigoEvento" name="codigoEvento" [control]="evento"
            [somenteNumeros]="true" [maxlength]="8" hint="Código do Evento">
          </asc-input-text>
        </div>
      </div>

      <div class="row"> 
        <div class=" p-0 col-md-4">
          <label class="control-label" for="perReembolso">Percentual Reembolso</label>&nbsp;<br>
          <input type="number" id="perReembolso" name="perReembolso" [(ngModel)]="filtro.percReembolso"
                class="form-control" [maxlength]="5" title="Percentual Reembolso" step="0.01">
          <!--asc-input-text label="Percentual Reembolso" id="perReembolso" name="perReembolso"  step="0.01"
          [somenteNumeros]="true" [maxlength]="5" hint="Percentual Reembolso"></asc-input-text-->
        </div>

        <div class=" col-md-4">
          <label class="control-label">Compõe Teto?</label>&nbsp;<br>
          <dsc-radio-button name="testoS" label="Sim" size="large" value="S" [(ngModel)]="filtro.teto"> </dsc-radio-button>
          <dsc-radio-button name="testoN" label="Não" size="large" value="N" [(ngModel)]="filtro.teto"> </dsc-radio-button>
          
          <!--p-radioButton name="testoS" value="S" [(ngModel)]="filtro.teto" inputId="textoS"></p-radioButton>
          <label for="textoS">Sim</label>

          <p-radioButton name="textoN" value="N" [(ngModel)]="filtro.teto" inputId="textoN"></p-radioButton>
          <label for="textoN">Não</label-->
        </div>

        <div class=" p-0 col-md-4">
          <label class="control-label">Calcula PF?</label>&nbsp;<br>
          <dsc-radio-button name="pfS" label="Sim" size="large" value="S" [(ngModel)]="filtro.pf"> </dsc-radio-button>
          <dsc-radio-button name="pfN" label="Não" size="large" value="N" [(ngModel)]="filtro.pf"> </dsc-radio-button>
          
          <!--p-radioButton name="pfS" value="S" [(ngModel)]="filtro.pf" inputId="pfS"></p-radioButton>
          <label for="pfS">Sim</label>

          <p-radioButton name="pfS" value="N" [(ngModel)]="filtro.pf" inputId="pfN"></p-radioButton>
          <label for="pfN">Não</label-->
        </div>

        <div class="pl-0 col-md-3">
          <asc-checkbox label="Somente Ativos" name="ativos" [(ngModel)]="filtro.ativos"  [valoresTrueOrFalse]="false"></asc-checkbox>
        </div>
      </div>
      <div class="col-xs-12 p-0 barra-botoes">
        <button type="button" id="btnLimparCampos" class="btn back-btn" (click)="limparCampos()">
          <span class="fa fa-trash fa-fw"></span>Limpar Campos
        </button>
        <button type="button" id="btnNovaPatologia" class="btn clean-btn" (click)="nova()">
          <span class="fa fa-plus fa-fw"></span>Incluir Patologia
        </button>
        <button type="submit" id="btnPesquisar" class="btn continue-btn" (click)="pesquisar()">
          <span class="fa fa-search fa-fw"></span>Pesquisar
        </button>
      </div>
    </form>
  </section>

</div>
