@import "/src/assets/sass/colors";
@import "/src/assets/sass/mixins";

.sub-titulo {
  font-family: 'Caixa Std Bold', sans-serif;
  font-weight: bold;
  font-size: 24px;
  line-height: 140%;
  color: $btn-bg-blue;
}

.left-border {
  padding-left: 0.75em;
  border-left: 7px solid #54BBAB;
}

.margin-campos {
  margin-bottom: 1em;
}

.no-padding {
  padding: 0;
}

.footer-card {
  margin-top: auto;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}


.margin-conteudo {
  margin-top: 1em;
  align-items: flex-start;
}

.no-desktop {
  display: none;
}

.id-historico {
  font-family: 'Caixa Std Regular', sans-serif;
  font-size: 16px;
  line-height: 19px;
  color: #000000;
  margin-left: 10px;
}

.orange-ball {
  position: absolute;
  right: calc(-22px - 8px);
  top: 8px;
  width: 18px;
  height: 18px;
  border-radius: 9px;
  background-color: #F7941E;
  z-index: 2;
}

.campo-card {
  font-family: 'Caixa Std Regular', sans-serif;
  font-size: 16px;
  line-height: 19px;
  color: #000000;

}

.historico-section {
  padding: 0 4.5em;
}

@media screen and (max-width: 900px) {

  .acompanhamento-container {
    padding: 0;
  }

  .processo-container {
    border-top: 1px solid #B4B4B4;
    padding: 1.5em 0.5em 0 0.5em;
    margin: 0.5em 0;
  }

  .titulo {
    margin: 0.25em;
  }

  .no-mobile {
    display: none;
  }

  .no-desktop {
    display: inherit;
  }

  .orange-ball {
    display: none;
  }
}
