<!-- Page Header-->
<div class="container">
  <div class="col-md-12 breadcrumb-header">
    <ul class="breadcrumb">
      <li><span (click)="voltar()" class="voltar"><i class="fa fa-arrow-left" aria-hidden="true"></i>Voltar</span></li>
      <a routerLink="/home">Início</a>
      <em class="fa fa-chevron-right"></em>
      Administração
      <em class="fa fa-chevron-right"></em>
      Parâmetros
      <em class="fa fa-chevron-right"></em>
      <a routerLink="/manutencao/parametros/prazos-status">Prazos para Tratamento de Situação</a>
      <em class="fa fa-chevron-right"></em>
      Prazos para Tratamento de Situação – Resultado
    </ul>
  </div>

  <div class="title-type">
    <h1 class="titulo-pagina">Prazos para Tratamento de Situação – Resultado</h1>
  </div>

  <section class="row">
    <div class="row p-0 col-md-12">
      <h4>Dados da Pesquisa</h4>
    </div>

    <div class="clearfix"></div>

    <div class="row">
      <div class="p-0 col-xs-3" *ngIf="descricaoTiposProcesso">
        <label class="control-label" for="tipoProcesso">Tipo Pedido</label>&nbsp;<br>
        <p id="tipoProcesso">{{descricaoTiposProcesso}}</p>
      </div>
      <div class="p-0 col-xs-3" *ngIf="descricaoTiposBeneficiario">
        <label class="control-label" for="tipoBeneficiario">Tipo de Beneficiário</label>&nbsp;<br>
        <p id="tipoBeneficiario">{{descricaoTiposBeneficiario}}</p>
      </div>
      <div class="p-0 col-xs-3" *ngIf="descricaoSituacoes">
        <label class="control-label" for="idSituacaoProcesso">Situação do Pedido</label>&nbsp;<br>
        <p id="idSituacaoProcesso">{{descricaoSituacoes}}</p>
      </div>
      <div class="p-0 col-xs-3">
        <label class="control-label" for="somenteAtivos">Somente ativos</label>&nbsp;<br>
        <p id="somenteAtivos">{{somenteAtivos ? "Sim" : "Não"}}</p>
      </div>
      <div class="p-0 col-xs-3" *ngIf="mudancaAutomatica">
        <label class="control-label" for="mudancaAutomatica">Com mudança automática</label>&nbsp;<br>
        <p id="mudancaAutomatica">{{mudancaAutomatica ? "Sim" : "Não"}}</p>
      </div>
      <div class="p-0 col-xs-3" *ngIf="diasUteis">
        <label class="control-label" for="diasUteis">Com prazo em dias úteis</label>&nbsp;<br>
        <p id="diasUteis">{{diasUteis ? "Sim" : "Não"}}</p>
      </div>
      <div class="p-0 col-xs-3" *ngIf="palavraChave">
        <label class="control-label" for="palavraChave">Palavra-Chave</label>&nbsp;<br>
        <p id="palavraChave">{{palavraChave}}</p>
      </div>
    </div>

    <div class="clearfix"></div>
    <div class="row p-0 col-md-9">
      <h4>Resultado da Consulta</h4>
    </div>

    <div class="row p-0 col-md-12">
      <div class="col-xs-3 search-inp p-0" style="margin: 5px 0 8px; border-bottom: 0 none">
        <input #gb type="text" class="form-control filtro-caixa" size="50" placeholder="Digite para filtrar resultado">
        <em class="fas fa-search"></em>
      </div>
      <p-table
        id="caixa-table" [rows]="5" [paginator]="true" [pageLinks]="5" [value]="listaPrazoTratamento" [rowsPerPageOptions]="[5,10,20]" [reorderableColumns]="true" sortField="id" [loading]="loading"
        [sortOrder]="-1" styleClass="table table-striped table-sm table-hover text-center">
        <ng-template pTemplate="header">
          <tr>
            <th scope="col" [pSortableColumn]="'id'" style="width:60px">ID <p-sortIcon [field]="'id'"></p-sortIcon></th>
            <th scope="col" [pSortableColumn]="'situacaoProcesso'">Situação Pedido <p-sortIcon [field]="'situacaoProcesso'"></p-sortIcon></th>
            <th scope="col" [pSortableColumn]="'tipoProcesso'">Tipo Pedido <p-sortIcon [field]="'tipoProcesso'"></p-sortIcon></th>
            <th scope="col" [pSortableColumn]="'nomeTiposBeneficiario'">Tipo de Beneficiário <p-sortIcon [field]="'nomeTiposBeneficiario'"></p-sortIcon></th>
            <th scope="col" [pSortableColumn]="'prazo'" style="width:80px">Prazo <p-sortIcon [field]="'prazo'"></p-sortIcon></th>
            <th scope="col" [pSortableColumn]="'mudancaAutomatica'">Mudança Automática <p-sortIcon [field]="'mudancaAutomatica'"></p-sortIcon></th>
            <th scope="col" [pSortableColumn]="'inativo'" style="width:100px">Inativo <p-sortIcon [field]="'inativo'"></p-sortIcon></th>
            <th scope="col">Ação</th>
          </tr>
        </ng-template>
        <ng-template pTemplate="body" let-row>
          <tr>
            <td>{{row.id}}</td>
            <td>{{row.situacaoProcesso}}</td>
            <td>{{row.tipoProcesso}}</td>
            <td>{{row.nomeTiposBeneficiario}}</td>
            <td>{{row.prazo}}</td>
            <td>{{row.mudancaAutomatica}}</td>
            <td>{{row.inativo}}</td>
            <td>
              <span title="Editar registro" (click)="editar(row)" id="editar">
                <em class="fas fa-pen"></em>
              </span>
            </td>
          </tr>
        </ng-template>
      </p-table>
    </div>

    <div class="col-xs-12 p-0 barra-botoes">
      <button class="btn back-btn" (click)="voltar()" id="btnListarVoltar">
        <span class="fa fa-reply fa-fw"></span>Voltar
      </button>
      <button class="btn clean-btn" (click)="novo()" id="btnListarNovoPrazoTratamento">
        <span class="fa fa-plus fa-fw"></span>Incluir Prazos para Tratamento de Situação
      </button>
    </div>
  </section>
</div>
