<!-- Page Header-->
<div class="container">
  <div class="col-md-12 breadcrumb-header">
    <ul class="breadcrumb">
      <li><span (click)="voltar()" class="voltar"><i class="fa fa-arrow-left" aria-hidden="true"></i>Voltar</span>
      </li>
      <a routerLink="/home">Início</a>
      <em class="fa fa-chevron-right"></em>
      Administração
      <em class="fa fa-chevron-right"></em>
      Parâmetros
      <em class="fa fa-chevron-right"></em>
      <a routerLink="/manutencao/parametros/documento-pedido">Documento por Tipo de Pedido</a>
      <em class="fa fa-chevron-right"></em>
      Documento por Tipo de Pedido – Resultado
    </ul>
  </div>

  <div class="title-type">
    <h1 class="titulo-pagina">Documento por Tipo de Pedido – Resultado</h1>
  </div>

  <section class="row">
    <div>
      <div class="p-0 col-md-12">
        <h4>Dados da Pesquisa</h4>
      </div>

      <div class="clearfix"></div>

      <div class="p-0 col-xs-3" *ngIf="descricaoTiposProcesso">
        <label class="control-label" for="tipoProcesso">Tipo Pedido</label>&nbsp;<br>
        <p id="tipoProcesso">{{ descricaoTiposProcesso }}</p>
      </div>
      <div class="p-0 col-xs-3" *ngIf="descricaoTiposBeneficiario">
        <label class="control-label" for="tipoBeneficiario">Tipo de Beneficiário</label>&nbsp;<br>
        <p id="tipoBeneficiario">{{ descricaoTiposBeneficiario }}</p>
      </div>
      <div class="p-0 col-xs-3" *ngIf="descricaoMotivosDeSolicitacao">
        <label class="control-label" for="documento">Motivo de Solicitação</label>&nbsp;<br>
        <p id="documento">{{ descricaoMotivosDeSolicitacao }}</p>
      </div>
      <div class="p-0 col-xs-3" *ngIf="descricaoDocumentos">
        <label class="control-label" for="documento">Documento</label>&nbsp;<br>
        <p id="documento">{{ descricaoDocumentos }}</p>
      </div>
      <div class="p-0 col-xs-3" *ngIf="descricaoEstadoCivil">
        <label class="control-label" for="estadoCivil">Estado Civil</label>&nbsp;<br>
        <p id="estadoCivil">{{ descricaoEstadoCivil }}</p>
      </div>
      <div class="p-0 col-xs-3" *ngIf="descricaoSexo">
        <label class="control-label" for="sexo">Sexo</label>&nbsp;<br>
        <p id="sexo">{{ descricaoSexo }}</p>
      </div>
      <div class="p-0 col-xs-3">
        <label class="control-label" for="obrigatorios">Obrigatório</label>&nbsp;<br>
        <p id="obrigatorios">{{ filtro.obrigatorio ? "Sim" : "Não"}}</p>
      </div>
      <div class="p-0 col-xs-3">
        <label class="control-label" for="somenteAtivos">Somente Ativos</label>&nbsp;<br>
        <p id="somenteAtivos">{{ filtro.somenteAtivos ? "Sim" : "Não" }}</p>
      </div>
    </div>

    <div class="clearfix"></div>
    <div class="row p-0 col-md-9">
      <h4>Resultado da Consulta</h4>
    </div>

    <div class="row p-0 col-md-12" slot="content">

      <p-table
      #dt
      id="caixa-table"
      [value]="listaDocumentoProcesso"
      [paginator]="true"
      [rows]="5"
      [totalRecords]="listaTotal"
      paginatorPosition="top"
      [rowsPerPageOptions]="[5,10,20]"
      [reorderableColumns]="true"
      sortField="id"
      [loading]="loading"
      [sortOrder]="-1" 
      class="table table-striped table-sm table-hover text-center"
      emptyMessage="Nenhum resultado encontrado para os filtros informados."
      styleClass="paginator-right"
      [globalFilterFields]="['tipoProcesso','tipoBeneficiario','motivoDeSolicitacao','documento.nome','estadoCivil','descricaoObrigatorio', 'descricaoInativo']">

        <ng-template pTemplate="caption">
          <div class="campo-pesquisa">
              <dsc-input size="large" (input)="dt.filterGlobal($any($event.target).value, 'contains')" [placeholder]="'Digite para filtrar o resultado'" [iconSuffix]="'search'" />
          </div>
        </ng-template>

        <ng-template pTemplate="emptymessage">
          <tr> <td colspan="4">{{bundle('MA003')}}</td> </tr>
        </ng-template>
  
        <ng-template pTemplate="header">
          <tr>
            <th [pSortableColumn]="'tipoProcesso'" scope="col">Tipo de Pedido <p-sortIcon [field]="'tipoProcesso'"></p-sortIcon></th>
            <th [pSortableColumn]="'tipoBeneficiario'" scope="col">Tipo de Beneficiário <p-sortIcon [field]="'tipoBeneficiario'"></p-sortIcon></th>
            <th [pSortableColumn]="'motivoDeSolicitacao'" style="width:150px" scope="col">Motivo de Solicitação <p-sortIcon [field]="'motivoDeSolicitacao'"></p-sortIcon></th>
            <th [pSortableColumn]="'documento.nome'" scope="col">Documento <p-sortIcon [field]="'documento.nome'"></p-sortIcon></th>
            <th [pSortableColumn]="'sexo'" style="width:100px" scope="col">Sexo <p-sortIcon [field]="'sexo'"></p-sortIcon></th>
            <th [pSortableColumn]="'estadoCivil'" style="width:100px" scope="col">Estado Civil <p-sortIcon [field]="'estadoCivil'"></p-sortIcon></th>
            <th [pSortableColumn]="'descricaoObrigatorio'" style="width:120px" scope="col">Obrigatório <p-sortIcon [field]="'descricaoObrigatorio'"></p-sortIcon></th>
            <th [pSortableColumn]="'descricaoInativo'" style="width:90px" scope="col">Inativo <p-sortIcon [field]="'descricaoInativo'"></p-sortIcon></th>
            <th scope="col">Ação</th>
          </tr>
        </ng-template>
  
        <ng-template pTemplate="body" let-row>
          <tr>
            <td>{{row.tipoProcesso}}</td>
            <td>{{row.tipoBeneficiario}}</td>
            <td>{{row.motivoDeSolicitacao}}</td>
            <td>{{row.documento?.nome}}</td>
            <td>{{row.sexo}}</td>
            <td>{{row.estadoCivil}}</td>
            <td>{{row.descricaoObrigatorio}}</td>
            <td>{{row.descricaoInativo}}</td>
            <td>
              <span title="Editar registro" (click)="editar(row)" id="editar" style="cursor: pointer">
                <em class="fas fa-pen"></em>
              </span>
            </td>
          </tr>
        </ng-template>
  
      </p-table>
    </div>
    <!--div class="row p-0 col-md-12">
      <div class="col-xs-3 search-inp p-0" style="margin: 5px 0 8px; border-bottom: 0 none">
        <input #gb type="text" class="form-control filtro-caixa" size="50"
               placeholder="Digite para filtrar resultado">
        <em class="fas fa-search"></em>
      </div>
      <p-table
        id="caixa-table"
        [value]="listaDocumentoProcesso"
        [rows]="5"
        [paginator]="true"
        [pageLinks]="5"
        [totalRecords]="listaTotal"
        [rowsPerPageOptions]="[5,10,20]"
        [reorderableColumns]="true"
        sortField="id"
        [sortOrder]="-1"
        styleClass="table table-striped table-sm table-hover text-center">
        <ng-template pTemplate="emptymessage">
          <tr>
            <td colspan="9">{{(!loading)?bundle('MA003'):'Carregando ...'}}</td>
          </tr>
        </ng-template>
        <ng-template pTemplate="header">
          <tr>
            <th [pSortableColumn]="'tipoProcesso'" scope="col">Tipo de Pedido <p-sortIcon [field]="'tipoProcesso'"></p-sortIcon></th>
            <th [pSortableColumn]="'tipoBeneficiario'" scope="col">Tipo de Beneficiário <p-sortIcon [field]="'tipoBeneficiario'"></p-sortIcon></th>
            <th [pSortableColumn]="'motivoDeSolicitacao'" scope="col">Motivo de Solicitação <p-sortIcon [field]="'motivoDeSolicitacao'"></p-sortIcon></th>
            <th [pSortableColumn]="'documento.nome'" scope="col">Documento <p-sortIcon [field]="'documento.nome'"></p-sortIcon></th>
            <th [pSortableColumn]="'sexo'" style="width:100px" scope="col">Sexo <p-sortIcon [field]="'sexo'"></p-sortIcon></th>
            <th [pSortableColumn]="'estadoCivil'" scope="col">Estado Civil <p-sortIcon [field]="'estadoCivil'"></p-sortIcon></th>
            <th [pSortableColumn]="'descricaoObrigatorio'" style="width:120px" scope="col">Obrigatório <p-sortIcon [field]="'descricaoObrigatorio'"></p-sortIcon></th>
            <th [pSortableColumn]="'descricaoInativo'" style="width:90px" scope="col">Inativo <p-sortIcon [field]="'descricaoInativo'"></p-sortIcon></th>
            <th scope="col">Ação</th>
          </tr>
        </ng-template>
        <ng-template pTemplate="body" let-row>
          <tr>
            <td>{{row.tipoProcesso}}</td>
            <td>{{row.tipoBeneficiario}}</td>
            <td>{{row.motivoDeSolicitacao}}</td>
            <td>{{row.documento?.nome}}</td>
            <td>{{row.sexo}}</td>
            <td>{{row.estadoCivil}}</td>
            <td>{{row.descricaoObrigatorio}}</td>
            <td>{{row.descricaoInativo}}</td>
            <td>
              <span title="Editar registro" (click)="editar(row)" id="editar" style="cursor: pointer">
                <em class="fas fa-pen"></em>
              </span>
            </td>
          </tr>
        </ng-template>
      </p-table>
    </div-->

    <div class="col-xs-12 p-0 barra-botoes">
      <button class="btn back-btn" (click)="voltar()" id="btnListarVoltar">
        <span class="fa fa-reply fa-fw"></span>Voltar
      </button>
      <button class="btn clean-btn" (click)="novo()" id="btnListarNovoPrazoTratamento">
        <span class="fa fa-plus fa-fw"></span>Incluir Documento por Tipo de Pedido
      </button>
    </div>
  </section>
</div>
