.ui-dialog.ui-widget .ui-dialog-titlebar {
  padding: 1em 1.5em;
  display: flex;
  justify-content: space-between;
  background: #0065b7;
  color: white;
}

.footer-com-download .footer-acoes-modal {
  position: fixed;
  bottom: 0;
  display: flex;
  justify-content: space-between;
  background-color: #fdfdfd;
  padding: 12px;
  z-index: 1000;
}

.footer-sem-download .footer-acoes-modal {
  bottom: 0;
  width: 100%;
  display: flex;
  justify-content: space-between;
  background-color: #fdfdfd;
  padding: 12px;
  z-index: 1000;
  position: relative;
}

.ui-helper-clearfix::before,
.ui-helper-clearfix::after {
  display: none;
}

.ui-dialog .ui-dialog-titlebar-close span {
  display: block;
  margin: 0;
  color: white;
}

.dialog-container {
  background: #0065b7;
  border-radius: 3px 3px 0 0;
  padding: 12px;
  color: #fff;
}

div.visualizar-component {
  background-color: #fff;
  border-radius: 3px;
  min-height: 500px;
  width: 100%;
  max-width: 900px;
  display: flex;
  flex-direction: column;
}

div.visualizar-component div.header {
  background: #0065b7;
  border-radius: 3px 3px 0 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 12px;
}

div.visualizar-component div.header p {
  margin: 0;
  padding: 0;
  color: #fff;
}

div.visualizar-component div.header i {
  color: #fff;
  font-size: 24px;
  cursor: pointer;
  transition: 250ms ease-in-out;
}

div.visualizar-component div.header i:hover,
div.visualizar-component div.header i:active {
  opacity: 0.75;
  transition: 250ms ease-in-out;
}

div.visualizar-component div.body {
  flex-grow: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 16px;
}

div.visualizar-component div.body img {
  object-fit: contain;
  max-width: 500px;
}

div.visualizar-component div.align-itens {
  display: flex;
  align-items: center;
  cursor: pointer;
}

div.visualizar-component div.align-itens div.core-file {
  padding: 1.5em;
  flex-grow: 1;
  justify-self: center;
  justify-content: center;
  display: flex;
  width: 100%;
}

div.visualizar-component div.align-itens div.core-file iframe {
  height: 420px;
  width: 750px;
  margin: 0 auto;
}

div.visualizar-component div.align-itens div.core-file img {
  max-height: 385px;
  max-width: 750px;
  margin: 0 auto;
  text-align: center !important;
}

div.visualizar-component div.align-itens .icon-tag {
  color: #888;
  font-size: 14px;
}

div.visualizar-component div.align-itens .icon-tag .fa-arrow-left:before {
  -webkit-text-stroke: 1px #fff;
  font-size: 2rem;
  color: #0057ae;
}

div.visualizar-component div.align-itens .icon-tag .fa-arrow-right:before {
  -webkit-text-stroke: 1px #fff;
  font-size: 2rem;
  color: #0057ae;
}

div.visualizar-component div.footer {
  display: flex;
  justify-content: flex-end;
  padding: 12px;
  background-color: #fdfdfd;
  margin-top: auto;
}

div.visualizar-component div.footer button {
  border: none;
  border-radius: 3px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 8px 12px;
  transition: 250ms ease-in-out;
  margin: 4px;
}

div.visualizar-component div.footer button span {
  font-family: "Caixa Std Regular", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 25px;
  display: flex;
  align-items: center;
  text-align: center;
  color: #fff;
}

div.visualizar-component div.footer button.cancel {
  background-color: #0065b7;
  transition: 250ms ease-in-out;
}

div.visualizar-component div.footer button.cancel:hover,
div.visualizar-component div.footer button.cancel:active {
  background-color: #035597;
}

div.visualizar-component div.footer button.send {
  background-color: #f7941e;
  margin-right: 0;
}

div.visualizar-component div.footer button.send:hover,
div.visualizar-component div.footer button.send:active {
  background-color: #d37f18;
  transition: 250ms ease-in-out;
}

div.visualizar-component div.footer button.send:hover:disabled,
div.visualizar-component div.footer button.send:active:disabled {
  background-color: #dadada;
}

div.visualizar-component div.footer button.send:disabled {
  background-color: #dadada;
}

div.visualizar-component div.footer button:disabled {
  background-color: #dadada;
  cursor: not-allowed;
}

.footer-component-container {
  display: flex;
  justify-content: space-between;
}

.footer-component-container.to-left {
  flex-flow: row-reverse;
}

.footer-component-container-to-left {
  display: flex;
  justify-content: space-between;
  flex-flow: row-reverse;
}

.align-middle {
  top: 50%;
  height: 20px;
  margin-top: -10px;
}

.right-button,
.left-button {
  position: fixed;
  top: calc(50% - 10px);
}

.right-button {
  width: 20px;
  min-width: 20px;
}

.click {
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.footer-acoes-modal {
  margin-top: 10px;
  width: 95%;
}
