<label
  [attr.for]="id"
  [ngStyle]="compStyle"
  class="control-label label-class"
  *ngIf="label"
  [class.obrigatorio]="required !== null && required !== false"
>
  {{ label }}
</label>
<dsc-select
  *ngIf="!multiple"
  [attr.title]="hint"
  [formControl]="control"
  [id]="id"
  [inputId]="selectId"
  [tabIndex]="index"
  [disabled]="disabled"
  [options]="selectItems"
  [required]="required"
  [ngStyle]="compStyle"
  [searchable]="true"
  [placeholder]="this.placeholder || this.bundle('MHSPH')"
  (selectionChange)="changeAction($event)"
  size="standard"
  emptyMessage="Nenhum resultado encontrado"
>
</dsc-select>
<dsc-select
  *ngIf="multiple"
  [options]="selectItems"
  [formControl]="control"
  [required]="required"
  [attr.title]="hint"
  [ngStyle]="compStyle"
  (selectionChange)="changeAction($event)"
  [tabIndex]="index"
  [disabled]="disabled"
  [multiple]="true"
  size="standard"
  [placeholder]="'Selecione as opções'"
>
</dsc-select>
<p-progressBar
  mode="indeterminate"
  *ngIf="showProgressBar"
  [style]="{ height: '6px' }"
></p-progressBar>
<asc-input-error
  [control]="control"
  [requiredMsg]="requiredMsg"
  [style]="compStyle"
></asc-input-error>
