$corPreta: #000;
$fontFamilyCaixa: "Caixa Std Regular", sans-serif;

/* Estilos para PrimeNG (antigo) */
::ng-deep .p-dropdown-panel {
  .p-dropdown-items {
    .p-dropdown-item {
      color: $corPreta !important;
    }
  }
}

::ng-deep .p-dropdown-label{
  width: 100% !important;
  font-family: $fontFamilyCaixa !important;
  font-size: 15px;
  font-weight: 400;
  color: $corPreta;
}

::ng-deep .p-dropdown-trigger{
  position: absolute;
  right: 1px;
  top: 9px
}

::ng-deep .p-dropdown-items{
  font-size: 13px !important;
  font-family: $fontFamilyCaixa !important;
  color: $corPreta !important;
}

/* Estilos para DSC Select (novo) */
::ng-deep dsc-select {
  font-family: $fontFamilyCaixa !important;
  
  * {
    font-family: $fontFamilyCaixa !important;
  }
  
  input, button, span, div, label {
    font-family: $fontFamilyCaixa !important;
    color: $corPreta;
  }
}
