<dsc-select
  [label]="required !== null && required !== false ? (label ? label + ' *' : '') : (label || '')"
  [formControl]="control"
  [disabled]="showProgressBar || disabled"
  [options]="options"
  [showFilter]="true"
  [placeholder]="placeholder || bundle('MHSPH')"
  [required]="required"
  (selectionChange)="onChange($event)"
  [size]="size"
  #dropdownElement
>
<dsc-progress-bar mode="indeterminate" *ngIf="showProgressBar" [style]="{'height': '6px'}"></dsc-progress-bar>

<div *ngIf="mostarMsgErro()" class="error-form">
  <div *ngIf="control && control.hasError('required')">{{requiredMsg}}</div>
</div>
