<form [formGroup]="formularioSolicitacao">
  <div class="solicitacao-container">
    <div class="form-row">
      <div class="form-group col-md-12 noPaddingLeft">
        <p class="titulo">
          Vamos começar! Precisamos saber qual o beneficiário cujos dados deseja
          atualizar.
        </p>
      </div>
    </div>

    <div class="form-row">
      <div class="form-group col-md-6 noPaddingLeft">
        <div class="custom-form-group-input">
          <asc-select-beneficiario
            selectId="beneficiario"
            [matricula]="matricula"
            [uppercase]="true"
            label="Beneficiário"
            [required]="true"
            [control]="formularioSolicitacao.get('dependente')"
            (dadoSelecionado)="beneficiarioSelecionado($event)"
          ></asc-select-beneficiario>
        </div>
      </div>
      <div
        class="form-group col-md-6 noPaddingLeft"
        *ngIf="formularioSolicitacao.get('dependente').valid"

      >
        <div class="custom-form-group-input">
          <asc-select-tipo-dependente
            [uppercase]="true"
            label="Tipo de beneficiário"
            id="idTipoDependente"
            [required]="true"
            [inclusao]="false"
            [parametro]="{ id: formularioSolicitacao.get('dependente').value }"
            [control]="formularioSolicitacao.get('idTipoDependente')"
            (dadoSelecionado)="tipoDependenteSelecionado($event)"
          ></asc-select-tipo-dependente>
        </div>
      </div>
      <div class="form-group col-md-6 noPaddingLeft" *ngIf="showMatricula">
        <div class="custom-form-group-input" >
          <div class="custom-size">
            <asc-input-text
              [control]="formularioSolicitacao.get('matricula')"
              inputId="matricula"
              label="Matrícula Titular"
              [required]="true"
              maskName="matriculaMask"
            ></asc-input-text>
          </div>
        </div>
      </div>
    </div>

    <div class="form-row">
      <div class="form-group col-md-6 noPaddingLeft">
        <div
          class="custom-form-group-input"
          *ngIf="formularioSolicitacao.get('idTipoDependente').valid"

        >
          <div class="custom-size">
            <asc-select-finalidade
              [uppercase]="true"
              selectId="idMotivoSolicitacao"
              label="Motivo da Atualização"
              [required]="true"
              [idTipoProcessoAndIdBeneficiario]="{
                idTipoProcesso: TIPO_PROCESSO,
                idBeneficiario: idBeneficiario
              }"
              [tipoAcao]="CARREGAR_POR_TIPO_PROCESSO"
              [control]="formularioSolicitacao.get('idMotivoSolicitacao')"
              (dadoSelecionado)="motivoSolicitacaoSelecionado($event)"
            ></asc-select-finalidade>
          </div>
        </div>
      </div>

      <div class="form-group col-md-12 noPaddingLeft">
        <p class="titulo" >
          Você gostaria de informar um contato adicional para recebimento das
          notificações do seu pedido?
        </p>
      </div>

      <div class="form-group col-md-6 noPaddingLeft">
        <div class="custom-form-group-input" >
          <label class="control-label">E-mail <small>Opcional</small></label>
          <div class="custom-size">
            <asc-input-text
              [control]="formularioSolicitacao.get('email')"
              inputId="email"
              label=""
            ></asc-input-text>
          </div>
        </div>
      </div>

      <div class="form-group col-md-6 noPaddingLeft">
        <div class="custom-form-group-input" >
          <label class="control-label">Telefone <small>Opcional</small></label>
          <div class="custom-size">
            <asc-input-telefone
              [control]="formularioSolicitacao.get('telefoneContato')"
              inputId="telefone"
              label=""
            ></asc-input-telefone>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="footer">
    <asc-button-secondary
      buttonId="voltar"
      [routerLink]="routerLinkToBack"
      title="Voltar"
    ></asc-button-secondary>

    <asc-button-primary
      buttonId="continuar"
      title="Continuar"
      [disabled]="formularioSolicitacao.invalid"
      [showProgress]="showProgress"
      (onClick)="onSubmit()"
    ></asc-button-primary>
  </div>
</form>
