<ng-template #modalVisualizarTemplate let-context >
  <div class="visualizar-documento-container">
    <!-- Conteúdo do documento -->
    <div class="documento-content">
      <!-- Loading -->
      <div class="loading-container" *ngIf="isLoading && !urlDocumento && !textoDocumento">
        <dsc-progress-spinner
          [style]="{ width: '50px', height: '50px' }"
          animationDuration=".5s"
          fill="#EEEEEE"
          strokeWidth="4"
        ></dsc-progress-spinner>
        <p>Carregando documento...</p>
      </div>

      <!-- Navegação de páginas para PDF -->
      <div *ngIf="showPdf && isLoaded" class="pdf-navigation">
        <button
          class="btn-nav"
          (click)="goToPreviousPage()"
          [disabled]="page <= 1"
        >
          <em class="fa fa-chevron-left"></em> Anterior
        </button>
        <span class="page-info">Página {{ page }} de {{ totalPages }}</span>
        <button
          class="btn-nav"
          (click)="goToNextPage()"
          [disabled]="page >= totalPages"
        >
          Próxima <em class="fa fa-chevron-right"></em>
        </button>
      </div>

      <!-- conteudo do arquivo-->
      <ng-container *ngTemplateOutlet="contentFile; context: anexoModal" />
      <ng-container *ngTemplateOutlet="btn; context: anexoModal.$implicit.classeFooter" />

    </div>


  </div>
</ng-template>

<ng-template #contentFile let-context>
  <div class="title-tela" *ngIf="isJanelaDownload()">{{ this.fileName }}</div>
  <div class="documento-content">

    <!-- Visualizador de PDF -->
      <div class="documento-viewer" *ngIf="showPdf && urlDocumento">
        <pdf-viewer
          [src]="urlDocumento"
          [render-text]="true"
          [show-all]="false"
          [page]="page"
          [zoom]="zoom"
          [original-size]="false"
          [fit-to-page]="true"
          class="pdf-viewer"
          (after-load-complete)="onLoadComplete($any($event))"
          (pageChange)="onPageChange($any($event))"
        ></pdf-viewer>
      </div>

      <!-- Visualizador de Texto -->
      <div class="documento-viewer texto-viewer" *ngIf="showTexto && textoDocumento">
        <pre>{{ textoDocumento }}</pre>
      </div>

      <!-- Visualizador de Imagem -->
      <div class="documento-viewer imagem-container" *ngIf="!showPdf && !showTexto && urlDocumento">
        <img [src]="urlDocumento" alt="{{ fileName }}" [class]="context.classeModal" />
      </div>

      <div style="position: fixed; bottom: 0" *ngIf="context.classeModal == 'imagem-viewer-tela'">
        <ng-container *ngTemplateOutlet="btn; context: context.classeFooter" />
      </div>
  </div>


</ng-template>

<ng-template #btn let-context>
  <!-- Footer com botões -->
    <div [class]="context.classe">
      <!-- Navegação entre arquivos (se houver mais de um) -->
      <div class="navegacao-arquivos" *ngIf="arquivos.length > 1">
        <button
          class="btn-nav-arquivo"
          (click)="navegarParaAnterior()"
          [disabled]="isPrimeiroArquivo"
          title="Arquivo anterior"
        >
          <em class="fa fa-arrow-left"></em>
        </button>
        <span class="arquivo-info">{{ currentIndex + 1 }} / {{ arquivos.length }}</span>
        <button
          class="btn-nav-arquivo"
          (click)="navegarParaProximo()"
          [disabled]="isUltimoArquivo"
          title="Próximo arquivo"
        >
          <em class="fa fa-arrow-right"></em>
        </button>
      </div>

      <div class="action-buttons" style="margin-right: 10px">
        <dsc-button label="Download" iconPrefix="cloud_download" (click)="downloadArquivo()"/>
        <dsc-button label="Fechar" variant="secondary" iconPrefix="close" (click)="fechar()"/>
        <dsc-button label="Abrir em nova janela" variant="danger" iconPrefix="open_in_new" *ngIf="mostrarBotaoDownload()" (click)="abrirNovaJanela()"/>
        <!-- <button class="btn-download" (click)="downloadArquivo()" title="Download">
          <em class="fa fa-download"></em> Download
        </button>
        <button class="btn-fechar" (click)="fechar()" title="Fechar">
          <em class="fa fa-times"></em> Fechar
        </button>
        <button class="btn-fechar" *ngIf="mostrarBotaoDownload()" (click)="abrirNovaJanela()" title="Nova janela">
          <em class="fa fa-times"></em> Abrir em nova janela
        </button> -->
      </div>
    </div>


</ng-template>


<div *ngIf="this.isJanelaDownload()">
  <ng-container *ngTemplateOutlet="contentFile; context: anexoTela" />
</div>
