<asc-modal-navegacao
  [infoExibicao]="infoExibicao"
  [modoRotacao]="false"
  [height]="'auto'"
  [class]="'mdl-custom-pdf'"
  (onFechar$)="fechar()"
  (onDownload$)="downloadArquivo()"
  (infoExibicaoAtual$)="exibirItemAtual($event)"
  [withControls]="controls"
>
  <asc-viewport class="core-file">
    <!-- Exibe a navegação de páginas apenas se for um PDF -->
    <div
      *ngIf="showPdf"
      class="navigation-buttons"
      style="text-align: center; margin-bottom: 10px"
    >
      <button
        class="btnASCMODAL"
        (click)="goToPreviousPage()"
        [disabled]="page <= 1 || isLoading"
      >
        Anterior
      </button>
      <span>Página {{ page }} de {{ totalPages }}</span>
      <button
        class="btnASCMODAL"
        (click)="goToNextPage()"
        [disabled]="page >= totalPages || isLoading"
      >
        Próxima
      </button>
    </div>

    <pdf-viewer
      *ngIf="showPdf"
      [src]="urlDocumento"
      [render-text]="true"
      [show-all]="false"
      [page]="page"
      [zoom]="zoom"
      [original-size]="true"
      [fit-to-page]="true"
      class="posicaoPDF"
      (after-load-complete)="onLoadComplete($any($event))"
      (pageChange)="onPageChange($any($event))"
    ></pdf-viewer>

    <div *ngIf="showTexto" class="texto-viewer">
      <pre>{{ textoDocumento }}</pre>
    </div>

    <div *ngIf="!showPdf && !showTexto">
      <img [src]="urlDocumento" alt="{{ fileName }}" class="posicaoImagem" />
    </div>
  </asc-viewport>
</asc-modal-navegacao>
