.ui-dialog.ui-widget .ui-dialog-titlebar {
  padding: 1em 1.5em;
  display: flex;
  justify-content: space-between;
  background: #0065b7 !important;
  color: white;
}

.ui-helper-clearfix::before,
.ui-helper-clearfix::after {
  display: none;
}

.ui-dialog .ui-dialog-titlebar-close span {
  display: block;
  margin: 0;
  color: white;
}

// .ui-dialog {
//   height: 1012px !important;
//   zoom: 1 !important;
// }

// .ui-dialog-content {
//   height: 800px !important;
// }

.dialog-container {
  background: #0065b7;
  border-radius: 3px 3px 0 0;
  padding: 12px;
  color: #fff;
}

div.visualizar-component {
  background-color: #fff;
  border-radius: 3px;
  min-height: 500px;
  width: 100%;
  max-width: 900px;
  display: flex;
  flex-direction: column;

  div.header {
    background: #0065b7;
    border-radius: 3px 3px 0 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 12px;

    p {
      margin: 0;
      padding: 0;
      color: #fff;
    }
  }
}

.posicaoImagem {
  width: 100%;
  height: 100%;
  max-width: 100%;
  object-fit: contain;
  border: none;
  display: block;
  margin: 0 auto;
}

.posicaoPDF {
  width: 100%;
  height: 100%;
  border: none;
  overflow: hidden;
}

.core-file {
  height: 600px;
}
