<form [formGroup]="form" #formDirective="ngForm">

  <div class="form-container">
    <div class="form-row">
      <div class="form-field-full">
        <asc-select-patologia
          selectId="patologia"
          [parametro]="parametroSelectPatologia"
          [control]="form.get('idPatologia')"
          (dadoSelecionado)="patologiaSelecionado($event)"
          formControlName="idPatologia"
          label="Patologia"
          [required]="true"
          style="border-left: none !important"
        ></asc-select-patologia>
      </div>
    </div>

    <!-- Linha 1: Laboratório (1/2), Quantidade Solicitada (1/2) -->
    <div class="form-row">
      <div class="form-field-half"
           *ngIf="mostrarCampo('idLaboratorio')">
        <asc-select-laboratorio
          selectId="laboratorio"
          [parametros]="patologia"
          [control]="form.get('idLaboratorio')"
          (dadosBackend)="onLaboratoriosLoaded($event)"
          (dadoSelecionado)="laboratorioSelecionado($event)"
          formControlName="idLaboratorio"
          [required]="true"
          label="Laboratório"
          style="border-left: none !important"
        ></asc-select-laboratorio>
      </div>

      <div class="form-field-half"
           *ngIf="mostrarCampo('qtdSolicitada')">
        <asc-input-text
          label="Quantidade solicitada"
          [required]="true"
          [control]="form.get('qtdSolicitada')"
          inputId="qtdSolicitada"
          [somenteNumeros]="true"
          [maxlength]="3">
          <asc-input-error nomeErro="min" [msgErro]="bundle('MA012')"></asc-input-error>
        </asc-input-text>
      </div>
    </div>

    <!-- Linha 2: Medicamento (1/2), Dias Atendidos (1/2) -->
    <div class="form-row">
      <div class="form-field-half"
           *ngIf="mostrarCampo('codigoMedicamento')">
        <asc-select-medicamento
          selectId="medicamento"
          [parametros]="medicamentoParam"
          [control]="form.get('codigoMedicamento')"
          (dadosBackend)="onMedicamentosLoaded($event)"
          (dadoSelecionado)="medicamentoSelecionado($event)"
          formControlName="codigoMedicamento"
          [required]="true"
          label="Medicamento"
          style="border-left: none !important"
        ></asc-select-medicamento>
      </div>

      <div class="form-field-half"
           *ngIf="mostrarCampo('diasAtendidosPelaQuantidade')">
        <asc-input-text
          label="Dias atendidos pela quantidade"
          [required]="true"
          [control]="form.get('diasAtendidosPelaQuantidade')"
          inputId="diasAtendidosPelaQuantidade"
          [somenteNumeros]="true"
          [maxlength]="3">
          <asc-input-error nomeErro="min" [msgErro]="bundle('MA078')"></asc-input-error>
        </asc-input-text>
      </div>
    </div>

    <!-- Linha 3: Apresentação (1/2), Valor Unitário Pago (1/2) -->
    <div class="form-row">
      <div class="form-field-half"
           *ngIf="mostrarCampo('idMedicamento')">
        <asc-select-medicamento-apresentacao
          selectId="apresentacaoMedicamento"
          [parametros]="medicamentoApresentacaoParam"
          [control]="form.get('idMedicamento')"
          (dadosBackend)="onApresentacoesLoaded($event)"
          (dadoSelecionado)="medicamentoApresentacaoSelecionado($event)"
          formControlName="idMedicamento"
          [required]="true"
          label="Apresentação"
          style="border-left: none !important"
        ></asc-select-medicamento-apresentacao>
      </div>

      <div class="form-field-half"
           *ngIf="mostrarCampo('valorUnitarioPago')">
        <asc-input-money-type [control]="form.get('valorUnitarioPago')" inputId="valorUnitarioPago"
                              label="Valor unitário pago" [required]="true">
          <asc-input-error nomeErro="min"
                           [msgErro]="'O Valor Unitário Pago deve ser maior do que 0 (zero).'"></asc-input-error>
        </asc-input-money-type>
        <div class="error-form" *ngIf="erroValorDocumentoFiscal">{{ bundle('MA083') }}</div>
      </div>
    </div>
  </div>

  <div *ngIf="isToShowForm && enableAllAction" class=" flex-end">
    <asc-button-secondary
      buttonId="adicionarProcedimento"
      [title]="isEditing ? 'Concluir alteração' : 'Adicionar'"
      [showProgress]="loading"
      [disabled]="form?.invalid || loading"
      (onClick)="adicionarProcedimento(formDirective, $event)"
      style="margin-right: 8px;"
    ></asc-button-secondary>

    <asc-button-primary
      buttonId="limpar"
      [title]="isEditing ? 'Cancelar' : 'Limpar'"
      (onClick)="clickButtonCancelarProcedimento(formDirective, $event)"
    ></asc-button-primary>
  </div>

</form>
