<!-- Page Header-->
<div class="col-md-12 breadcrumb-header">
  <ul class="breadcrumb">
    <li><span routerLink="/" class="voltar"><i class="fa fa-arrow-left" aria-hidden="true"></i>Voltar</span></li>
    <a routerLink="/home">Início</a>
    <i class="fa fa-chevron-right"></i>
    Administra&ccedil;&atilde;o
    <i class="fa fa-chevron-right"></i>
    <a routerLink="/manutencao/consulta/pedidos">Consultar Pedidos b</a>
    <i class="fa fa-chevron-right"></i>
    <a routerLink="/manutencao/consulta/pedidos/lista">Resultado da Consulta</a>
  </ul>
</div>

<header class="page-header">
  <div class="container-fluid">
    <h2 class="no-margin-bottom">Consulta de Pedidos</h2>
  </div>
</header>
<!-- Page Header-->

<section class="row container-fluid">
  <div class="row col-md-6 coluna-interna">
    <div class="row col-md-12">
      <h4>Dados dos Pedidos</h4>
    </div>

    <div class="clearfix"></div>

    <div class="row col-md-6" *ngIf="filtro && filtro.idPedido">
      <label class="control-label" for="numeroProcesso">Pedido</label>
      <p class="marginBottom">{{filtro?.idPedido}}</p>
    </div>

    <div class="row col-md-6" *ngIf="filtro.condicaoProcesso && filtro.condicaoProcesso.value">
      <label class="control-label" for="condicaoProcesso">Condição do Pedido</label>
      <p *ngIf="filtro.condicaoProcesso && filtro.condicaoProcesso.value">{{filtro.condicaoProcesso.label}}</p>
    </div>

    <div class="clearfix"></div>

    <div class="row col-xs-6" *ngIf="filtro.tiposProcesso && !(filtro.tiposProcesso.length == 0)">
      <label class="control-label" for="tipoProcesso">Tipo de Pedido</label>
      <p *ngFor="let tipoProcesso of filtro.tiposProcesso">{{tipoProcesso.label}}</p>
    </div>

    <div class="row col-xs-6" *ngIf="filtro.situacoesProcesso && !(filtro.situacoesProcesso.length == 0)">
      <label class="control-label" for="situacaoProcesso">Situação do Pedido</label>
      <p *ngFor="let situacaoProcesso of filtro.situacoesProcesso">{{situacaoProcesso.label}}</p>
    </div>

    <div class="clearfix"></div>

    <div class="row col-xs-2" *ngIf="filtro.ufsProcesso && !(filtro.ufsProcesso.length == 0)">
      <label class="control-label" for="uf">UF</label>
      <p *ngFor="let uf of filtro.ufsProcesso">{{uf.value}}</p>
    </div>

    <div class="row col-xs-4" *ngIf="filtro.filiaisProcesso && !(filtro.filiaisProcesso.length == 0)">
      <label class="control-label" for="filial">Agrupadora</label>
      <p *ngFor="let filial of filtro.filiaisProcesso">{{filial.label}}</p>
    </div>

    <div class="row col-xs-2" *ngIf="filtro.ufAtendimento && filtro.ufAtendimento.value">
      <label class="control-label" for="uf">UF do Atendimento</label>
      <p *ngIf="filtro.ufAtendimento && filtro.ufAtendimento.value">{{filtro.ufAtendimento.label}}</p>
    </div>

    <div class="row col-xs-4" *ngIf="filtro.municipioAtendimento && filtro.municipioAtendimento.value">
      <label class="control-label" for="municipioA">Município do Atendimento</label>
      <p id="municipioA"
         *ngIf="filtro.municipioAtendimento && filtro.municipioAtendimento.value">{{filtro.municipioAtendimento.label}}</p>
    </div>
  </div>

  <div class="row col-md-6 coluna-interna">
    <div class="row col-md-12">
      <h4>Dados do Titular/Beneficiários</h4>
    </div>

    <div class="row col-xs-8" *ngIf="filtro.tiposBeneficiario && !(filtro.tiposBeneficiario.length == 0)">
      <label class="control-label" for="tipoBeneficiario">Tipo de Beneficiário</label>
      <p *ngFor="let tipoBeneficiario of filtro.tiposBeneficiario">{{tipoBeneficiario.label}}</p>
    </div>

    <div class="row col-md-4" *ngIf="filtro.matriculaTitular">
      <label class="control-label" for="matriculaTitular">Matrícula do Titular</label>
      <p>{{filtro.matriculaTitular}}</p>
    </div>

    <div class="clearfix"></div>

    <div class="row col-md-4" *ngIf="filtro.numeroCartao">
      <label class="control-label" for="codigoBeneficiario">Código do Beneficiário</label>
      <p id="codigoBeneficiario">{{filtro.numeroCartao}}</p>
    </div>

    <div class="row col-md-8" *ngIf="filtro.nomeBeneficiario">
      <label class="control-label" for="nomeBeneficiario">Nome do Beneficiário</label>
      <p>{{filtro.nomeBeneficiario}}</p>
    </div>

    <div class="clearfix"></div>

    <div class="row col-xs-4" *ngIf="filtro.caraterSolicitacao && filtro.caraterSolicitacao.label">
      <label class="control-label" for="caraterSolicitacao">Caráter da Solicitação</label>
      <p *ngIf="filtro.caraterSolicitacao && filtro.caraterSolicitacao.label">{{filtro.caraterSolicitacao.label}}</p>
    </div>

    <div class="row col-md-4" *ngIf="filtro.matriculaUltimoUsuario">
      <label class="control-label" for="codigoUsuario">Último Usuário</label>
      <p>{{filtro.matriculaUltimoUsuario}}</p>
    </div>
  </div>

  <div class="clearfix"></div>

  <div class="row col-md-9">
    <h4>Resultado da Consulta</h4>
  </div>

  <div class="row col-xs-3 floatRight" style="padding:4px 10px; border-bottom: 0 none">
    <input #gb type="text" class="form-control filtro" size="50" placeholder="Digite para filtrar resultado">
  </div>

  <div class="clearfix"></div>

  <div class="row col-md-12">
    <p-table
      [value]="listaProcessos"
      [paginator]="true"
      [rows]="rowCounter"
      [rowsPerPageOptions]="[5,10,20]"
      [totalRecords]="listaProcessos.length"
      (onPage)="onPageChange($event)"
      styleClass="table table-striped table-sm table-hover"
      #dt>
      <ng-template pTemplate="emptymessage">
        <tr>
          <td colspan="9">{{bundle('MA003')}}</td>
        </tr>
      </ng-template>
      <ng-template pTemplate="header">
        <tr>
          <th [pSortableColumn]="'idPedido'">Pedido <p-sortIcon [field]="'idPedido'"></p-sortIcon></th>
          <th>Tipo de Pedido</th>
          <th>Tipo de Beneficiário</th>
          <th [pSortableColumn]="'idFilial'">Agrupadora <p-sortIcon [field]="'idFilial'"></p-sortIcon></th>
          <th [pSortableColumn]="'descBeneficiario'">Beneficiário <p-sortIcon [field]="'descBeneficiario'"></p-sortIcon></th>
          <th [pSortableColumn]="'descSituacaoPedido'">Situação Atual <p-sortIcon [field]="'descSituacaoPedido'"></p-sortIcon></th>
          <th [pSortableColumn]="'dataUltimaAlteracao'">Data e Hora <p-sortIcon [field]="'dataUltimaAlteracao'"></p-sortIcon></th>
          <th [pSortableColumn]="'matriculaUltimoUsuario'">Último Usuário <p-sortIcon [field]="'matriculaUltimoUsuario'"></p-sortIcon></th>
          <th>Ação</th>
        </tr>
      </ng-template>
      <ng-template pTemplate="body" let-row>
        <tr>
          <td>{{row.idPedido | processo}}</td>
          <td><span title="{{row.descTipoProcesso}}">{{row.codTipoProcesso}}</span></td>
          <td><span title="{{row.descTipoBeneficiario}}">{{row.abrevTipoBeneficiario}}</span></td>
          <td>{{row.idFilial}}</td>
          <td>{{row.descBeneficiario}}</td>
          <td>{{row.descSituacaoPedido}}</td>
          <td>{{row.dataUltimaAlteracao | date : 'dd/MM/yyyy HH:mm:ss'}}</td>
          <td>{{row.matriculaUltimoUsuario}}</td>
          <td>
            <button class="btn btn-info" title="Acessar Pedido" (click)="detalharProcesso(row)">
              <span class="fa fa-archive fa-fw"></span>
            </button>
          </td>
        </tr>
      </ng-template>
      <ng-template pTemplate="footer">
        <tr>
          <td colspan="9">{{mensagemPaginacao}}</td>
        </tr>
      </ng-template>
    </p-table>
  </div>

  <div class="col-xs-12 barra-botoes">
    <button class="btn btn-info" (click)="retornarConsulta()">
      <span class="fa fa-reply fa-fw"></span>Voltar
    </button>
  </div>
</section>
