<asc-base-layout-home
baseTitulo="Procedimentos que exigem autorização prévia">

  <ng-template #breadcrumb>
    <em class="fa fa-chevron-right"></em>
    {{duvidasService.getTitle()}}
    <em class="fa fa-chevron-right"></em>
    Procedimentos que exigem autorização prévia
  </ng-template>

  <div class="info-pagina" slot="info">
    <p class="info-p">
      A tabela abaixo contém os procedimentos cuja realização necessita de Autorização Prévia, apresentando as peculiaridades de cada código:
    </p>
    <p class="info-p"><b>Nível</b></p>
    <p class="info-p"><b>&nbsp;- AUDITORIA DE SAÚDE:</b>
      procedimento autorizado por Enfermeiro/Técnico da auditoria de saúde ou usuário com privilégio igual ou superior;
    </p>
    <p class="info-p"><b>&nbsp;- DENTISTA:</b>
      procedimento autorizado por Dentista ou usuários com privilégio igual ou superior;
    </p>
    <p class="info-p"><b>&nbsp;- CENTRALIZADORA:</b>
      procedimento autoridado pela Gerência regional ou instância superior;
    </p>
    <p class="info-p"><b>&nbsp;- MATRIZ:</b>
      procedimento autorizado apenas pela Gerência Nacional, máxima alçada.
    </p>

  </div>

  <div class="row p-0 col-md-12" slot="content">
      <div class="col-xs-3 search-inp p-0" style="margin: 5px 0 8px; border-bottom: 0 none">
        <input #gb type="text" class="form-control filtro-caixa" size="50" placeholder="Digite para filtrar resultado">
        <em class="fas fa-search"></em>
      </div>
      <p-table
        id="caixa-table"
        [value]="listaProcedimentos"
        [rows]="rowCounter"
        [paginator]="true"
        [pageLinks]="5"
        [totalRecords]="listaProcedimentos?.length"
        [rowsPerPageOptions]="[5,10,20]"
        [reorderableColumns]="true"
        sortField="id"
        [loading]="loading"
        [sortOrder]="-1"
        styleClass="table table-striped table-sm table-hover text-center">
        <ng-template pTemplate="emptymessage">
          <tr>
            <td colspan="4">{{bundle('MA142')}}</td>
          </tr>
        </ng-template>
        <ng-template pTemplate="header">
          <tr>
            <th scope="col" [pSortableColumn]="'id'" style="width:35px">Código <p-sortIcon [field]="'id'"></p-sortIcon></th>
            <th scope="col" [pSortableColumn]="'descricaoProcedimento'" style="width:60px;text-align: left">Nome do Procedimento <p-sortIcon [field]="'descricaoProcedimento'"></p-sortIcon></th>
            <th scope="col" [pSortableColumn]="'noTipoProcesso'" style="width:40px;text-align: left">Tipo Pedido <p-sortIcon [field]="'noTipoProcesso'"></p-sortIcon></th>
            <th scope="col" [pSortableColumn]="'noNivelAutorizacao'" style="width:40px">Nível <p-sortIcon [field]="'noNivelAutorizacao'"></p-sortIcon></th>
          </tr>
        </ng-template>
        <ng-template pTemplate="body" let-row>
          <tr>
            <td>{{row.id | handleMask}}</td>
            <td style="text-align: left">{{row.descricaoProcedimento}}</td>
            <td style="text-align: left">{{row.noTipoProcesso}}</td>
            <td>{{row.noNivelAutorizacao}}</td>
          </tr>
        </ng-template>
      </p-table>
    </div>

</asc-base-layout-home>
