<asc-base-layout-home
baseTitulo="Procedimentos que exigem autorização prévia">

  <ng-template #breadcrumb>
    <em class="fa fa-chevron-right"></em>
    {{duvidasService.getTitle()}}
    <em class="fa fa-chevron-right"></em>
    Procedimentos que exigem autorização prévia
  </ng-template>

  <div class="info-pagina" slot="info">
    <p class="info-p">
      A tabela abaixo contém os procedimentos cuja realização necessita de Autorização Prévia, apresentando as peculiaridades de cada código:
    </p>
    <p class="info-p"><b>Nível</b></p>
    <p class="info-p"><b>&nbsp;- AUDITORIA DE SAÚDE:</b>
      procedimento autorizado por Enfermeiro/Técnico da auditoria de saúde ou usuário com privilégio igual ou superior;
    </p>
    <p class="info-p"><b>&nbsp;- DENTISTA:</b>
      procedimento autorizado por Dentista ou usuários com privilégio igual ou superior;
    </p>
    <p class="info-p"><b>&nbsp;- CENTRALIZADORA:</b>
      procedimento autoridado pela Gerência regional ou instância superior;
    </p>
    <p class="info-p"><b>&nbsp;- MATRIZ:</b>
      procedimento autorizado apenas pela Gerência Nacional, máxima alçada.
    </p>

  </div>

  <div class="row"></div>

  <div class="row p-0 col-md-12" slot="content">

    <p-table
      #dt
      id="caixa-table"
      [value]="listaProcedimentos"
      [paginator]="true"
      [rows]="10"
      [totalRecords]="listaProcedimentos?.length"
      paginatorPosition="top"
      [rowsPerPageOptions]="[5,10,20]"
      [reorderableColumns]="true"
      sortField="id"
      [loading]="loading"
      [sortOrder]="-1" class="table table-striped table-sm table-hover text-center body-centralizado"
      styleClass="paginator-right"
      [globalFilterFields]="['id','descricaoProcedimento','noTipoProcesso','noNivelAutorizacao']">
      <ng-template pTemplate="caption">
        <div class="campo-pesquisa">
            <dsc-input size="large" (input)="dt.filterGlobal($any($event.target).value, 'contains')" [placeholder]="'Digite para filtrar o resultado'" [iconSuffix]="'search'" />
        </div>
      </ng-template>

      <ng-template pTemplate="header">
        <tr>
          <th pSortableColumn="id" scope="col">Código <p-sortIcon [field]="'id'"></p-sortIcon></th>
          <th pSortableColumn="descricaoProcedimento" scope="col">Nome do Procedimento <p-sortIcon [field]="'descricaoProcedimento'"></p-sortIcon></th>
          <th pSortableColumn="noTipoProcesso" scope="col">Tipo Pedido <p-sortIcon [field]="'noTipoProcesso'"></p-sortIcon></th>
          <th pSortableColumn="noNivelAutorizacao" scope="col">Nível <p-sortIcon [field]="'noNivelAutorizacao'"></p-sortIcon></th>
        </tr>
      </ng-template>

      <ng-template pTemplate="body" let-rowData>
        <tr>
          <td>{{rowData.id | handleMask}}</td>
          <td>{{rowData.descricaoProcedimento}}</td>
          <td>{{rowData.noTipoProcesso}}</td>
          <td>{{rowData.noNivelAutorizacao}}</td>
        </tr>
      </ng-template>

    </p-table>
  </div>

</asc-base-layout-home>
