<base-layout-form
[baseTitulo]="baseTitulo"
(salvar)="salvar()"
(limparCampos)="limparCampos()"
[id]="atualizar"
(excluir)="excluir()"
(restaurarCampos)="restaurarCampos()"
[disabled]="formInvalido()"
>

<ng-template #breadcrumb>
  <em class="fa fa-chevron-right"></em> Administração
  <em class="fa fa-chevron-right"></em> Parâmetros
  <em class="fa fa-chevron-right"></em>
  <a [routerLink]="[baseURL]">{{baseTitulo}}</a>
</ng-template>

<form [formGroup]="formulario" name="form" slot="form">

  <div class="form-row">
    <div class="col-md-6 mb-15 pl-0">
      <asc-dropdown
            [items]="listaComboTipoProcesso"
            label="Tipo de Pedido"
            [control]="idTipoProcesso"
            [required]="!atualizar"
            [readonly]="camposReadonly"
            (selected)="carregaBeneficiariosPorTipoProcesso()"
            name="idTipoProcesso"
      ></asc-dropdown>
    </div>

    <div class="col-md-6 mb-15 pl-0">
      <asc-multiSelect label="Tipos Beneficiário" [control]="tiposBeneficiario" [options]="listComboTipoBeneficiario" [required]="true"></asc-multiSelect>
      <asc-input-error [control]="tiposBeneficiario" [requiredMsg]="requiredMsg"></asc-input-error>
    </div>
  </div>

  <div class="form-row">
    <div class="col-md-4 mb-15 pl-0" >
      <asc-dropdown
        [items]="icNiveisNegacao"
        label="Nível de Negação"
        [control]="icNiveisNegacaoCombo"
        [required]="true"
        [readonly]="camposReadonly"
        (selected)="prepararFiltroParaCarregarMotivoNegacao($event)"
        name="icNiveisNegacao"
        ></asc-dropdown>
    </div>

    <div class="col-md-9 mb-15 pl-0"  *ngIf="icNiveisNegacaoCombo.value == 'S'">
      <asc-dropdown
        [items]="listaComboSituacoesProcesso"
        label="Situação do Pedido"
        [control]="campoSituacaoProcesso"
        (selected)="carregarMotivoNegacao()"
        [required]="true"
        [readonly]="camposReadonly"
        ></asc-dropdown>
    </div>

    <div class="col-md-9 mb-15 pl-0" *ngIf=" icNiveisNegacaoCombo.value == 'D'">
      <asc-dropdown *ngIf="icNiveisNegacaoCombo.value"
        [items]="listaComboMotivoNegacao"
        label="Motivo de Negação"
        [control]="idMotivoNegacao"
        [required]="!atualizar"
        [readonly]="camposReadonly"
        name="idMotivoNegacao"
        ></asc-dropdown>
    </div>

  </div>

    <div class="form-row" *ngIf="icNiveisNegacaoCombo.value == 'S'">

      <div class="col-md-9 mb-15 pl-0" >
        <asc-dropdown *ngIf="icNiveisNegacaoCombo.value"
          [items]="listaComboMotivoNegacao"
          label="Motivo de Negação"
          [control]="idMotivoNegacao"
          [required]="!atualizar"
          [readonly]="camposReadonly"
          name="idMotivoNegacao"
          ></asc-dropdown>
      </div>
    </div>

  <div class="form-row inativo-form" *ngIf="atualizar">
    <div class="col-md-3 p-0">
      <asc-checkbox label="Inativo" name="ativos" formControlName="inativo" [valoresTrueOrFalse]="true"></asc-checkbox>
    </div>
    <div class="col-md-5 pl-0">
      <asc-input-date
              [control]="dataInativacao" 
              [required]="formulario.get('inativo').value"
              *ngIf="formulario.get('inativo').value" 
              inputId="dataInativacao" 
              label="Data da Inativação"

      ></asc-input-date>
      <asc-message-error
              [control]="dataInativacao" type="dataIgualAtualMaior"
              errorMessage="Data de Inativação deve ser igual ou superior a data atual!"
      ></asc-message-error>
    </div>
</div>

</form>


</base-layout-form>


  
