<section>
  <div class="title-card">Mudança de situação</div>
  <div class="row">


      <asc-dropdown
        label="Situação"
        [required]="true"
        [disabled]="loading"
        [items]="itensSituacoesProcesso"
        [control]="fcSituacaoProcesso"
        class="col-md-12"
      ></asc-dropdown>


  </div>


    <div *ngIf="(isProcessoReembolso || isProcessoAutorizacao) && isExibeCampoAutorizacaoOuReembolso" class="col-md-12 mb-15 no-padding-left">
      <asc-input-text
        [control]="fcAutorizacao" inputId="idAutorizacao" label="{{isProcessoReembolso ? 'Número do PEG' : 'Número da autorização'}}"
        [required]="(isProcessoReembolso || isProcessoAutorizacao) && isExibeCampoAutorizacaoOuReembolso"
        autocomplete="off"
        [index]="1"
        (onBlur)="obterDataValidacaoPorNumeroAutorizacao()"
        [maxlength]="20">
      </asc-input-text>

      <div *ngIf="dataValidade != null">
        <label class="label-campo-card">Data de Validade</label>
        <p>{{dataValidade | date: 'dd/MM/yyyy'}}</p>
      </div>

    </div>

    <div class="row">
      <div class="col-md-6">
        <div class="row">

          <div class="col-md-12" style="margin-left: -12px">

              <asc-dropdown
                label="Motivo de negação"
                [required]="true"
                [items]="itensMotivoNegacao"
                [disabled]="ePositivo || loading"
                [required]="!(ePositivo || loading)"
                [control]="fcMotivoNegacao"
                class=""
              ></asc-dropdown>

          </div>


          <asc-file-selector
            class=""
            *ngIf="!loading"
            [extensions]="'.jpg,.png,.gif,.pdf'"
            [limitLengthFile]="4096000"
            (arquivos)="arquivos($event)">
          </asc-file-selector>
        </div>

      </div>

      <div class="col-md-6 ">
        <div class="input-content ">
          <dsc-textarea
            [label]="dadosSituacao?.requerJustificativa === 'SIM' ? 'Justificativa' : 'Histórico'"
            [formControl]="fcHistoricoSituacao"
            [formFieldHint]="''"
            />

        </div>
      </div>

    </div>



  <div *ngFor="let file of fileUpload; let i = index" @fadeInOut>
    <div class="arquivo-card">
      <div class="arquivo-info">
        <p class="arquivo-nome">{{file.name}}</p>
        <p class="arquivo-data">{{file.data}}
          <i class="fa fa-user-circle-o" aria-hidden="true"></i>
        </p>
      </div>
      <div class="arquivo-actions">
        <button
          (click)="abrirModalVisualizarDocumentos( $event, file, modalVisualizarDocumentoComponent, fileUpload)"
          [disabled]="loading"
          [attr.title]="bundle('MH147')">
          <em class="fa fa-eye"></em>
        </button>
        <button
          (click)="removerDocumento(i)"
          [attr.title]="bundle('MH148')"
          [disabled]="loading">
          <em class="fa fa-trash"></em>
        </button>
      </div>
    </div>
  </div>

  <div class="" style="padding-top: 1em !important;">
    <div class="row">
        <dsc-button
          class="col-md-3"
          label="Limpar campos"
          variant="secondary-outlined"
            (click)="limpaCampos()"
            [disabled]="loading"
          />
          <asc-button-primary
            title="Alterar Situação"
            @fadeInOut
            [showProgress]="loading"
            [disabled]="loading || isHabilitaBotaoPorNumeroAutorizacao"
            (onClick)="atualizarSituacaoProcesso()">
          </asc-button-primary>



    </div>
  </div>
</section>

<asc-modal-visualizar-documento @fadeInOut #modalVisualizarDocumentoComponent></asc-modal-visualizar-documento>
