<div class="container">
  <div class="col-md-12 breadcrumb-header">
    <ul class="breadcrumb">
      <li><span (click)="voltar()" class="voltar"><i class="fa fa-arrow-left" aria-hidden="true"></i>Voltar</span></li>
      <a routerLink="/home">Início</a>
      <em class="fa fa-chevron-right"></em> Administração
      <em class="fa fa-chevron-right"></em> Parâmetros
      <em class="fa fa-chevron-right"></em>
      <a routerLink="/manutencao/parametros/motivo-negacao">Motivos de Negação</a>
      <em class="fa fa-chevron-right"></em> Motivo de Negação – Resultado
    </ul>
  </div>
  <div class="title-type">
    <h1 class="titulo-pagina">Motivos de Negação – Resultado</h1>
  </div>

  <section class="row">
    <div *ngIf="!isNaoPossuiFiltros()">
      <div class="p-0 col-md-12">
        <h4>Dados da Pesquisa</h4>
      </div>

      <div class="clearfix"></div>
      <div class="row">
        <div class="p-0 col-md-5" *ngIf="filtroMotivoNegacao.idSituacaoPedido">
          <label class="control-label" for="situacaoPedido">Situação do Pedido</label>&nbsp;<br>
          <p id="situacaoPedido">{{situacaoPedido}}</p>
        </div>
        <div class="p-0 col-md-5" *ngIf="filtroMotivoNegacao.tituloNegacao">
          <label class="control-label" for="nome">Título da Negação</label>&nbsp;<br>
          <p id="nome">{{filtroMotivoNegacao.tituloNegacao}}</p>
        </div>
        <div class="p-0 col-md-5" *ngIf="filtroMotivoNegacao.motivoNegacao">
          <label class="control-label" for="opme">Motivo da Negação</label>&nbsp;<br>
          <p id="opme">{{filtroMotivoNegacao.motivoNegacao}}</p>
        </div>
        <div class="p-0 col-md-5" *ngIf="filtroMotivoNegacao.somenteAtivo">
          <label class="control-label" for="ativos">Somente ativos</label>&nbsp;<br>
          <p id="ativos">{{filtroMotivoNegacao.somenteAtivo === 'S' ? 'Sim' : 'Não'}}</p>
        </div>
        <div class="p-0 col-md-6" *ngIf="filtroMotivoNegacao.icNivelNegacao">
          <label class="control-label" for="nivelNegacao">Nível de Negação</label>&nbsp;<br>
          <p id="nivelNegacao">{{filtroMotivoNegacao.icNivelNegacao === 'S' ? 'PEDIDO' : 'PROCEDIMENTO'}}</p>
        </div>
      </div>
      <div class="clearfix"></div>

    </div>

    <div class="row p-0 col-md-12">
      <h4>Resultado da Consulta</h4>
    </div>

    <div class="clearfix"></div>
    <div class="row p-0 col-md-12" slot="content">
  
      <p-table
        #dt
        id="caixa-table"
        [value]="listaMotivosNegacao"
        [paginator]="true"
        [rows]="5"
        paginatorPosition="top"
        [rowsPerPageOptions]="[5,10,20]"
        [reorderableColumns]="true"
        sortField="id"
        [loading]="loading"
        [sortOrder]="-1" 
        class="table table-striped table-sm table-hover text-center"
        styleClass="paginator-right"
        [globalFilterFields]="['nivelNegacao','situacaoPedido.nome','tituloNegacao','motivoNegacao', 'inativo']">
        
        <ng-template pTemplate="caption">
          <div class="campo-pesquisa">
              <dsc-input size="large" (input)="dt.filterGlobal($any($event.target).value, 'contains')" [placeholder]="'Digite para filtrar o resultado'" [iconSuffix]="'search'" />
          </div>
        </ng-template>
        
        <ng-template pTemplate="emptymessage">
          <tr> <td colspan="4">{{bundle('MA003')}}</td> </tr>
        </ng-template>
        
        <ng-template pTemplate="header">
          <tr>
            <th [pSortableColumn]="'nivelNegacao'" scope="col">Nível de Negação <p-sortIcon [field]="'nivelNegacao'"></p-sortIcon></th>
            <th [pSortableColumn]="'situacaoPedido.nome'" scope="col">Situação do Pedido <p-sortIcon [field]="'situacaoPedido.nome'"></p-sortIcon></th>
            <th [pSortableColumn]="'tituloNegacao'" scope="col">Título de Negação <p-sortIcon [field]="'tituloNegacao'"></p-sortIcon></th>
            <th [pSortableColumn]="'motivoNegacao'" scope="col">Motivo de Negação <p-sortIcon [field]="'motivoNegacao'"></p-sortIcon></th>
            <th [pSortableColumn]="'inativo'" style="width:90px" scope="col">Inativo <p-sortIcon [field]="'inativo'"></p-sortIcon></th>
            <th scope="col">Ação</th>
          </tr>
        </ng-template>
        <ng-template pTemplate="body" let-row>
          <tr>
            <td>{{row.nivelNegacao}}</td>
            <td>{{row.situacaoPedido?.nome}}</td>
            <td>{{row.tituloNegacao}}</td>
            <td>{{row.motivoNegacao}}</td>
            <td>{{row.inativo}}</td>
            <td>
              <span title="Editar registro" [routerLink]="['../editar', row.id]" id="editar">
                <em class="fas fa-pen"></em>
              </span>
            </td>
          </tr>
        </ng-template>
      </p-table>
    </div>

    <div class="p-0 col-md-12 barra-botoes">
      <button
        class="btn back-btn" routerLink="/manutencao/parametros/motivo-negacao" id="btnFormVoltar">
        <span class="fa fa-reply fa-fw"></span>Voltar
      </button>
      <button type="button" id="btnNovoMotivoNegacao" class="btn clean-btn" routerLink="../novo">
        <span class="fa fa-plus fa-fw"></span>Incluir Motivo de Negação
      </button>
    </div>

  </section>
</div>
