<!-- Header main Dados Cadastrais -->
<section class="container-view" id="container-dados-cadastrais">
  <!-- === HEADER VIEW ===  -->
  <section class="container">
    <div class="register-header">
      <div class="register-breadcrumb">
        <ul class="breadcrumb register-breadcrumb--wrapper">
          <li>
            <span (click)="backButton()" class="voltar"
              ><i class="fa fa-arrow-left" aria-hidden="true"></i>Voltar</span
            >
          </li>
          <a routerLink="/home">Início</a>
          <em class="fa fa-chevron-right"></em>
          Meus dados
          <em class="fa fa-chevron-right"></em>
          {{titulo}}

        </ul>
      </div>
      <div class="register-title">
        <p class="title-section">{{titulo}}</p>
        <hr class="separador" />
      </div>
    </div>
  </section>
  <!-- === //HEADER VIEW ===  -->

  <!-- === MAIN VIEW ===  -->
  <section class="container">
    <div class="box-data">
      <div class="box-sect">
        <h4 class="dadosDoTitularTitle">Dados do Titular</h4>
        <div class="box-infos">
          <div class="box-infos__header">
            <h5 class="mt-0 mb-9">
              <i class="fa fa-user"></i>
              <span>Dados Pessoais</span>
            </h5>
            <button
              class="btn is--secundary is--small is--bold"
              (click)="gerenciarEdicaoDadosPessoais(true)"
              [disabled]="isEditarDadosPessoais ? true : null"
            >
              <i class="fa fa-pencil"></i>
              <span>Editar</span>
            </button>
          </div>
          <hr class="separador" />
          <div class="box-infos__main">
            <div
              class="box-infos__wrapper is--disabled"
              *ngIf="!isEditarDadosPessoais"
            >
              <div class="">
                <h4>Nome</h4>
                <p>
                  {{
                    beneficiario?.nome ? beneficiario?.nome : ("-" | uppercase)
                  }}
                </p>
              </div>
              <div class="">
                <h4>Telefone</h4>
                <p>{{ beneficiario?.celular ? beneficiario?.celular : "-" }}</p>
              </div>
              <div class="">
                <h4>E-mail</h4>
                <p>{{ beneficiario?.email }}</p>
              </div>
            </div>
            <div class="is--active" *ngIf="isEditarDadosPessoais">
              <form [formGroup]="dadosPessoaisForm" class="box-form">
                <div class="box-form__groups">
                  <div class="box-form__title">
                    <h5>Nome</h5>
                    <p>{{ beneficiario?.nome | uppercase }}</p>
                  </div>

                  <div class="form-group col-md-12 noPaddingLeft box-form__group">
                    <div class="campo-opcional-wrapper">
                      <span class="label-com-opcional">Telefone <span class="texto-opcional">- Opcional</span></span>
                    </div>
                    <asc-input-telefone
                      [control]="dadosPessoaisForm.get('telefone')"
                      inputId="telefone"
                      [label]="''"
                    ></asc-input-telefone>
                  </div>

                  <div class="form-group col-md-12 noPaddingLeft box-form__group">
                    <div class="campo-opcional-wrapper">
                      <span class="label-com-opcional">E-mail <span class="texto-opcional">- Opcional</span></span>
                    </div>
                    <asc-input-text
                      [control]="dadosPessoaisForm.get('email')"
                      inputId="email"
                      [label]="''"
                    ></asc-input-text>
                  </div>
                </div>
                <div class="box-form__controls">
                  <button
                    class="btn is--auxiliary is--small"
                    (click)="cancelarEdicaoDadosPessoais()"
                    type="button"
                  >
                    Cancelar
                  </button>
                  <!-- 93 - ATUALIZAÇÃO DE DADOS DE CONTATO -->
                  <button
                    class="btn is--primary is--yellow is--small with--spinner"
                    [ngStyle]="{ color: showProgress && 'transparent' }"
                    (click)="atualizarDadosPessoais(93)"
                    [disabled]="showProgressSending()"
                    type="button"
                  >
                    <span
                      [ngStyle]="{ display: showProgress && 'block' }"
                      class="loading-spinner"
                    >
                      <dsc-progress-spinner
                        animationDuration=".5s"
                        strokeWidth="4"
                        [style]="{ width: '100%', height: '100%' }"
                      ></dsc-progress-spinner>
                    </span>

                    <span> Enviar Solicitação </span>
                  </button>
                </div>
              </form>
            </div>
          </div>
        </div>

        <div class="box-infos">
          <div class="box-infos__header">
            <h5>
              <i class="fa fa-map-marker"></i>
              <span>Endereço</span>
            </h5>
            <button
              class="btn is--secundary is--small is--bold"
              (click)="gerenciarEdicaoEndereco(true)"
              [disabled]="isEditarEndereco ? true : null"
            >
              <i class="fa fa-pencil"></i>
              <span>Editar</span>
            </button>
          </div>
          <hr class="separador" />
          <div class="box-infos__main">
            <div
              class="box-infos__wrapper is--disabled"
              *ngIf="!isEditarEndereco"
            >
              <div class="info">
                <h4>CEP</h4>
                <p>{{ beneficiario?.endereco?.cep }}</p>
              </div>
              <div class="is--2-cols">
                <h4>Logradouro</h4>
                <p>{{ beneficiario?.endereco?.logradouro }}</p>
              </div>

              <div class="">
                <h4>Número</h4>
                <p>{{ beneficiario?.endereco?.numero }}</p>
              </div>
              <div class="">
                <h4>Complemento</h4>
                <p>{{ beneficiario?.endereco?.complemento }}</p>
              </div>
              <div class="">
                <h4>Bairro</h4>
                <p>{{ beneficiario?.endereco?.bairro || "-" }}</p>
              </div>
              <div class="">
                <h4>Município/Estado</h4>
                <p>
                  {{
                    beneficiario?.endereco?.municipio?.nome +
                      "/" +
                      beneficiario?.endereco?.estado?.sigla
                  }}
                </p>
              </div>
            </div>
            <div class="is--active" *ngIf="isEditarEndereco">
              <form [formGroup]="enderecoForm" class="form-container box-form">
                <div class="box-form__groups">
                  <div class="form-group col-md-2 box-form__group is--cep">
                    <div class="form__input">
                      <asc-input-text
                        [control]="enderecoForm.get('cep')"
                        maskName="cepMask"
                        inputId="cep"
                        label="CEP"
                      ></asc-input-text>
                      <button class="reset-input" type="button" (click)="getEnderecoByCEP()">
                        <i class="fa fa-sync"></i>
                      </button>
                    </div>
                  </div>

                  <div class="form-group col-md-7 box-form__group is--logradouro">
                    <asc-input-text
                      [control]="enderecoForm.get('logradouro')"
                      inputId="logradouro"
                      label="Logradouro"
                    ></asc-input-text>
                  </div>

                  <div class="form-group col-md-3 box-form__group is--numero">
                    <asc-input-text
                      [control]="enderecoForm.get('numero')"
                      inputId="numero"
                      label="Número"
                    ></asc-input-text>
                  </div>

                  <div class="form-group col-md-3 box-form__group is--bairro">
                    <asc-input-text
                      [control]="enderecoForm.get('bairro')"
                      inputId="bairro"
                      label="Bairro"
                    ></asc-input-text>
                  </div>

                  <div class="form-group col-md-3 box-form__group is--estado">
                    <asc-select-uf
                      id="asc-select-uf-dados-cadastrais-details"
                      label="Estado"
                      [control]="enderecoForm.get('estado')"
                      [index]="4"
                    ></asc-select-uf>
                  </div>

                  <div class="form-group col-md-3 box-form__group is--municipio">
                    <asc-select-municipio
                      id="asc-select-municipio-dados-cadastrais-details"
                      label="Município"
                      [parametro]="{ idMunicipio: enderecoForm.get('estado').value }"
                      [index]="5"
                      [control]="enderecoForm.get('municipio')"
                      [required]="enderecoForm.get('estado').value"
                    ></asc-select-municipio>
                  </div>

                  <div class="form-group col-md-3 box-form__group is--complemento">
                    <asc-input-text
                      [control]="enderecoForm.get('complemento')"
                      inputId="complemento"
                      label="Complemento"
                    ></asc-input-text>
                  </div>
                </div>
                <div class="form-group col-md-12 box-form__group" *ngIf="documentosCadastrados?.length">
                  <div class="arquivos-lista">
                    <div class="arquivo-item" *ngFor="let doc of documentosCadastrados; let docIndex = index">
                      <strong>{{ doc?.documento?.nome || doc?.documento?.descricao || ('Documento ' + doc?.idDocumento) }}</strong>

                      <div class="upload-wrapper">
                        <asc-file-selector
                          [documento]="doc"
                          [extensions]="'.jpg,.png,.gif,.pdf'"
                          [limitLengthFile]="4096000"
                          [disabled]="showProgressSending && showProgressSending()"
                          (arquivos)="arquivosSelecionados($event)"
                          [inputId]="'uploadEnderecoDocumento_' + docIndex"
                        ></asc-file-selector>
                      </div>

                      <div *ngIf="doc?.arquivos?.length" class="arquivos-cards">
                        <div class="arquivo-card" *ngFor="let arq of doc.arquivos; let arqIndex = index">
                          <div class="arquivo-info">
                            <p class="arquivo-nome">{{ arq?.name }}</p>
                            <p class="arquivo-data">{{ arq?.data | date:'dd/MM/yyyy HH:mm' }}</p>
                          </div>
                          <div class="arquivo-actions">
                            <button type="button" class="btn-visualizar" (click)="visualizarArquivo(arq)" title="Visualizar">
                              <i class="fa fa-eye"></i>
                            </button>
                            <button type="button" class="btn-excluir" (click)="excluirArquivoDocumento(docIndex, arqIndex)" title="Excluir">
                              <i class="fa fa-trash"></i>
                            </button>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="box-form__controls">
                  <button
                    class="btn is--auxiliary is--small"
                    (click)="cancelarEdicaoEndereco()"
                    type="button"
                  >
                    Cancelar
                  </button>

                  <!-- 94 - ATUALIZAÇÃO DE DADOS DE CONTATO -->
                  <button
                    class="btn is--primary is--yellow is--small with--spinner"
                    [ngStyle]="{ color: showProgress && 'transparent' }"
                    (click)="atualizarDadosPessoais(94)"
                    [disabled]="
                      desabilitarBotaoEnviar() || showProgressSending()
                    "
                    type="button"
                  >
                    <span
                      [ngStyle]="{ display: showProgress && 'block' }"
                      class="loading-spinner"
                    >
                      <dsc-progress-spinner
                        animationDuration=".5s"
                        strokeWidth="4"
                        [style]="{ width: '100%', height: '100%' }"
                      >
                      </dsc-progress-spinner>
                    </span>

                    <span> Enviar Solicitação </span>
                  </button>
                </div>
              </form>
            </div>
          </div>
        </div>
        <div class="box-infos">
          <div class="box-infos__header">
            <h5>
              <i class="fa fa-briefcase"></i>
              <span>Profissional</span>
            </h5>
          </div>
          <hr class="separador" />
          <div class="box-infos__main">
            <div class="box-infos__wrapper">
              <div class="">
                <h4>Matrícula</h4>
                {{ beneficiario?.matriculaFuncional }}
              </div>
              <div class="">
                <h4>Contrato</h4>
                {{ beneficiario?.contrato?.contratante }}
              </div>
              <div class="">
                <h4>Vínculo Funcional</h4>
                {{ beneficiario?.vinculoFuncional?.descricao }}
              </div>
              <div class="">
                <h4>Agrupadora</h4>
                {{ beneficiario?.filial?.descricao }}
              </div>
            </div>
          </div>
        </div>
        <div class="box-infos">
          <div class="box-infos__header">
            <h5>
              <i class="fa fa-dollar-sign"></i>
              <span>Financeiro</span>
            </h5>
          </div>
          <hr class="separador" />
          <div class="box-infos__main">
            <div class="box-infos__wrapper">
              <div class="">
                <h4>Conta</h4>
                {{ formatarContaCompleta() }}
              </div>
              <!--div class="">
                <h4>Agência</h4>
                {{ beneficiario?.agencia || '-' }}
              </div-->
              <div class="">
                <h4>Desconto em</h4>
                {{ beneficiario?.contaFin?.tipoDocumentoAgs?.descricao }}
              </div>
              <!--div class="">
                <h4>Remuneração Base</h4>
                {{ beneficiario?.vinculoFuncional?.descricao }}
              </div-->
            </div>
          </div>
        </div>
      </div>

      <div class="box-cards">
        <h4 class="box-cards__title">Família</h4>
        <div class="box-cards__wrapper">
          <div class="card">
            <div class="card__header">
              <h5 [attr.title]="beneficiario?.nome">
                {{ beneficiario?.nome | uppercase }}
              </h5>

              <span></span>
              <p>
                ATIVO
                <span class="is--success"
                  ><i class="fa fa-check-circle"></i
                ></span>
              </p>
            </div>
            <div class="card__main">
              <div class="">
                <span
                  *ngIf="beneficiario?.restrito === 'S'"
                  class="badge is--small"
                  >Restrito</span
                >
                <p>
                  {{ beneficiario?.contratoTpdep?.tipoDependente?.descricao }}
                </p>
              </div>
              <div class="">
                <h5>Cod. Beneficiário:</h5>
                <p>{{ beneficiario?.codigoBeneficiario }}</p>
              </div>
              <div class="">
                <h5>Término Cartão:</h5>
                <p>
                  {{
                    beneficiario?.cartaoIdentificacaoAtual?.dataFinalValidade
                      | dateStringFormat : "dd/MM/yyyy"
                  }}
                </p>
                <span
                  *ngIf="
                    isDataVencida(
                      beneficiario?.cartaoIdentificacaoAtual?.dataFinalValidade
                    )
                  "
                  class="is--warning"
                >
                  <i class="fa fa-exclamation-circle"></i>
                </span>
              </div>
            </div>
            <div class="card__controls">
              <button
                class="btn is--primary is--small is--bold"
                (click)="redirectDetailPage(beneficiario?.id)"
              >
                <i class="fa fa-id-badge"></i>
                <span>Detalhar Dados</span>
              </button>
              <button
                class="btn is--secundary is--small is--bold"
                (click)="redirectCartaoPage(beneficiario?.id)"
              >
                <i class="fa fa-address-card"></i>
                <span>Acessar Cartão</span>
              </button>
            </div>
          </div>

          <!-- === LOOP CARDS ===  -->
          <ng-container *ngFor="let dependente of beneficiario?.dependentes">
            <div class="card">
              <div class="card__header">
                <h5 [attr.title]="dependente?.nome">
                  {{ dependente?.nome | uppercase }}
                </h5>
                <span></span>
                <p *ngIf="dependente?.dataCancelamento === null">
                  ATIVO
                  <span class="is--success"
                    ><i class="fa fa-check-circle"></i
                  ></span>
                </p>
              </div>
              <div class="card__main">
                <div class="">
                  <p>
                    {{ dependente?.contratoTpdep?.tipoDependente?.descricao }}
                  </p>
                </div>
                <div class="">
                  <h5>Cod. Beneficiário:</h5>
                  <p>{{ dependente?.codigoBeneficiario }}</p>
                </div>
                <div class="">
                  <h5>Término Cartão:</h5>
                  <p>
                    {{
                      dependente?.cartaoIdentificacaoAtual?.dataFinalValidade
                        | dateStringFormat : "dd/MM/yyyy"
                    }}
                  </p>
                  <span
                    *ngIf="
                      isDataVencida(
                        dependente?.cartaoIdentificacaoAtual?.dataFinalValidade
                      )
                    "
                    class="is--warning"
                  >
                    <i class="fa fa-exclamation-circle"></i>
                  </span>
                </div>
              </div>
              <div class="card__controls">
                <button
                  class="btn is--primary is--small is--bold"
                  (click)="redirectDetailPage(dependente?.id)"
                >
                  <i class="fa fa-id-badge"></i>
                  <span>Detalhar Dados</span>
                </button>
                <button
                  class="btn is--secundary is--small is--bold"
                  (click)="redirectCartaoPage(dependente?.id)"
                >
                  <i class="fa fa-address-card"></i>
                  <span>Acessar Cartão</span>
                </button>
              </div>
            </div>
          </ng-container>
          <!-- === //LOOP CARDS ===  -->
        </div>

        <div
          *ngIf="
            isCartaoExpirado(
              beneficiario?.cartaoIdentificacaoAtual?.dataFinalValidade
            )
          "
          class="message is--warning"
        >
          <span><i class="fa fa-exclamation"></i></span>
          <p>O Cartão encontra-se expirado.</p>
        </div>
        <div class="box-cards__controls">
          &nbsp;
          <button
            class="btn is--auxiliary is--bold"
            (click)="novoBeneficiario()"
            type="button"
          >
            <span>Adicionar Beneficiário</span>
          </button>
        </div>
      </div>
    </div>
  </section>
  <!-- === //MAIN VIEW ===  -->
<!-- Removido fechamento duplicado -->
</section>
