@import "../../../../assets/sass/funcionalidades/dados-cadastrais";

.box-form__groups {
  .row {
    display: flex;
    flex-wrap: wrap;
    margin-left: -8px;
    margin-right: -8px;
    margin-bottom: 0;
  }

  .box-form__group {
    padding-left: 8px;
    padding-right: 8px;
    margin-bottom: 16px;
  }

  [class*="col-"] {
    position: relative;
    width: 100%;
    padding-left: 8px;
    padding-right: 8px;
  }

  .col-md-2 {
    flex: 0 0 16.666667%;
    max-width: 16.666667%;
  }

  .col-md-3 {
    flex: 0 0 25%;
    max-width: 25%;
  }

  .col-md-7 {
    flex: 0 0 58.333333%;
    max-width: 58.333333%;
  }
}

.is--cep .form__input {
  display: flex;
  align-items: flex-end;
  gap: 8px;
}

.is--cep .form__input > asc-input-text {
  flex: 1 1 auto;
}

.is--cep .reset-input {
  position: static !important;
  flex: 0 0 auto;
  width: 48px;
  height: 40px;
  margin-left: 8px;
  padding: 0;
  border: 1px solid #b3c7cb;
  border-radius: 4px;
  background: #fff;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

.is--cep .reset-input i {
  font-size: 14px;
  line-height: 1;
}

.box-form__groups {
  .box-form__group {
    .campo-opcional-wrapper {
      margin-bottom: 8px;

      .label-com-opcional {
        display: inline-block;
        font-family: "Caixa STD", Roboto, "Helvetica Neue", sans-serif;
        font-size: 11.25px;
        color: #22292E;

        .texto-opcional {
          opacity: 0.5;
          margin-left: 4px;
        }
      }
    }
  }
}
