<asc-base-layout-home [baseTitulo]="tituloPagina">

  <ng-template #breadcrumb>
    <em class="fa fa-chevron-right"></em>
    {{duvidasService.getTitle()}}
    <em class="fa fa-chevron-right"></em>
    {{tituloPagina}}
  </ng-template>

  <div class="info-pagina" slot="info">
    <p class="info-p">
      A tabela abaixo contém os procedimentos com valor de Reembolso de tabela de Saúde CAIXA, contendo além disso as peculiaridades de cada código:
    </p>
    <p class="info-p"><b>&nbsp; Reembolso:</b>
      Valor reembolsado para o procedimento, ressalvado o percentual de coparticipação;
    </p>
    <p class="info-p"><b>&nbsp; Dep. Rest. = SIM:</b>
      Procedimento permitidos aos Dependentes Restritos;
    </p>
    <p class="info-p"><b>&nbsp; Aut. Prévia = SIM:</b>
      Procedimentos cuja realização necessita de Autorização Prévia.
    </p>
    <p class="info-p"><b>&nbsp; Aux.:</b>
      Número de auxiliares permitidos na execução do procedimento;
    </p>
    <p class="info-p"><b>&nbsp; Instr. = SIM:</b>
      Permite participação do instrumentador na execução do procedimento;
    </p>
    <p class="info-p"><b>&nbsp; Intervalo entre atendimentos (qtd p/dia):</b>
      Periodicidade na qual cada procedimento pode ser executado novamente, com desconto normal de participação;
    </p>

    <p style="display: flex; justify-content: end;">
      <dsc-button label="Exportar" variant="secondary-outlined" (click)="exportarExcel()" iconPrefix="cloud_download" />
    </p>
  </div>

  <div class="row"></div>

  <div class="row p-0 col-md-12" slot="content">


    <p-table
      #dt1
      id="caixa-table"
      [value]="procedimentos"
      [(selection)]="registrosSelecionados"
      [paginator]="true"
      [rows]="10"
      [totalRecords]="procedimentos?.length"
      paginatorPosition="top"
      [rowsPerPageOptions]="[5,10,20]"
      [reorderableColumns]="true"
      sortField="id"
      [loading]="loading"
      [sortOrder]="-1" class="table table-striped table-sm table-hover text-center"
      (onRowSelect)="selecionarPerfis($event)"
      (onRowUnselect)="deSelecionarPerfis($event)"
      styleClass="paginator-right"
      [globalFilterFields]="['estruturaNumerica','descricao']"

      >


      <ng-template pTemplate="caption">
        <div class="campo-pesquisa">
            <dsc-input (input)="dt1.filterGlobal($any($event.target).value, 'contains')" [placeholder]="'Digite para filtrar o resultado'"[iconSuffix]="'search'" />
        </div>
      </ng-template>


      <ng-template pTemplate="header">
        <tr>
          <th pSortableColumn="estruturaNumerica" scope="col">Código <p-sortIcon [field]="'estruturaNumerica'"></p-sortIcon></th>
          <th pSortableColumn="descricao" scope="col">Nome do Procedimento <p-sortIcon [field]="'descricao'"></p-sortIcon></th>
          <th pSortableColumn="vlrReembolso" scope="col">Reembolso <p-sortIcon [field]="'vlrReembolso'"></p-sortIcon></th>
          <th pSortableColumn="permitidoDepRestrito" scope="col">Dep. Rest. <p-sortIcon [field]="'permitidoDepRestrito'"></p-sortIcon></th>
          <th pSortableColumn="autorizacaoPrevia" scope="col">Aut. Prévia <p-sortIcon [field]="'autorizacaoPrevia'"></p-sortIcon></th>
          <th pSortableColumn="qtdAuxiliares" scope="col">Aux. <p-sortIcon [field]="'qtdAuxiliares'"></p-sortIcon></th>
          <th pSortableColumn="preveInstrumentador" scope="col">Instr. <p-sortIcon [field]="'preveInstrumentador'"></p-sortIcon></th>
          <th pSortableColumn="intervaloAtendimentos" scope="col">Intervalo entre atendimentos <p-sortIcon [field]="'intervaloAtendimentos'"></p-sortIcon></th>
          <th pSortableColumn="idadeMinima" scope="col">Idade mínima <p-sortIcon [field]="'idadeMinima'"></p-sortIcon></th>
          <th pSortableColumn="idadeMaxima" scope="col">Idade máxima <p-sortIcon [field]="'idadeMaxima'"></p-sortIcon></th>
        </tr>
      </ng-template>

      <ng-template pTemplate="body" let-rowData>
        <tr>
          <td>{{rowData.estruturaNumerica | handleMask}}</td>
          <td>{{rowData.descricao}}</td>
          <td>{{rowData.vlrReembolso | currencyFormat : 'R$' }}</td>
          <td>{{rowData.permitidoDepRestrito | flagSimNao}}</td>
          <td>{{rowData.autorizacaoPrevia | flagSimNao}}</td>
          <td>{{rowData.qtdAuxiliares}}</td>
          <td>{{rowData.preveInstrumentador | flagSimNao}}</td>
          <td>{{rowData.intervaloAtendimentos}}</td>
          <td>{{ rowData.idadeMinima == 0 ? '-' : rowData.idadeMinima }}</td>
          <td>{{ rowData.idadeMaxima == 999 ? '-' : rowData.idadeMaxima }}</td>
        </tr>
      </ng-template>

    </p-table>
  </div>

</asc-base-layout-home>
