::ng-deep .paginator-right .p-paginator {
    justify-content: flex-end !important;
}
.campo-pesquisa {
    display: flex;
    justify-content: flex-start;
    margin-bottom: -65px;
}

.body-centralizado ::ng-deep tbody td {
    text-align: center;
    vertical-align: middle;
}
