<ng-template #modalMensagem let-form>
  <div>
      <div class="space-btw m-10">
        <p class="modal-title-prime" id="titulo">{{ isTipoOcorrenciaObservacao ? 'Observação' : 'Mudança de Situação'}}</p>
        <div class="dp-fl" *ngIf="!tituloAcompanhamento">
          <em class="fa fa-user-circle-o fa-fw"></em>
          <p class="no-margin">{{mensagem?.codigoUsuarioCadastramento}}</p>
        </div>
      </div>
      <div class="situacao-container space-btw m-10">
        <table style="width: 750px" aria-describedby="titulo">
          <thead>
            <tr>
             <th scope="col"></th>
             <th scope="col"></th>
             <th scope="col"></th>
             <th scope="col"></th>
             <th scope="col"></th>
             <th scope="col"></th>
           </tr>
          </thead>
          <tbody>
          <tr *ngIf="!isTipoOcorrenciaObservacao">
            <td style="width: 22%; font-weight: bold;">Situação associada:</td>
            <td>{{mensagem?.situacaoProcesso?.nome | campoVazioHifen}}</td>
          </tr>
          <tr>
            <td style="width: 20%; font-weight: bold;">Data de envio:</td>
            <td>{{mensagem?.dataHoraEnvio | date: "dd/MM/yyyy HH:mm:ss"}}</td>
          </tr>
          <tr>
            <td style="width: 20%; font-weight: bold;">De:</td>
            <td>{{mensagem?.emailRemetente | campoVazioHifen}}</td>
          </tr>
          <tr>
            <td style="width: 20%; font-weight: bold;">Para:</td>
            <td>{{mensagem?.emailDestinatario | campoVazioHifen}}</td>
          </tr>
          <tr *ngIf="emailsCopia">
            <td style="width: 20%; font-weight: bold;">Cc:</td>
            <td>{{emailsCopia | campoVazioHifen}}</td>
          </tr>
          <tr>
            <td style="width: 20%; font-weight: bold;">Assunto:</td>
            <td>{{mensagem?.assunto | campoVazioHifen}}</td>
          </tr>
          </tbody>
        </table>
      </div>
      <div class="text-area-container txt-area">
        <asc-text-area [rows]="10" aria-readonly="true" [innerHTML]="mensagem?.textoEmailEnviado"></asc-text-area>
      </div>
    </div>
    <hr />
  <div class="row">
    <div class="col-md-6">
      <div class="row">
        <dsc-button
          class="col-md-6"
          label="Fechar"
          variant="secondary-outlined"
          (click)="closeDialog()"
        />
        <div class="col-md-6"></div>

      </div>
    </div>
    <div class="col-md-6">
      <div class="row" *ngIf="(mostrarBotoes)">
        <dsc-button
            class="col-md-6"
            label="Encaminhar"
            variant="secondary"
            iconPrefix="forward_to_inbox"
            (click)="abrirModalMensagemEmail()"
          />
        <dsc-button
            class="col-md-6"
            label="Reenviar"
            variant="secondary"
            iconPrefix="forward_to_inbox"
            (click)="clickReenviarMensagem('Mensagem reenviada!', mensagem )"
          />

      </div>
    </div>
  </div>
</ng-template>

<ng-template #modalMensagemEmail let-form>

      <div class="space-btw m-10">
        <div class="row">
          <h4>Digite um e-mail distinto para o qual deseja enviar esta mensagem</h4>
          <input type="email" [(ngModel)]="emailEncaminhar" class="form-control col-md-12">
        </div>
      </div>
      <hr />
    <div class="row">

      <div class="col-md-6">
        <div class="row">
          <dsc-button
            class="col-md-6"
            label="Fechar"
            variant="secondary-outlined"
            (click)="closeDialogMsgModal()"
          />
        </div>
      </div>

      <div class="col-md-6">
        <div class="row">
          <div class="col-md-6">

          </div>
          <div class="col-md-6 pull-right">

            <dsc-button
                style="margin-right: 0;"
                label="Encaminhar"
                variant="secondary"
                iconPrefix="forward_to_inbox"
                (click)="clickEnviarMensagem('Mensagem enviada!', mensagem, dialogMsgEmail)"
              />
          </div>
        </div>
    </div>
    </div>
</ng-template>
