@import"/src/assets/sass/_mixins.scss";
@import"/src/assets/sass/_colors.scss";


.ui-dialog.ui-widget .ui-dialog-titlebar {
  padding: 1em 1.5em;
  display: flex;
  justify-content: space-between;
  background: #0065B7;
  color: white;

}

.ui-helper-clearfix::before, .ui-helper-clearfix::after {
  display: none;
}

.ui-dialog .ui-dialog-titlebar-close span {
  display: block;
  margin: 0;
  color: white;
}


.dialog-container {
  background: #0065B7;
  border-radius: 3px 3px 0px 0px;
  padding: 12px;
  color: #fff
}

div.visualizar-component {
  background-color: #fff;
  border-radius: 3px;
  min-height: 500px;
  width: 100%;
  max-width: 900px;
  display: flex;
  flex-direction: column;

  div.header {
    background: #0065B7;
    border-radius: 3px 3px 0px 0px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 12px;

    p {
      margin: 0;
      padding: 0;
      color: #fff;
    }

    i {
      color: #fff;
      font-size: 24px;
      cursor: pointer;
      transition: 250ms ease-in-out;

      &:hover,
      &:active {
        opacity: 0.75;
        transition: 250ms ease-in-out;
      }
    }
  }

  div.body {
    flex-grow: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 16px;

    img {
      object-fit: contain;
      max-width: 500px;
    }
  }

  div.align-itens {
    display: flex;
    align-items: center;
    cursor: pointer;

    div.core-file {
      padding: 1.5em;
      flex-grow: 1;
      justify-self: center;
      justify-content: center;
      display: flex;

      iframe {
        height: 420px;
        width: 750px;
        margin: 0 auto
      }

      img {
        max-height: 385px;
        max-width: 750px;
        margin: 0 auto;
        text-align: center !important;
      }
    }

    .icon-tag {
      color: #888;
      font-size: 14px;

      .fa-arrow-left:before {
        -webkit-text-stroke: 1px #ffffff;
        font-size: 2.0rem;
        color: #0057AE;
      }

      .fa-arrow-right:before {
        -webkit-text-stroke: 1px #ffffff;
        font-size: 2.0rem;
        color: #0057AE;
      }
    }

  }
}


.fl-sb-btn {
  display: flex;
  justify-content: space-between;
}

.send-btn {
  @include create-btn(normal_cyan);
  margin-bottom: 0;
  span {
    padding: 0;
  }
}

.space-btw {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 25px;
}

.card-titulo-main {
  font-family: 'Caixa Std Regular', sans-serif;
  font-style : normal;
  font-weight: bold;
  font-size  : 18px;
  line-height: 25px;
  color      : #0065B7;
}

.avatar-logo {
  margin: 0 0.25em!important;
  border-radius: 22px;
}

.campo-card {
  font-family: 'Caixa Std Regular', sans-serif;
  font-size: 16px;
  line-height: 16px;
  color: #000000;

}

.situacao-container {
  display: grid;
  grid-template-columns: 140px 1fr;

  p {
    margin: 0.125em 0;
  }
}

.left-situacao {
  text-align: end;
  margin-right: .25em;
}

.text-area-container {
  margin-top: 1em;
  height: 20em;
  overflow: auto;
}


.dp-fl {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.no-margin {
  margin: 0;
}

.espacamento-direito{
	margin-right: 10px;
}

::ng-deep .core-file {
  height: 500px!important;
}