<asc-reembolso-assistencial
  #formularioReembolsoAssistencial
  *ngIf="isTipoProcessoReembolsoAssistencial"
  [beneficiario]="beneficiario"
  [pedido]="pedido"
  [pedidoProcedimento]="pedidoProcedimento"
  [enableAllAction]="enableAllAction"
  [parametrosSelectGrauProcedimento]="parametrosSelectGrauProcedimento"
  [isToShowButtons]="isToShowButtons"
  [idBeneficario]="idBeneficiario"
  [limparForm]="limparForm"
  [isEditing]="isEditing"
  [idTipoProcesso]="parametroSelectProcedimento?.idTipoProcesso || idTipoProcesso"
  [loading]="loading"
  [parametroSelectProcedimento]="_parametroSelectProcedimento"
  (grausProcedimentoSelecionado$)="grauProcedimentoSelecionado($event)"
  (adicionar$)="adicionaProcedimentoDoFormulario($event)"
  (cancel$)="buttonCancelarProcedimento()"
  (isEditing$)="estaEditandoFormulario($event)"
  (formValid)="formularioValido($event)"
  [idMotivoSolicitacao]="idMotivoSolicitacao"
></asc-reembolso-assistencial>

<asc-formulario-reembolso-consulta
  *ngIf="isTipoProcessoReembolso"
  [beneficiario]="beneficiario"
  [pedido]="pedido"
  [enableAllAction]="enableAllAction"
  [isToCleanForm]="isToClean"
  [isToShowButtons]="false"
  [idBeneficario]="idBeneficiario"
  [pedidoProcedimento]="pedidoProcedimento"
  [idTipoProcesso]="parametroSelectProcedimento?.idTipoProcesso || idTipoProcesso"
  [isEditing]="isEditing"
  [loading]="loading"
  [parametroSelectProcedimento]="parametroSelectProcedimento"
  (adicionar$)="adicionaProcedimentoDoFormulario($event)"
  (cancel$)="buttonCancelarProcedimento()"
  (especialidade$)="especialidadeSelecionado($event)"
  (especialidades$)="especialidadesSelecionados($event)"
  (isEditing$)="estaEditandoFormulario($event)"
  (formValid)="formularioValido($event)"
  [idMotivoSolicitacao]="idMotivoSolicitacao"
></asc-formulario-reembolso-consulta>

<asc-formulario-reembolso-medicamento
  #formularioReembolsoMedicamentoComponent
  *ngIf="isTipoProcessoReembolsoMedicamento"
  [beneficiario]="beneficiario"
  [pedido]="pedido"
  [pedidoProcedimento]="pedidoProcedimento"
  [enableAllAction]="enableAllAction"
  [isToShowButtons]="isToShowButtons"
  [limparForm]="limparForm"
  [idBeneficario]="idBeneficiario"
  [idTipoProcesso]="parametroSelectProcedimento?.idTipoProcesso || idTipoProcesso"
  [isEditing]="isEditing"
  [loading]="loading"
  (patologia$)="patologiaSelecionado($event)"
  [parametroSelectProcedimento]="parametroSelectProcedimento"
  (adicionar$)="adicionaProcedimentoDoFormulario($event)"
  (cancel$)="buttonCancelarProcedimento()"
  (isEditing$)="estaEditandoFormulario($event)"
  (formValid)="formularioValido($event)"
></asc-formulario-reembolso-medicamento>

<asc-formulario-reembolso-odontologico
  #formularioReembolsoOdontologico
  *ngIf="isTipoProcessoReembolsoOdontologico"
  [beneficiario]="beneficiario"
  [pedido]="pedido"
  [pedidoProcedimento]="pedidoProcedimento"
  [enableAllAction]="enableAllAction"
  [isToShowButtons]="isToShowButtons"
  [idBeneficario]="idBeneficiario"
  [limparForm]="limparForm"
  [idTipoProcesso]="parametroSelectProcedimento?.idTipoProcesso || idTipoProcesso"
  [isEditing]="isEditing"
  [loading]="loading"
  [parametroSelectProcedimento]="parametroSelectProcedimento"
  (adicionar$)="adicionaProcedimentoDoFormulario($event)"
  (cancel$)="buttonCancelarProcedimento()"
  (isEditing$)="estaEditandoFormulario($event)"
  (formValid)="formularioValido($event)"
  [idMotivoSolicitacao]="idMotivoSolicitacao"
></asc-formulario-reembolso-odontologico>

<asc-formulario-reembolso-vacina
  #formularioReembolsoVacinaComponent
  *ngIf="isTipoProcessoReembolsoVacina"
  [beneficiario]="beneficiario"
  [pedido]="pedido"
  [pedidoProcedimento]="pedidoProcedimento"
  [enableAllAction]="enableAllAction"
  [isToShowButtons]="isToShowButtons"
  [idBeneficario]="idBeneficiario"
  [limparForm]="limparForm"
  [idTipoProcesso]="parametroSelectProcedimento?.idTipoProcesso || idTipoProcesso"
  [isEditing]="isEditing"
  [loading]="loading"
  [parametroSelectProcedimento]="parametroSelectProcedimento"
  (adicionar$)="adicionaProcedimentoDoFormulario($event)"
  (cancel$)="buttonCancelarProcedimento()"
  (isEditing$)="estaEditandoFormulario($event)"
  (formValid)="formularioValido($event)"
></asc-formulario-reembolso-vacina>
