.wrapper {
  position: relative;
  z-index: 999999;
}

.ui-dialog.ui-widget .ui-dialog-titlebar {
  padding: 1em 1.5em;
  display: flex;
  justify-content: space-between;
  background: #0065b7;
  color: white;
}

.ui-helper-clearfix::before,
.ui-helper-clearfix::after {
  display: none;
}

.ui-dialog .ui-dialog-titlebar-close span {
  display: block;
  margin: 0;
  color: white;
}

.dialog-container {
  background: #0065b7;
  border-radius: 3px 3px 0px 0px;
  padding: 12px;
  color: #fff;
}

div.visualizar-component {
  background-color: #fff;
  border-radius: 3px;
  min-height: 500px;
  width: 100%;
  max-width: 900px;
  display: flex;
  flex-direction: column;

  div.header {
    background: #0065b7;
    border-radius: 3px 3px 0px 0px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 12px;

    p {
      margin: 0;
      padding: 0;
      color: #fff;
    }

    i {
      color: #fff;
      font-size: 24px;
      cursor: pointer;
      transition: 250ms ease-in-out;

      &:hover,
      &:active {
        opacity: 0.75;
        transition: 250ms ease-in-out;
      }
    }
  }

  div.body {
    flex-grow: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 16px;

    img {
      object-fit: contain;
      max-width: 500px;
    }
  }

  div.align-itens {
    display: flex;
    align-items: center;
    cursor: pointer;

    div.core-file {
      padding: 1.5em;
      display: inline-block;
      width: 750px;
      justify-self: center;
      justify-content: center;

      iframe {
        height: 420px;
        width: 750px;
        margin: 0;
      }

      img {
        max-height: 385px;
        max-width: 750px;
        margin: 0 auto;
        text-align: center !important;
      }
    }

    .icon-tag {
      color: #888;
      font-size: 14px;

      .fa-arrow-left:before {
        -webkit-text-stroke: 1px #ffffff;
        font-size: 2rem;
        color: #0057ae;
      }

      .fa-arrow-right:before {
        -webkit-text-stroke: 1px #ffffff;
        font-size: 2rem;
        color: #0057ae;
      }
    }
  }
}
