<!-- Page Header-->
<div class="container">
  <div class="col-md-12 breadcrumb-header">
    <ul class="breadcrumb">
      <li><span (click)="voltar()" class="voltar"><i class="fa fa-arrow-left" aria-hidden="true"></i>Voltar</span></li>
      <a routerLink="/home">Início</a>
      <em class="fa fa-chevron-right"></em>
      Administração
      <em class="fa fa-chevron-right"></em>
      Relatórios
      <em class="fa fa-chevron-right"></em>
      Pedidos de Reembolso
    </ul>
  </div>

  <div class="title-type">
    <h1 class="titulo-pagina">Pedidos de Reembolso</h1>
  </div>

  <div class="main-section">
    <form  [formGroup]="formulario" name="form">
      <div class="row">
     
      <div class="col-md-6">
        <asc-input-text
          [control]="formulario.get('processo')"
          inputId="processo"
          label="Pedido"
          [maxlength]="8"
          (keydown)="constantes.control.somenteNumeros(processo)"
          (keyup)="constantes.control.somenteNumeros(processo)"
          size="large">
        </asc-input-text>
      </div>

      <div class="col-md-3">
        <asc-multiSelect
          id="tipoProcesso"
          label="Tipo de Pedido"
          [options]="listComboTipoProcesso"
          [control]="formulario.get('tipoProcesso')"
          [selected]="tipoProcessoSelected"
          size="large">
        </asc-multiSelect>
      </div>

      <div class="col-md-3">
        <asc-multiSelect
          id="ufsProcesso"
          label="UF"
          [options]="listComboUF"
          [control]="formulario.get('ufsProcesso')"
          [selected]="ufsProcessoSelected"
          size="large">
        </asc-multiSelect>
      </div>

    </div>

    <div class="row">
      <div class="col-md-6">
        <label class="control-label">Período</label> 
      </div>
    </div>

    <div class="row">
      <div class="col-md-3">
        <asc-input-date
          [control]="formulario.get('dataInicio')"
          inputId="dataInicio"
          label="Início"
          size="large"
          [required]="true">
        </asc-input-date>
      </div>

      <div class="col-md-3">
        <asc-input-date
          [control]="formulario.get('dataFim')"
          inputId="dataFim"
          label="Fim"
          size="large"
          [required]="true">
        </asc-input-date>
      </div>

      <div  class="col-md-6">
        <asc-multiSelect
          id="empresasAuditoria"
          label="Empresa de Auditoria"
          [options]="listEmpresas"
          [control]="formulario.get('empresasAuditoria')"
          [selected]="empresasAuditoriaSelected"
          size="large">
        </asc-multiSelect>
      </div>

    </div>

    <div class="col-xs-12 p-0 barra-botoes">
      <button type="button" id="btnLimparCampos" class="btn back-btn" (click)="limparCampos()">
        <span class="fa fa-trash fa-fw"></span>Limpar Pesquisa
      </button>

      <button type="submit" id="btnPesquisar" class="btn continue-btn" (click)="pesquisar()">
        <span class="fa fa-search fa-fw"></span>Pesquisar
      </button>
    </div>
    </form>
  </div>

</div>
