<div style="margin: 1.5em 1.5em 0" @fadeInOut *ngIf="loading">
  <dsc-progress-bar mode="indeterminate" [style]="{ height: '6px' }">
  </dsc-progress-bar>
</div>

<section @fadeInOut>
  <div class="titulo-card" style="padding-bottom: 0.75em">
    Documentos condicionados / complementares
  </div>

  <!-- [permissoes]="permissoes" -->
  <asc-documento-card
    @fadeInOut
    *ngIf="documentos && documentos.length"
    [loading]="loading"
    [processo]="processo"
    [documentos]="documentoTipoProcessos"
    [isComplementar]="true"
    [isInResumo]="true"
    [habilitarValidacao]="true"
    (atualizarPedido)="atualizarPedido()"
    (documentoTipoProcessoSelecionado)="
      documentoTipoProcessoSelecionado($event)
    "
    (documentoComArquivoDeletado)="documentoComArquivoDeletado($event)"
  ></asc-documento-card>


</section>
