<div class="main">
  <p class="titulo-page big">Consulta de pedidos</p>
</div>

<div class="custom-container">
  <div class="list">

    <div class="max-width-512 ">
      <p class="titulo left-border">Selecione o pedido que deseja acompanhar</p>
      <div>
        <asc-input-button placeholder="Digite para filtrar o resultado" [control]="form.get('pesquisa')">
        </asc-input-button>
      </div>
    </div>
    <div class="header">
      <p class="h-1">Pedido</p>
      <p class="h-2">Tipo de Pedido</p>
      <p class="h-3">Tipo de Beneficiario</p>
      <p class="h-4">Agrupadora</p>
      <p class="h-5">Beneficiário</p>
      <p class="h-6">Situação Atual</p>
      <p class="h-8"></p>
      <p class="h-7">Ultima Atualização</p>
    </div>

    <div class="card">
      <p class="h-1">0001787</p>
      <p class="h-2">APR-PAD</p>
      <p class="h-3">Cdir</p>
      <p class="h-4">7046</p>
      <p class="h-5">ANDERSON DANTAS FERREIRA</p>
      <p class="h-6">AGUARDANDO DOCUMENTAÇÃO COMPLEMENTAR</p>
      <p class="h-8"><img width="25" height="25" src="assets/images/Times.svg" alt="Times"></p>
      <p class="h-7">08/05/2020 13:59:53</p>
    </div>

    <div class="card">
      <p class="h-1">0001787</p>
      <p class="h-2">APR-PAD</p>
      <p class="h-3">Cdir</p>
      <p class="h-4">7046</p>
      <p class="h-5">ANDERSON DANTAS FERREIRA</p>
      <p class="h-6">AGUARDANDO DOCUMENTAÇÃO COMPLEMENTAR</p>
      <p class="h-8"><img width="26" height="19" src="assets/images/Check-success.svg" alt="Check-sucess"></p>
      <p class="h-7">08/05/2020 13:59:53</p>
    </div>

    <div class="card">
      <p class="h-1">0001787</p>
      <p class="h-2">APR-PAD</p>
      <p class="h-3">Cdir</p>
      <p class="h-4">7046</p>
      <p class="h-5">ANDERSON DANTAS FERREIRA</p>
      <p class="h-6">AGUARDANDO DOCUMENTAÇÃO COMPLEMENTAR</p>
      <p class="h-8"><i class="fa fa-circle-o-notch" aria-hidden="true"></i></p>
      <p class="h-7">08/05/2020 13:59:53</p>
    </div>

    <div class="card">
      <p class="h-1">0001787</p>
      <p class="h-2">APR-PAD</p>
      <p class="h-3">Cdir</p>
      <p class="h-4">7046</p>
      <p class="h-5">ANDERSON DANTAS FERREIRA</p>
      <p class="h-6">AGUARDANDO DOCUMENTAÇÃO COMPLEMENTAR</p>
      <p class="h-8"><img width="25" height="25" src="assets/images/Times.svg" alt="Times"></p>
      <p class="h-7">08/05/2020 13:59:53</p>
    </div>


  </div>
</div>
