@import "/src/assets/sass/colors";
@import "/src/assets/sass/mixins";
@import "/src/assets/css/font-awesome.min.css";

.acompanhamento-container {
  margin: 0 auto;
  padding: 0 4em;
  max-width: 1280px;
}

.titulo {
  font-family: 'Caixa Std Bold', sans-serif;
  font-weight: bold;
  font-size: 32px;
  line-height: 140%;
  color: $btn-bg-blue;
  padding-left: 0.75em;
  border-left: 6px solid $btn-bg-orange-darker;
  margin: 0;
}

.processo-container {
  border-top: 1px solid #B4B4B4;
  padding-top: 1.5em;
  margin: 1.5em 4.5em 0 4.5em;
}

.left-border {
  padding-left: 0.75em;
  border-left: 7px solid #54BBAB;
}

.margin-campos {
  margin-bottom: 1em;
}

.no-padding {
  padding: 0;
}

.footer-card {
  margin-top: auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.margin-conteudo {
  margin-top: 1em;
  align-items: flex-start;
}

.list-card {
  flex-grow: 1;
  padding: 0.5em 0.75em 0.5em 0;
}

.no-desktop {
  display: none;
}

.id-historico {
  font-family: 'Caixa Std Regular', sans-serif;
  font-size: 16px;
  line-height: 19px;
  color: #000000;
  margin-left: 10px;
}

.orange-ball {
  position: absolute;
  right: calc(-22px - 8px);
  top: 8px;
  width: 18px;
  height: 18px;
  border-radius: 9px;
  background-color: #F7941E;
  z-index: 2;
}

.campo-card {
  font-family: 'Caixa Std Regular', sans-serif;
  font-size: 16px;
  line-height: 19px;
  color: #000000;
}

.historico-section {
  padding: 0 4.5em;
}

.btn-cancel {
  @include create-btn(outlined_red);
  align-self: flex-end;
}

@media screen and (max-width: 900px) {

  .acompanhamento-container {
    padding: 0;
  }

  .processo-container {
    border-top: 1px solid #B4B4B4;
    padding: 1.5em 0.5em 0 0.5em;
    margin: 0.5em 0;
  }

  .titulo {
    margin: 0.25em;
  }

  .no-mobile {
    display: none;
  }

  .no-desktop {
    display: inherit;
  }

  .orange-ball {
    display: none;
  }

  .list-historico {
    display: flex;
    overflow-y: hidden;
    overflow-x: auto;
    width: 100%;
    max-width: 100%;
    align-items: flex-start;
    margin-left: 0;
    padding: 0.5em;
  }

  .list-card {
    width: 100%;
    margin-top: 0.75em;
    padding: 0.75em 0.5em;
  }

  .historico-section {
    padding: 0;
  }
}
