<asc-acompanhamento-processo-base
  [processo]="processo"
  (onPermissoes)="updatePermissoes($event)"
>
  <div asc-conteudo>
    <div
      class="c-card conteudo-spacing docsMP"
      @fadeInOut
      [class.c-card-invalido]="mostrarBordaVermelhaObrigatorios"
      [class.c-card-valido]="mostrarBordaVerdeObrigatorios"
      [hidden]="
        !(mostrarBordaVerdeObrigatorios || mostrarBordaVermelhaObrigatorios) ||
        (isAguardandoDocumentoComplementar && mostrarBordaVerdeObrigatorios)
      "
    >
      <!-- (atualizarPedido)="
          atualizarPedido(); atualizarProcesso(); carregarProcesso()
        " -->
      <asc-documentos-obrigatorios-card
        (hasDocumentos)="hasDocumentosObrigatorio($event)"
        (hasDocumentosInvalidos)="hasDocumentosinvalido($event)"
        [permissoes]="permissoes"
        [processo]="processo"
        tipoProcessadorUpload="reembolso"
        (listAnexos)="getListAnexosObrigatorio($event)"
        (onUploadComplete)="atualizarProcesso()"
        (atualizarPedido)="atualizarProcesso()"
      >
      </asc-documentos-obrigatorios-card>

      <div
        *ngIf="
          permissoes?.editar &&
          permissoes?.tipo === 'analise' &&
          !apresentarDocumentoComplementar
        "
        class="footer-btns-card"
        style="padding-top: 1em !important; padding-bottom: 1em !important"
      >
        <button
          (click)="showDocumentoComplementar(true)"
          @fadeInOut
          class="btn-small btn-card-novo"
        >
          <span class="fa fa-plus fa-fw"></span
          ><span> Adicionar documento complementar</span>
        </button>
      </div>
    </div>
    <div
      @fadeInOut
      [class.c-card-invalido]="mostrarBordaVermelhaCondicionais"
      [class.c-card-valido]="mostrarBordaVerdeCondicionais"
      class="c-card conteudo-spacing docsMP"
      [hidden]="
        !(possuiDocumentosComplementares && recebendoDocumentacaoTitular)
      "
    >
      <asc-documentos-condicionados
        [permissoes]="permissoes"
        [atualizarProcesso]="subjectAtualizarProcesso"
        [tipoProcessadorUpload]="'reembolso'"
        (hasDocumentos)="hasDocumentos($event)"
        (hasDocumentosInvalidos)="hasDocumentosCondicionadosInvalido($event)"
        (hasAnexos)="hasAnexos($event)"
        (atualizarPedido$)="atualizarProcesso()"
        [processo]="processo"
        (listAnexos)="getListAnexos($event)"
        (onUploadComplete)="atualizarProcesso()"
      ></asc-documentos-condicionados>
    </div>
    <div class="c-card conteudo-spacing">
      <asc-beneficiario-card
        [processo]="processo"
        [permissoes]="permissoes"
      ></asc-beneficiario-card>
    </div>

    <div class="c-card conteudo-spacing">
      <asc-dados-processo-card
        [processo]="processo"
        [permissoes]="permissoes"
      ></asc-dados-processo-card>
      <div class="dados-options">
        <button
          (click)="cancelarProcesso()"
          *ngIf="permiteCancelamento()"
          class="btn-cancel"
        >
          Cancelar pedido
        </button>
        <button (click)="goToTop()" class="btn-to-top">Retornar ao topo</button>
      </div>
    </div>
    <div
      class="c-card conteudo-spacing"
      *ngIf="
        !isProcessoCancelamentoBeneficiario &&
        !(
          processo &&
          processo.idTipoProcesso == 13 &&
          (processo.idMotivoSolicitacao == 93 ||
            processo.idMotivoSolicitacao == 94)
        )
      "
    >
      <asc-dependentes-card
        [processo]="processo"
        [permissoes]="permissoes"
      ></asc-dependentes-card>
      <div class="card-footer">
        <button (click)="goToTop()" class="btn-to-top">Retornar ao topo</button>
      </div>
    </div>

    <div
      class="c-card conteudo-spacing"
      *ngIf="
        processo &&
        processo.idTipoProcesso == 13 &&
        processo.idMotivoSolicitacao == 93
      "
    >
      <asc-dados-contato-card
        [processo]="processo"
        [permissoes]="permissoes"
      ></asc-dados-contato-card>
      <div class="card-footer">
        <button (click)="goToTop()" class="btn-to-top">Retornar ao topo</button>
      </div>
    </div>

    <div
      class="c-card conteudo-spacing"
      *ngIf="
        processo &&
        processo.idTipoProcesso == 13 &&
        processo.idMotivoSolicitacao == 94
      "
    >
      <asc-dados-endereco-card
        [processo]="processo"
        [permissoes]="permissoes"
      ></asc-dados-endereco-card>
      <div class="card-footer">
        <button (click)="goToTop()" class="btn-to-top">Retornar ao topo</button>
      </div>
    </div>
    <div
      class="c-card conteudo-spacing docsMP"
      @fadeInOut
      *ngIf="
        possuiDocumentos &&
        (!recebendoDocumentacaoTitular ||
          (isAguardandoDocumentoComplementar && mostrarBordaVerdeObrigatorios))
      "
    >
      <asc-documentos-obrigatorios-card
        (hasDocumentos)="hasDocumentosObrigatorio($event)"
        [permissoes]="permissoes"
        [processo]="processo"
        tipoProcessadorUpload="reembolso"
        (atualizarPedido)="atualizarProcesso()"
      >
        <!-- atualizarPedido(); -->
      </asc-documentos-obrigatorios-card>

      <div
        *ngIf="
          permissoes?.editar &&
          permissoes?.tipo === 'analise' &&
          !apresentarDocumentoComplementar
        "
        class="footer-btns-card"
        style="padding-top: 1em !important"
      >
        <button
          (click)="showDocumentoComplementar(true)"
          @fadeInOut
          class="btn-small btn-card-novo"
        >
          <span class="fa fa-plus fa-fw"></span
          ><span> Adicionar documento complementar</span>
        </button>
      </div>
      <div class="card-footer">
        <button (click)="goToTop()" class="btn-to-top">Retornar ao topo</button>
      </div>
    </div>

    <div
      *ngIf="
        apresentarDocumentoComplementar &&
        permissoes?.analisar &&
        permissoes?.editar
      "
      @fadeInOut
      class="c-card conteudo-spacing docsMP"
    >
      <asc-documento-complementar-card
        [processo]="processo"
        [permissoes]="permissoes"
        [possuiDocumentosObrigatorios]="possuiDocumentos"
        (onCancelar)="showDocumentoComplementar(false)"
        (hasDocumentos)="hasDocumentos($event)"
        (atualizarProcesso$)="atualizarProcesso()"
      ></asc-documento-complementar-card>
      <div class="card-footer">
        <button (click)="goToTop()" class="btn-to-top">Retornar ao topo</button>
      </div>
    </div>

    <div
      class="c-card conteudo-spacing docsMP"
      @fadeInOut
      *ngIf="possuiDocumentosComplementares && !recebendoDocumentacaoTitular"
    >
      <asc-documentos-condicionados
        [processo]="processo"
        [permissoes]="permissoes"
        tipoProcessadorUpload="reembolso"
        [atualizarProcesso]="subjectAtualizarProcesso"
        (hasDocumentos)="hasDocumentos($event)"
        (atualizarPedido$)="atualizarProcesso()"
      ></asc-documentos-condicionados>
      <div class="card-footer">
        <button (click)="goToTop()" class="btn-to-top">Retornar ao topo</button>
      </div>
    </div>

    <div
      *ngIf="permissoes?.analisar && apresentarSituacao"
      @fadeInOut
      class="c-card conteudo-spacing"
    >
      <asc-mudanca-situacao-card-pl
        [processo]="processo"
        [permissoes]="permissoes"
        (onMudancaConcluida)="mudancaSituacaoConcluida()"
        (onSituacoesInvalidas)="onSituacaoInvalida()"
      >
      </asc-mudanca-situacao-card-pl>
      <button (click)="goToTop()" class="btn-to-top">Retornar ao topo</button>
    </div>
  </div>
</asc-acompanhamento-processo-base>
