<dsc-input
  [label]="required !== null && required !== false ? label + ' *' : label"
  type="text"
  [formControl]="control"
  [maxlength]="18"
  [disabled]="disabled"
  [size]="size"
  [ngStyle]="compStyle"
  (blur)="blurAction($event)"
  (keyup)="keyUpAction($event)"
  (keydown)="keyDownAction($event)"
>
</dsc-input>

<div *ngIf="control.invalid && (control.dirty || control.touched)" class="error-form" [ngStyle]="compStyle">
  <div *ngIf="control.errors['required']">{{requiredMsg}}</div>
  <div *ngIf="control.errors['cpf']">{{bundle('MA009', 'CPF')}}</div>
  <div *ngIf="control.errors['cnpj']">{{bundle('MA009', 'CNPJ')}}</div>
  <div *ngIf="control.errors['cpfCnpjInvalido']">{{bundle('MA009', 'CPF ou CNPJ')}}</div>
</div>
