<div class="container">
  <div class="col-md-12 breadcrumb-header">
    <ul class="breadcrumb">
      <li><span (click)="voltar()" class="voltar"><i class="fa fa-arrow-left" aria-hidden="true"></i>Voltar</span></li>
      <a routerLink="/home">Início</a>
      <em class="fa fa-chevron-right"></em> Administração
      <em class="fa fa-chevron-right"></em> Parâmetros
      <em class="fa fa-chevron-right"></em>
      <a routerLink="/manutencao/parametros/documentos">Documentos</a>
      <em class="fa fa-chevron-right"></em> Documentos – Resultado
    </ul>
  </div>
  <div class="title-type">
    <h1 class="titulo-pagina">Documentos – Resultado</h1>
  </div>

  <section class="row">
    <div *ngIf="!isNaoPossuiFiltros()">
      <div class="p-0 col-md-12">
        <h4>Dados da Pesquisa</h4>
      </div>

      <div class="clearfix"></div>

      <div class="p-0 col-xs-2" *ngIf="filtroDocumento.idTipoDocumento">
        <label class="control-label" for="tipoDocumento">Tipo de documento</label>&nbsp;<br>
        <p id="tipoDocumento">{{documento}}</p>
      </div>
      <div class="p-0 col-xs-2" *ngIf="filtroDocumento.nome">
        <label class="control-label" for="nome">Nome</label>&nbsp;<br>
        <p id="nome">{{filtroDocumento.nome}}</p>
      </div>
      <div class="p-0 col-xs-2" *ngIf="filtroDocumento.ativo">
        <label class="control-label" for="ativos">Somente ativos</label>&nbsp;<br>
        <p id="ativos">{{filtroDocumento.ativo == 'S' ? 'Sim' : 'Não'}}</p>
      </div>
      <div class="p-0 col-xs-2" *ngIf="filtroDocumento.opme">
        <label class="control-label" for="opme">OPME</label>&nbsp;<br>
        <p id="opme">{{filtroDocumento.opme == 'S' ? 'Sim' : 'Não'}}</p>
      </div>
      <div class="p-0 col-xs-2" *ngIf="filtroDocumento.link">
        <label class="control-label" for="link">Com link informado</label>&nbsp;<br>
        <p id="link">{{filtroDocumento.link == 'S' ? 'Sim' : 'Não'}}</p>
      </div>

      <div class="clearfix"></div>
    </div>

    <div class="row p-0 col-md-12">
      <h4>Resultado da Consulta</h4>
    </div>

    <div class="clearfix"></div>

    <div class="p-0 col-md-12">
      <div class="col-xs-3 search-inp p-0" style="margin: 5px 0 8px; border-bottom: 0 none">
        <input #gb type="text" class="form-control filtro-caixa" pInputText size="50"
               placeholder="Digite para filtrar resultado">
        <em class="fas fa-search"></em>
      </div>
      <p-table
        id="caixa-table"
        [value]="listaDocumento"
        [rows]="10"
        [paginator]="true"
        [pageLinks]="5"
        [sortOrder]="-1"
        [loading]="loading"
        [rowsPerPageOptions]="[5,10,20]"
        [reorderableColumns]="true"
        sortField="id"
        styleClass="table table-striped table-sm table-hover text-center">
        <ng-template pTemplate="emptymessage">
          <tr>
            <td colspan="6">Nenhum resultado encontrado para os filtros informados.</td>
          </tr>
        </ng-template>
        <ng-template pTemplate="header">
          <tr>
            <th [pSortableColumn]="'tipoDocumento.nome'">Tipo de Documento <p-sortIcon [field]="'tipoDocumento.nome'"></p-sortIcon></th>
            <th [pSortableColumn]="'nome'">Nome <p-sortIcon [field]="'nome'"></p-sortIcon></th>
            <th [pSortableColumn]="'descricao'">Descrição <p-sortIcon [field]="'descricao'"></p-sortIcon></th>
            <th [pSortableColumn]="'opme'" style="width:90px">OPME <p-sortIcon [field]="'opme'"></p-sortIcon></th>
            <th [pSortableColumn]="'inativo'" style="width:90px">Inativo <p-sortIcon [field]="'inativo'"></p-sortIcon></th>
            <th>Ação</th>
          </tr>
        </ng-template>
        <ng-template pTemplate="body" let-row>
          <tr>
            <td>{{row.tipoDocumento?.nome}}</td>
            <td>{{row.nome}}</td>
            <td>{{row.descricao}}</td>
            <td>{{row.opme}}</td>
            <td>{{row.inativo}}</td>
            <td>
              <span title="Editar registro" [routerLink]="['../editar', row.id]" id="editar">
                <em class="fas fa-pen"></em>
              </span>
            </td>
          </tr>
        </ng-template>
      </p-table>
    </div>

    <div class="p-0 col-xs-12 barra-botoes">
      <button
        class="btn back-btn" routerLink="/manutencao/parametros/documentos" id="btnFormVoltar">
        <span class="fa fa-reply fa-fw"></span>Voltar
      </button>
      <button type="button" id="btnNovoDocumento" class="btn clean-btn" routerLink="../novo">
        <span class="fa fa-plus fa-fw"></span>Incluir Documento
      </button>
    </div>

  </section>
</div>
