<dsc-input
  [label]="required !== null && required !== false ? label + ' *' : label"
  type="text"
  [formControl]="control"
  placeholder="(XX) XXXXX-XXXX"
  [maxlength]="15"
  [disabled]="disabled"
  [size]="size"
  [ngStyle]="compStyle"
  (blur)="blurAction($event)"
  (keyup)="keyUpAction($event)"
  (keydown)="keyDownAction($event)"
>
</dsc-input>

<div *ngIf="control.invalid && (control.dirty || control.touched)" class="error-form" [ngStyle]="compStyle">
  <div *ngIf="control.errors.required">{{requiredMsg}}</div>
  <div *ngIf="control.errors.telefoneInvalid">{{bundle('MA009', 'Telefone')}}</div>
</div>
