.form-control {
  box-sizing: border-box;
  border-radius: 3px;

  &.padding-button {
    padding-right: 45px;
  }

  &.padding-button-left {
    padding-left: 45px;
  }
}

.relative {
  position: relative;

  button {
    background: #F2F7F8;
    border-radius: 3px;
    position: absolute;
    right: 1px;
    border: none;
    color: #4C556C;
    width: 32px;
    height: calc(100% - 2px);
    top: 1px;
    display: flex;
    align-items: center;
    justify-content: center;

    span {
      color: red;
    }

    &:hover,
    &:active,
    &:focus {
      background-color: #e2e7e8;
      border: none !important;
      color: inherit;
    }

    &.left {
      left: 1px;

    }


  }
}

.ui-button-text-only .ui-button-text {
  padding: 0 !important;
  color: red;
}

.ng-valid[required], .ng-valid.required, .ng-valid.requiredfield, .ng-valid[required]:hover, .ng-valid.required:hover, .ng-valid.requiredfield:hover {
  border-left: 5px solid #42A948;
}

.ng-invalid[required]:not(form):not(p-dropdown) {
  border-left: 5px solid #a94442;
}

.ng-dirty.ng-invalid, .ng-dirty.ng-invalid:hover {
  border-bottom-color: #f44336;
}
