.default-container {
  padding: 0 64px;
}

.titulo-pagina {
  margin-top: 22px;
}

.c-grid {
  display: flex;
  align-items: flex-start;
}

.info-pagina {
  padding: 12px 24px;
  margin-top: 12px;

  .info-p,
  small {
    font-family: 'Caixa Std Regular', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 19px;
    color: #3A4859;

    &.bordered {
      padding-left: 14px;
      border-left: 6px solid #58bbab;
    }
  }

  small {
    font-size: 12px;
    display: block;
    margin-bottom: 24px;
  }

  .info-h1 {
    font-family: 'Caixa Std Bold', sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 20px;
    line-height: 24px;
    color: #005CA9;
  }

}

.section {
  background-color: #EFF5F6;
  border-radius: 6px;
  display: flex;
  justify-content: center;
  position: relative;
  flex-flow: column;
  padding: 0 32px;
  margin-top: 24px;
  min-width: 270px;
}

.info-boxes {
  display: flex;
  align-items: center;
  margin-top: 16px;

  &:last-child {
    margin-bottom: 16px;
  }

  span {
    width: 25px;
    height: 25px;
    min-width: 25px;
    min-height: 25px;
    color: #fff;
    background-color: #0065B7;
    border-radius: 35px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 8px;
    cursor: pointer;
  }

  p {
    font-family: 'Caixa Std Regular', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 22px;
    color: #3A4859;
    margin: 0;
  }

  label {
    position: absolute;
    font-family: 'Caixa Std Regular', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 19px;
    color: #3A4859;
    bottom: 30px;
    left: 275px;
    width: 70vw;
    align-self: flex-start;
    transition: 100ms ease-in-out;
    opacity: 0;
  }

  &:hover {
    label {
      transition: 100ms ease-in-out;
      opacity: 1;
    }
  }
}

.desktop {
  display: block !important;
}

.mobile {
  display: none !important;
}
