<div class="container" *ngIf="!processoEnviado">
  <asc-stepper
    [fitScreen]="true"
    [breadcrumbOptions]="breadcrumb"
    [disableClickOnLabel]="true"
    #cdkStepper
  >
    <cdk-step label="Tipo dependente">
      <ng-template cdkStepLabel> Inscrição de Dependente </ng-template>
      <asc-etapa-tipo-dependente
        [checkRestart]="reinicarSubject"
        (beneficiarioDependenteModel)="
          beneficiarioDependenteModelSelecionado($event)
        "
        (tipoDependenteModel)="tipoDependenteModelSelecionado($event)"
        (beneficiarioModel)="beneficiarioModelSelecionado($event)"
        routerLinkToBack="/dependente/incluir"
        [stepper]="cdkStepper"
        [listaBeneficiarios]="listaBeneficiarios"
        [idTipoProcesso]="idTipoProcesso"
      ></asc-etapa-tipo-dependente>
    </cdk-step>
    <cdk-step label="Cadastro">
      <ng-template cdkStepLabel> Inscrição de Dependente </ng-template>
      <asc-etapa-dados-dependente
        [checkRestart]="reinicarSubject"
        [stepper]="cdkStepper"
        [idTipoProcesso]="idTipoProcesso"
        [beneficiarioDependente]="beneficiarioDependenteModel"
        (estadoCivilModel)="estadoCivilModelSelecionado($event)"
        (dadoDependenteModel)="dadoDependenteModelSelecionado($event)"
        [tipoDependente]="tipoDependenteModel"
        [listaBeneficiarios]="listaBeneficiarios"
      ></asc-etapa-dados-dependente>
    </cdk-step>
    <cdk-step label="Complemento">
      <ng-template cdkStepLabel> Inscrição de Dependente </ng-template>
      <asc-etapa-complemento-dependente
        [checkRestart]="reinicarSubject"
        [stepper]="cdkStepper"
        [dadoDependente]="dadoDependenteModel"
        (ufSelecionada)="selectUf($event)"
        (municipioSelecionado)="selectMunicipio($event)"
        (tipoDeficienciaModel)="tipoDeficienciaModelSelecionado($event)"
        (complementoDependenteModel)="
          complementoDependenteModelSelecionado($event)
        "
        [complementoDependente]="complementoDependenteModel"
        [tipoDeficiencia]="tipoDeficienciaModel"
        [tipoDependente]="tipoDependenteModel"
      ></asc-etapa-complemento-dependente>
    </cdk-step>
    <cdk-step label="Documentos">
      <ng-template cdkStepLabel> Inscrição de Dependente </ng-template>
      <asc-documentos-requeridos-pedido
        [parametro]="parametroDocumento"
        [stepper]="cdkStepper"
        (documentosSelecionados)="documentosSelecionados($event)"
      ></asc-documentos-requeridos-pedido>
    </cdk-step>
    <cdk-step label="Resumo">
      <ng-template cdkStepLabel> Inscrição de Dependente </ng-template>
      <asc-etapa-resumo-incluir
        [beneficiarioDependente]="beneficiarioDependenteModel"
        [documentos]="documentos"
        [tipoDependente]="tipoDependenteModel"
        [municipio]="municipio"
        [estado]="uf"
        [dadoDependente]="dadoDependenteModel"
        [complementoDependente]="complementoDependenteModel"
        [beneficiario]="beneficiarioModel"
        [tipoDeficiencia]="tipoDeficienciaModel"
        [estadoCivil]="estadoCivilModel"
        [stepper]="cdkStepper"
        [idTipoProcessoResumo]="idTipoProcesso"
        (processoEnviadoEvent)="setProcessoEnviado($event)"
        (reiniciarEvent)="reinicarSubject.next()"
      ></asc-etapa-resumo-incluir>
    </cdk-step>
  </asc-stepper>
</div>

<asc-recibo-dependente
  [pedido]="recibo"
  *ngIf="processoEnviado"
></asc-recibo-dependente>
