.area-lista{
    max-height: 200px; /* Define a altura máxima */
    overflow-y: auto;  /* Adiciona uma barra de rolagem vertical se o conteúdo exceder a altura */
    //border: 1px solid #ccc; /* Apenas para visualização */
    padding: 10px; /* Adiciona um pouco de preenchimento */
    width: 400px;
}

::ng-deep .popover{
    max-width: none;
}