.calendar {
  display: flex;
  flex-flow: column;

  button {
    background-color: #EFF5F6 !important;
    border-radius: 3px 0 0 3px !important;
    color: #3A4859 !important;
    position: absolute;
    left: 0;
    border: 1px solid #c0c0c0 !important;
    width: 32px !important;
    top: 0;
    border-right: none !important;
  }

  .form-control2 .ui-calendar {
    display: block !important;
  }

  .to-left {
    left: -3px;
  }
}

p-calendar > span > input {
  padding-left: 40px !important;
  border-radius: 3px !important;
}

p-calendar[required] > span > button {
  border-radius: 0 !important;
  padding-left: 0;
  left: -1px;
}

.ui-calendar-button {
  margin: 0;
}

.ng-invalid[required]:not(form):not(p-dropdown):not(p-multiselect) {
  border-left: 5px solid #a94442 !important;
  border-top-left-radius: 3px;
  border-bottom-left-radius: 3px;
}

.ng-valid[required]:not(p-dropdown):not(p-multiselect), .ng-valid.required:not(p-dropdown):not(p-multiselect),
.ng-valid.requiredfield:not(p-dropdown):not(p-multiselect) {
  border-left: 5px solid #42A948 !important;
}

.ng-valid[required]:hover:not(p-dropdown):not(p-multiselect), .ng-valid.required:hover:not(p-dropdown):not(p-multiselect),
.ng-valid.requiredfield:hover:not(p-dropdown):not(p-multiselect) {
  border-left: 5px solid #42A948 !important;
}
