<section class="docsMP" @fadeInOut>
  <div style="margin: 1.5em 1.5em 0" @fadeInOut *ngIf="loading">
    <dsc-progress-bar
      @fadeInOut
      mode="indeterminate"
      *ngIf="loading"
      [style]="{ height: '6px' }"
    >
    </dsc-progress-bar>
  </div>

  <div class="titulo-card">Documentos obrigatórios</div>
  <div *ngIf="mostrarComponente">
    <asc-documento-card
      [permissoes]="permissoes"
      @fadeInOut
      *ngIf="documentos && documentos.length"
      [loading]="loading"
      [habilitarValidacao]="true"
      [processo]="processo"
      [documentos]="documentoTipoProcessos"
      (documentoTipoProcessoSelecionado)="
        documentoTipoProcessoSelecionado($event)
      "
      (documentoComArquivoDeletado)="documentoComArquivoDeletado($event)"
      (atualizacaoSituacaoDocumento$)="atualizarDocumentoCard()"
      (atualizarPedido)="atualizarPedido()"
      [isInResumo]="true"
      [controls]="true"
    ></asc-documento-card>
  </div>
</section>
