@import "/src/assets/sass/colors";
@import "/src/assets/sass/mixins";

$arquivo_card_footer_break: 420px;

.arquivo-card {
  border: 1px solid #5F758F;
  padding: 8px;
  margin: 6.5px 0;
  display: flex;
  justify-content: space-between;
  align-items: center;

}

.arquivo-info {
  display: flex;
  justify-content: space-between;
  padding-right: 8px;
  width: 100%;
  align-items: center;
}

.arquivo-data {
  font-family: 'Caixa Std Bold', sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 13px;
  line-height: 16px;
  display: flex;
  align-items: center;
  text-align: right;
  color: #3A4859;
  margin: 0;

  i,
  em {
    margin-left: 10px;
    font-size: 20px;
    color: #0158AE;
  }
}

.arquivo-nome {
  font-family: 'Caixa Std Bold', sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 17px;
  display: flex;
  align-items: center;
  color: #3A4859;
  margin: 0;
}

.arquivo-actions {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 78px;

  button {
    width: 35px;
    height: 35px;
    display: flex;
    align-items: center;
    justify-content: center;
    border: none;
    border-radius: 3px;

    em {
      color: #FFF;
    }

    &:first-child {
      background-color: #17A2B8;

      &:hover,
      &:active {
        background-color: #0f91a5;
      }
    }

    &:last-child {
      background-color: #DC3545;

      &:hover,
      &:active {
        background-color: #bb1c2c;
      }
    }
  }
}

.label-documentos-card {
  font-family: 'Caixa Std Bold', sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 19px;
  margin: .25em .25em .5em;
}

.footer-arquivos-card {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 1em;
}

@media (max-width: $arquivo_card_footer_break) {
  .footer-arquivos-card {
    flex-flow: column;
    align-items: center;
    justify-content: center;

    button {
      width: 100%;
      margin: 0.25em 0;
    }
  }
}
