<form [formGroup]="formularioSolicitacao">
  <div class="bottom-bordered" style="width: 778px; margin: 10px auto -10px">
    <p class="titulo">
      Confira o resumo do seu pedido e, se tudo estiver correto, clique em
      "Finalizar".
    </p>
  </div>
  <div class="resumo-container">
    <div
      *ngIf="
        isEditingBeneficiario;
        then editarBeneficiarioForm;
        else visualizarBeneficiarioForm
      "
      @fadeInOut
    ></div>
    <ng-template #visualizarBeneficiarioForm>
      <asc-card-component>
        <asc-card-title>
          <div class="titulo-card">Beneficiário</div>
        </asc-card-title>
        <asc-card-content>
          <div
            @fadeInOut
            *ngIf="idTipoProcessoResumo === TIPO_PROCESSO_INCLUIR"
          >
            <div class="ui-sm-2 card-flt-mr">
              <dsc-button  (click)="alterarBeneficiarios()" iconButton="true" icon="create" variant="secondary"/>
            </div>
            <div class="row">
              <div class="col-md-6 no-padding">
                <label>Tipo Beneficiário</label>
                <p>{{ tipoDependente?.descricao }}</p>
              </div>
              <div class="col-md-6 no-padding" [hidden]="showMatricula">
                <label>Matrícula Titular</label>
                <p>{{ beneficiarioDependente?.matricula }}</p>
              </div>
              <div class="col-md-6 no-padding">
                <label>Telefone Contato</label>
                <p>
                  {{
                    beneficiarioDependente?.telefoneContato
                      | telefone
                      | campoVazioHifen
                  }}
                </p>
              </div>
              <div class="col-md-6 no-padding">
                <label>E-mail</label>
                <p>{{ beneficiarioDependente?.email | campoVazioHifen }}</p>
              </div>
            </div>
          </div>
          <div
            @fadeInOut
            *ngIf="idTipoProcessoResumo === TIPO_PROCESSO_ALTERAR"
          >
            <div class="ui-sm-2 card-flt-mr">
              <dsc-button  (click)="alterarBeneficiarios()" iconButton="true" icon="create" variant="secondary"/>

            </div>
            <div class="row">
              <div class="col-md-6">
                <label>Nome (Anterior)</label>
                <p class="uppercase">{{ beneficiario?.nome }}</p>
              </div>
              <div class="col-md-6">
                <label>Código do Beneficiário</label>
                <p>{{ beneficiario?.codigoBeneficiario }}</p>
              </div>
              <div class="col-md-6">
                <label>Tipo Beneficiário</label>
                <p class="uppercase">{{ tipoDependente?.descricao }}</p>
              </div>
              <div class="col-md-6" [hidden]="showMatricula">
                <label>Matrícula Titular</label>
                <p>{{ beneficiarioDependente?.matricula }}</p>
              </div>
              <div class="col-md-6">
                <label>Telefone Contato</label>
                <p>
                  {{
                    beneficiarioDependente?.telefoneContato
                      | telefone
                      | campoVazioHifen
                  }}
                </p>
              </div>
              <div class="col-md-6 no-padding margin-16">
                <label>E-mail</label>
                <p>{{ beneficiarioDependente?.email | campoVazioHifen }}</p>
              </div>
              <div class="col-md-6 no-padding margin-16">
                <label>Motivo da Solicitação</label>
                <p class="uppercase">{{ motivoSolicitacao?.nome }}</p>
              </div>
            </div>
          </div>
        </asc-card-content>
      </asc-card-component>
    </ng-template>

    <ng-template #editarBeneficiarioForm>
      <form [formGroup]="formularioBeneficiario">
        <asc-card-component>
          <asc-card-title>
            <div class="titulo-card">Beneficiário</div>
          </asc-card-title>
          <asc-card-content>
            <div *ngIf="idTipoProcessoResumo === TIPO_PROCESSO_INCLUIR">
              <div class="no-padding">
                <div class="col-md-6 ui-md-6 custom-form-grid">
                  <label>Tipo Beneficiário</label>
                  <p class="uppercase">{{ tipoDependente?.descricao }}</p>
                </div>
                <div class="col-md-6 no-padding" [hidden]="showMatricula">
                  <label>Matrícula Titular</label>
                  <p>
                    {{ beneficiarioDependente?.matricula | campoVazioHifen }}
                  </p>
                </div>
                <div class="col-md-6 no-padding">
                  <label>E-mail 1</label>
                  <p>
                    <asc-input-text
                      [control]="formularioBeneficiario.get('email')"
                      inputId="email"
                      label=""
                      class="col-md-6"
                    ></asc-input-text>
                  </p>
                </div>
                <div class="col-md-6 no-padding">
                  <label>Telefone</label>
                  <p>
                    <asc-input-telefone
                      [control]="formularioBeneficiario.get('telefoneContato')"
                      inputId="telefoneContato"
                      label=""
                      style="width: 98%"
                    ></asc-input-telefone>
                  </p>
                </div>
              </div>
              <div class="footer-buttons">
                <div class="row">
                  <div class="col-md-6"></div>
                  <div class="col-md-6">
                    <div class="row">
                      <dsc-button (click)="cancelarAlterarBeneficiarios()" label="Cancelar" variant="secondary-outlined" class="col-md-6"/>
                      <dsc-button (click)="salvarBeneficiarios()" label="Confirmar" [disabled]="formularioBeneficiario.invalid" class="col-md-6"/>
                    </div>
                  </div>
                </div>

              </div>
            </div>

            <div *ngIf="idTipoProcessoResumo === TIPO_PROCESSO_ALTERAR">
              <div class="row">
                <div
                  class="col-md-6 "

                >
                  <label>Nome Completo</label>
                  <p class="uppercase">{{ beneficiario?.nome }}</p>
                </div>
                <div class="col-md-6 ">
                  <label>Código do Beneficiário</label>
                  <p>{{ beneficiario?.codigoBeneficiario }}</p>
                </div>
              </div>
              <div class="row">
                <div
                  class="col-md-12 "

                >
                  <label>Tipo Beneficiário</label>
                  <p class="uppercase">{{ tipoDependente?.descricao }}</p>
                </div>
                <div
                  class="col-md-6 "
                  [hidden]="showMatricula"
                >
                  <label>Matrícula Titular</label>
                  <p>{{ beneficiarioDependente?.matricula }}</p>
                </div>
              </div>
              <div class="row">
                <div
                  class="col-md-6"
                >
                  <asc-input-text
                    [control]="formularioBeneficiario.get('email')"
                    inputId="email"
                    label="E-mail"
                  ></asc-input-text>
                </div>
                <div class="col-md-6">
                  <label>Motivo da Solicitação</label>
                  <p class="uppercase">{{ motivoSolicitacao?.nome }}</p>
                </div>
              </div>
              <div class="row">
                <div
                  class="col-md-6"

                >
                  <asc-input-telefone
                    [control]="formularioBeneficiario.get('telefoneContato')"
                    inputId="telefoneContato"
                    label="Telefone"
                  ></asc-input-telefone>
                </div>
              </div>
              <div class="footer-buttons">
                <div class="row">
                  <div class="col-md-6"></div>
                  <div class="col-md-6">
                    <div class="row">
                      <dsc-button (click)="cancelarAlterarBeneficiarios()" label="Cancelar" variant="secondary-outlined" class="col-md-6"/>
                      <dsc-button (click)="salvarBeneficiarios()" label="Confirmar" [disabled]="formularioBeneficiario.invalid" class="col-md-6"/>
                    </div>
                  </div>
                </div>

              </div>
            </div>
          </asc-card-content>
        </asc-card-component>
      </form>
    </ng-template>

    <div
      *ngIf="
        isEditingDadosBasicos;
        then editarDadosBasicos;
        else visualizarDadosBasicos
      "
      @fadeInOut
    ></div>
    <ng-template #visualizarDadosBasicos>
      <asc-card-component>
        <asc-card-title>
          <div class="titulo-card">Dados básicos</div>
        </asc-card-title>
        <asc-card-content>
          <div @fadeInOut>
            <div class="ui-sm-2 card-flt-mr">
              <dsc-button (click)="alterarDadosBasicos()" variant="secondary" iconButton="true" icon="create"/>
            </div>
            <div class="row">
              <div class="col-md-6 no-padding">
                <label>Nome completo</label>
                <p class="uppercase">
                  {{ dadoDependente?.nomeCompleto | campoVazioHifen }}
                </p>
              </div>
              <div class="col-md-6 no-padding">
                <label>CPF</label>
                <p>{{ dadoDependente?.cpf | campoVazioHifen }}</p>
              </div>
              <div class="col-md-6 no-padding margin-16">
                <label>Data de nascimento</label>
                <p>
                  {{ dadoDependente?.dataNascimento | date : "dd/MM/yyyy" }}
                </p>
              </div>
              <div class="col-md-6 no-padding margin-16">
                <label>Nome da mãe</label>
                <p class="uppercase">
                  {{ dadoDependente?.nomeMae | campoVazioHifen }}
                </p>
              </div>
              <div class="col-md-6 no-padding margin-16">
                <label>Sexo</label>
                <p class="uppercase">{{ nomeSexo | campoVazioHifen }}</p>
              </div>
              <div class="col-md-6 no-padding margin-16">
                <label>Nome do pai</label>
                <p class="uppercase">
                  {{ dadoDependente?.nomePai | campoVazioHifen }}
                </p>
              </div>
              <div class="col-md-6 no-padding margin-16">
                <label>Estado Civil</label>
                <p class="uppercase">
                  {{ estadoCivil?.descricao | campoVazioHifen }}
                </p>
              </div>

              <div class="col-md-6 no-padding margin-16">
                <label>Declaração de Nascido Vivo</label>
                <p>
                  {{ dadoDependente?.declaracaoNascidoVivo | campoVazioHifen }}
                </p>
              </div>
            </div>
          </div>
        </asc-card-content>
      </asc-card-component>
    </ng-template>

    <ng-template #editarDadosBasicos>
      <form [formGroup]="formularioDadosBasicos">
        <asc-card-component>
          <asc-card-title>
            <div class="titulo-card">Dados básicos</div>
          </asc-card-title>
          <asc-card-content>
            <div class="left-grid">
              <div class="row">
                <div
                  class="col-md-6"
                >
                  <asc-input-text
                    [somenteLetrasMaiusculas]="'true'"
                    [control]="formularioDadosBasicos.get('nomeCompleto')"
                    [required]="true"
                    inputId="nomeCompleto"
                    label="Nome completo"
                  ></asc-input-text>
                </div>
                <div class="col-md-6">
                  <asc-input-text
                    [control]="formularioDadosBasicos.get('cpf')"
                    inputId="cpf"
                    label="CPF"
                    [required]="true"
                    maskName="cpfMask"
                  ></asc-input-text>
                </div>
              </div>

              <div class="row">
                <div
                  class="col-md-6"

                >
                  <asc-input-date
                    [control]="formularioDadosBasicos.get('dataNascimento')"
                    [required]="true"
                    inputId="dataNascimento"
                    label="Data de nascimento"
                    (change)="validDataNascimento()"
                  >
                    <asc-input-error
                      nomeErro="dataMenorIgualAtual"
                      msgErro="O valor de Data de nascimento não pode ser superior a data de hoje."
                    ></asc-input-error>
                  </asc-input-date>
                </div>
                <div class="col-md-6 ">
                  <asc-input-text
                    [somenteLetrasMaiusculas]="'true'"
                    [control]="formularioDadosBasicos.get('nomeMae')"
                    inputId="nomeMae"
                    [required]="true"
                    label="Nome da mãe"
                  >
                  </asc-input-text>
                </div>
              </div>

              <div class="row">
                <div
                  class="col-md-6"

                >
                  <asc-dropdown
                    [items]="sexos"
                    [control]="formularioDadosBasicos.get('sexo')"
                    [required]="true"
                    label="Sexo"
                  ></asc-dropdown>
                </div>

                <div class="col-md-6">
                  <asc-input-text
                    [somenteLetrasMaiusculas]="'true'"
                    [control]="formularioDadosBasicos.get('nomePai')"
                    inputId="nomePai"
                    label="Nome do pai"
                  >
                  </asc-input-text>
                </div>
              </div>

              <div class="row">
                <div
                  class="col-md-6"
                >
                  <asc-select-estado-civil
                    label="Estado Civil"
                    id="idEstadoCivil"
                    [control]="formularioDadosBasicos.get('idEstadoCivil')"
                    [required]="true"
                    (dadoSelecionado)="estadoCivilSelecionado($event)"
                  ></asc-select-estado-civil>
                </div>
                <div class="col-md-6">
                  <asc-input-text
                    [control]="
                      formularioDadosBasicos.get('declaracaoNascidoVivo')
                    "
                    inputId="declaracaoNascidoVivo"
                    label="Declaração de Nascido Vivo"
                    style="width: 98%"
                    [somenteNumeros]="true"
                  ></asc-input-text>
                </div>
              </div>

              <div class="footer-buttons">
                <div class="row">
                  <div class="col-md-6"></div>
                  <div class="col-md-6">
                    <div class="row">
                      <dsc-button (click)="cancelarAlterarDadosBasicos()" label="Cancelar" variant="secondary-outlined" class="col-md-6"/>
                      <dsc-button (click)="salvarDadosBasicos()" label="Confirmar" class="col-md-6"/>
                    </div>
                  </div>
                </div>

              </div>
            </div>
          </asc-card-content>
        </asc-card-component>
      </form>
    </ng-template>

    <div
      *ngIf="
        isEditingDadosComplementos;
        then editarDadosComplementos;
        else visualizarDadosComplementos
      "
      @fadeInOut
    ></div>
    <ng-template #visualizarDadosComplementos>
      <asc-card-component>
        <asc-card-title>
          <div class="titulo-card">Dados Complementares</div>
        </asc-card-title>
        <asc-card-content>
          <div @fadeInOut>
            <div class="left-grid">
              <div class="ui-sm-2 card-flt-mr">
                <dsc-button  (click)="alterDadosComplementos()" iconButton="true" icon="create" variant="secondary"/>
                <!-- <button (click)="alterDadosComplementos()" class="btn-editar">
                  <i aria-hidden="true" class="fa fa-pencil"></i>
                </button> -->
              </div>
              <div class="row">
                <div class="col-md-6 no-padding">
                  <label>Documento de Identidade</label>
                  <p class="uppercase">
                    {{ complementoDependente?.rg | campoVazioHifen }}
                  </p>
                </div>
                <div class="col-md-6 no-padding">
                  <label>Tipo deficiência</label>
                  <p>{{ tipoDeficiencia?.descricao | campoVazioHifen }}</p>
                </div>
                <div class="col-md-6 no-padding margin-16">
                  <label>Órgão emissor</label>
                  <p class="uppercase">
                    {{ complementoDependente?.orgaoEmissor | campoVazioHifen }}
                  </p>
                </div>
                <div class="col-md-6 no-padding margin-16">
                  <label>Cartão Nacional de Saúde</label>
                  <p>
                    {{
                      complementoDependente?.cartaoNacionalSaude
                        | campoVazioHifen
                    }}
                  </p>
                </div>
                <div class="col-md-6 no-padding margin-16">
                  <label>Data de expedição</label>
                  <p>
                    {{
                      complementoDependente?.dataExpedicaoRg
                        | date : "dd/MM/yyyy"
                        | campoVazioHifen
                    }}
                  </p>
                </div>
                <div class="col-md-6 no-padding margin-16">
                  <label>Número Cartão UNIMED</label>
                  <p>
                    {{ complementoDependente?.cartaoUnimed | campoVazioHifen }}
                  </p>
                </div>

                <div class="col-md-6 no-padding margin-16">
                  <label>Município Naturalidade</label>
                  <p>{{ municipio?.nome }} — {{ municipio?.estado.sigla }}</p>
                </div>

                <div class="col-md-6 no-padding margin-16">
                  <label>Valor renda</label>
                  <p>{{ complementoDependente?.renda | campoVazioHifen }}</p>
                </div>

                <div class="col-md-6 no-padding margin-16">
                  <label>E-mail</label>
                  <p>
                    {{
                      complementoDependente?.emailDependente | campoVazioHifen
                    }}
                  </p>
                </div>
              </div>
            </div>
          </div>
        </asc-card-content>
      </asc-card-component>
    </ng-template>
    <ng-template #editarDadosComplementos>
      <form [formGroup]="formularioDadosComplementares">
        <asc-card-component>
          <asc-card-title>
            <div class="titulo-card">Dados Complementares</div>
          </asc-card-title>
          <asc-card-content>
            <div class="left-grid">
              <div class="row">
                <div
                  class="col-md-6"

                >
                  <asc-input-text
                    [somenteLetrasMaiusculas]="'true'"
                    [control]="formularioDadosComplementares.get('rg')"
                    inputId="rg"
                    label="Documento de Identidade"
                    [maxlength]="12"
                    [somenteNumeros]="true"

                    [required]="rgRequired"
                  ></asc-input-text>
                </div>
                <div class="col-md-6">
                  <asc-dropdown
                    [items]="tipoDeficiencias"
                    [control]="
                      formularioDadosComplementares.get('idTipoDeficiencia')
                    "
                    label="Tipo deficiência"
                  ></asc-dropdown>
                </div>
              </div>

              <div class="row">
                <div
                  class="col-md-6"

                >
                  <asc-input-text
                    [somenteLetrasMaiusculas]="'true'"
                    [control]="
                      formularioDadosComplementares.get('orgaoEmissor')
                    "
                    inputId="orgaoEmissor"
                    [maxlength]="6"
                    label="Órgão emissor"

                    [required]="rgRequired"
                  ></asc-input-text>
                </div>
                <div class="col-md-6">
                  <asc-input-text
                    [control]="
                      formularioDadosComplementares.get('cartaoUnimed')
                    "
                    inputId="cartaoUnimed"
                    [somenteNumeros]="true"
                    label="Número Cartão UNIMED"
                  ></asc-input-text>
                </div>
              </div>

              <div class="row">
                <div
                  class="col-md-6"

                >
                  <asc-input-date
                    [control]="
                      formularioDadosComplementares.get('dataExpedicaoRg')
                    "
                    inputId="dataExpedicaoRg"
                    label="Data de expedição"
                    [required]="rgRequired"
                  >
                    <asc-input-error
                      nomeErro="dataMenorIgualAtual"
                      [msgErro]="
                        'O valor de Data de expedição não pode ser superior a data de hoje.'
                      "
                    ></asc-input-error>
                  </asc-input-date>
                </div>
                <div class="col-md-6">
                  <asc-input-text
                    [control]="
                      formularioDadosComplementares.get('cartaoNacionalSaude')
                    "
                    inputId="cartaoNacionalSaude"
                    [somenteNumeros]="true"
                    label="Cartão Nacional de Saúde"
                  ></asc-input-text>
                </div>
              </div>

              <div class="row">
                <div
                  class="col-md-6"
                >
                  <asc-select-uf
                    label="UF Naturalidade"
                    [control]="formularioDadosComplementares.get('estado')"
                  >
                  </asc-select-uf>
                </div>

                <div class="col-md-6">
                  <asc-input-money-type
                    [control]="formularioDadosComplementares.get('renda')"
                    inputId="renda"
                    label="Valor renda"
                  >
                  </asc-input-money-type>
                </div>
              </div>

              <div class="row">
                <div
                  class="col-md-6"

                >
                  <asc-select-municipio
                    label="Município Naturalidade"
                    [parametro]="{
                      idMunicipio:
                        formularioDadosComplementares.get('estado').value
                    }"
                    [required]="
                      formularioDadosComplementares.get('estado').value
                    "
                    [control]="formularioDadosComplementares.get('municipio')"
                    (dadoSelecionado)="municipioSelecionado($event)"
                  >
                  </asc-select-municipio>
                </div>

                <div class="col-md-6">
                  <asc-input-text
                    [control]="
                      formularioDadosComplementares.get('emailDependente')
                    "
                    inputId="emailDependente"
                    label="E-mail"
                  >
                  </asc-input-text>
                </div>
              </div>

              <div class="footer-buttons">
                <div class="row">
                  <div class="col-md-6"></div>
                  <div class="col-md-6">
                    <div class="row">
                      <dsc-button (click)="cancelarAlterarDadosComplementares()" label="Cancelar" variant="secondary-outlined" class="col-md-6"/>
                      <dsc-button (click)="salvarDadosComplementos()" label="Confirmar" class="col-md-6" [disabled]="formularioDadosComplementares.invalid" />
                    </div>
                  </div>
                </div>

              </div>
            </div>
          </asc-card-content>
        </asc-card-component>
      </form>
    </ng-template>

    <div
      class="left-grid"
      *ngIf="documentosCadastrados && documentosCadastrados.length"
      @fadeInOut
    >
      <div style="display: block" class="custom-card docsMP">
        <div class="titulo-card">Documentos obrigatórios</div>
        <asc-documento-card
          [isInResumo]="true"
          [documentos]="documentosCadastrados"
          (arquivosSelecionados)="arquivosSelecionados($event)"
          (documentosTipoProcessoSelecionados)="watchDocumentos($event)"
          (documentoTipoProcessoSelecionado)="selecionarTipoDocumento($event)"
        ></asc-documento-card>
      </div>
    </div>

    <asc-card-component>
      <asc-card-content>
        <div class="left-grid">
          <p class="card-header">Deseja adicionar alguma informação?</p>
          <div class="box" style="width: 100% !important">
            <textarea
              formControlName="informacaoAdicional"
              style="width: 100%"
              pInputTextarea
              placeholder="Preencha com informações adicionais que você considere relevantes para a análise do seu pedido."
            ></textarea>
          </div>
        </div>
      </asc-card-content>
    </asc-card-component>
  </div>
  <div class="footer">
    <asc-button-secondary
      buttonId="voltar"
      (click)="setModal(true)"
      title="Reiniciar"
    ></asc-button-secondary>

    <asc-button-primary
      buttonId="continuar"
      title="Finalizar"
      (click)="onSubmit()"
      [disabled]="this.verificarFaltaDeDocumentos() || showProgress"
      [showProgress]="showProgress"
      (onClick)="onSubmit()"
    ></asc-button-primary>
  </div>
</form>

<p-dialog
  [(visible)]="showModal"
  [responsive]="true"
  [width]="420"
  [draggable]="false"
  [resizable]="false"
  [modal]="true"
>
  <p-header>
    <p style="margin: 0">Deseja reiniciar a inscrição do dependente?</p>
  </p-header>

  <div style="display: flex; justify-content: center">
    <p class="modal-info-body">
      ATENÇÃO! Voltar ao início implicará na perda de todos os preenchimentos.
      Confirma a ação de reiniciar?
    </p>
  </div>

  <p-footer>
    <div class="footer no-mg-bottom">
      <asc-button-secondary
        buttonId="voltarModal"
        (click)="setModal(false)"
        title="Cancelar"
      ></asc-button-secondary>
      &nbsp;
      <asc-button-primary
        buttonId="continuar"
        [disabled]="showProgress"
        [showProgress]="showProgress"
        [title]="'Continuar'"
        (onClick)="reiniciarForm()"
      >
      </asc-button-primary>
    </div>
  </p-footer>
</p-dialog>
