<form [formGroup]="formularioSolicitacao">
  <div class="solicitacao-container">
    <p class="titulo">Vamos começar! Precisamos saber quem é o beneficiário.</p>
    <div class="custom-form-group-select">
      <asc-select-beneficiario
        selectId="beneficiario"
        [matricula]="matricula"
        [uppercase]="true"
        label="Beneficiário"
        [required]="true"
        [control]="formularioSolicitacao.get('idBeneficiario')"
        (dadoSelecionado)="beneficarioSelecionado($event)"
      >
      </asc-select-beneficiario>
    </div>
    <p
      class="titulo"
      *ngIf="formularioSolicitacao.get('idBeneficiario').dirty"
      @fadeInOut
    >
      Você gostaria de informar um contato adicional para recebimento das
      notificações do seu pedido?
    </p>
    <div
      class="custom-form-group-input"
      *ngIf="formularioSolicitacao.get('idBeneficiario').dirty"
      @fadeInOut
    >
      <label class="control-label">E-mail <small>Opcional</small></label>
      <div class="custom-size">
        <asc-input-text
          [control]="formularioSolicitacao.get('email')"
          inputId="email"
          label=""
        ></asc-input-text>
      </div>
    </div>
    <div
      class="custom-form-group-input"
      *ngIf="formularioSolicitacao.get('idBeneficiario').dirty"
      @fadeInOut
    >
      <label class="control-label">Telefone <small>Opcional</small></label>
      <div class="custom-size">
        <asc-input-telefone
          [control]="formularioSolicitacao.get('telefoneContato')"
          inputId="telefone"
          label=""
        ></asc-input-telefone>
      </div>
    </div>
  </div>
  <div class="footer">
    <asc-button-secondary
      buttonId="voltar"
      [routerLink]="routerLinkToBack"
      title="Voltar"
    ></asc-button-secondary>

    <asc-button-primary
      buttonId="continuar"
      title="Continuar"
      [disabled]="formularioSolicitacao.invalid"
      [showProgress]="showProgress"
      (onClick)="onSubmit()"
    ></asc-button-primary>
  </div>
</form>
