@import"/src/assets/sass/_mixins.scss";
@import"/src/assets/sass/_colors.scss";

.containerHeader{
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: space-between;
  padding: 16px;

  .nome-prestador{  
    font-family: 'Caixa Std Bold';
    font-size: 21px;
    font-weight: 700;
    line-height: 25.2px;
    text-align: left;
    max-width: 70%;
    color: #3A4859;
  }

  .coparticipacao{
    display: flex;
    flex-direction: column;
    gap: 6px;

    .labelCP{
      font-family: 'Caixa Std Book';
      font-size: 14px;
      font-weight: 400;
      line-height: 16.8px;
      text-align: left;
      color: #3A4859;
    }

    .valueCP{
      font-family: 'Caixa Std Bold';
      font-size: 20px;
      font-weight: 700;
      line-height: 28px;
      text-align: end;
      color: #143DA6;
    }
  }
}

#loopingEventos{
  .titleLoopingEventos{
    .nome-prestador{
      font-family: 'Caixa Std Bold';
      font-size: 16px;
      font-weight: 700;
      line-height: 22.4px;
      text-align: left;
      max-width: 70%;
      color: #3A4859;
    }

    p{
      font-family: 'Caixa Std Bold';
      font-size: 16px;
      font-weight: 700;
      line-height: 22.4px;
      text-align: left;
      margin-bottom: 4px;
      color: #3A4859;
    }
  }

  .subTitleLoopingEventos{
    .info-financ{
      font-family: 'Caixa Std Book';
      font-size: 14px;
      font-weight: 400;
      line-height: 19.6px;
      color: #262F3B;
    }

    p{
      font-family: 'Caixa Std Book';
      font-size: 14px;
      font-weight: 400;
      line-height: 19.6px;
      margin-bottom: 8px;
      color: #262F3B;
    }
  }
}

.my-16{
  margin-top: 16px;
  margin-bottom: 16px;
}

.eventosLancados{
  display: flex;
  gap: 6px;
  align-items: center;

  .labelEL{
    font-family: 'Caixa Std Bold';
    font-size: 16px;
    font-weight: 700;
    color: #262F3B;
  }

  .containerIcon{
    width: 24px;
    height: 24px;
    background: #C6E5FF;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;

    i{
      font-size: 14.5px;
      color: #005CA9;
    }
  }
}

.titulo-com-barra {
  display: flex;
  align-items: center;
}

.info-financDate {
  margin: 16px 0px 8px 0px;
  font-family: 'Caixa Std Book';
  font-size: 13px;
  font-weight: 400;
  line-height: 15.6px;
  text-align: left;
  text-transform: uppercase;
  display: flow-root;
}

.d-flex{
  display: flex;
}

.w-100{
  width: 100%;
}

.justify-content-space-between{
  justify-content: space-between;
}

.scrollable-div{
  overflow: auto;
  max-height: 400px;
}

.float-right{
  float: right;
}

.scroll-container::-webkit-scrollbar {       
  width: 6px;
}

.scroll-container::-webkit-scrollbar-thumb {       
  background-color: #B4B4B4;
  border-radius: 3px;
}

.scroll-container::-webkit-scrollbar-track {      
  background-color: #f0f0f0;
}

@media screen and (max-width: 900px) {
  .containerHeader {
    flex-direction: column;
    gap: 12px;

    .nome-prestador {
      max-width: 100%;
    }
  }
}