<div class="col-md-12">
  <p-table
    [value]="dadosConsulta"
    [paginator]="true"
    [rows]="10"
    class="table table-striped table-sm table-hover"
    #dt
  >
    <ng-template pTemplate="header">
      <tr>
        <th scope="col" id="CNPJ" style="width: 10%">CNPJ</th>
        <th scope="col" id="idEmpresa" style="width: 5%">ID Empresa</th>
        <th scope="col" id="razaoSocial" style="width: 25%">Razão Social</th>
        <th scope="col" id="Contrato" style="width: 15%">Contrato</th>
        <th scope="col" id="GIPES" style="width: 5%">GIPES</th>
        <th scope="col" id="Evento" style="width: 5%">Evento</th>
        <th scope="col" id="Data" style="width: 10%">Data</th>
        <th scope="col" id="Responsavel" style="width: 10%">Responsável</th>
        <th scope="col" id="ipResponsavel" style="width: 10%">IP do Responsável</th>
      </tr>
    </ng-template>
    <ng-template pTemplate="body" let-rowData>
      <tr>
        <td>{{ rowData.cnpj | cnpjMask }}</td>
        <td>{{ rowData.idEmpresa }}</td>
        <td>{{ rowData.razaoSocial }}</td>
        <td>{{ rowData.contrato }}</td>
        <td>{{ rowData.gipesCepes }}</td>
        <td>{{ rowData.strEvento }}</td>
        <td>{{ rowData.dataHoraEvento | date : "dd/MM/yyyy HH:mm:ss" }}</td>
        <td>{{ rowData.responsavel | cpfMask }}</td>
        <td>{{ rowData.ipResponsavel }}</td>
      </tr>
    </ng-template>

    <ng-template pTemplate="emptymessage">
      {{ bundle("MA003") }}
    </ng-template>
    <!-- <p-column [style]="{'width':'10%'}" header="CNPJ">
			<ng-template let-row="rowData" pTemplate="content">
              {{row.cnpj | cnpjMask}}
        	</ng-template>
		</p-column>
		<p-column [style]="{'width':'5%'}" field="idEmpresa" header="ID Empresa"></p-column>
		<p-column [style]="{'width':'25%'}" field="razaoSocial" header="Razão Social"></p-column>
		<p-column [style]="{'width':'15%'}" field="contrato" header="Contrato"></p-column>
		<p-column [style]="{'width':'5%'}" field="gipesCepes" header="GIPES"></p-column>
		<p-column [style]="{'width':'5%'}" field="strEvento" header="Evento"></p-column>
		<p-column [style]="{'width':'10%'}" header="Data">
			<ng-template let-row="rowData" pTemplate="content">
              {{row.dataHoraEvento | date:'dd/MM/yyyy HH:mm:ss'}}
        	</ng-template>
		</p-column>
		<p-column [style]="{'width':'10%'}" header="Responsável">
			<ng-template let-row="rowData" pTemplate="content">
              {{row.responsavel | cpfMask}}
        	</ng-template>
		</p-column>
		<p-column [style]="{'width':'10%'}" field="ipResponsavel" header="IP do Responsável"></p-column> -->
  </p-table>
</div>
