<!DOCTYPE html>
	<div class="row col-md-12">
		<h3>Dados do Beneficiário</h3>
	</div>

	<div class="clearfix"></div>

	<div id="bnfroInfoPanel" class="container-fluid info-box">
		<div class="row col-xs-6">
			<label class="control-label">Nome</label>
			<label class="label-detalhar">{{beneficiario?.nome}}</label>
		</div>
		
		<div class="row col-xs-6">
			<label class="control-label">Número do Cartão</label> <label class="label-detalhar">{{beneficiario?.nuCartao}}</label>
		</div>
		
		<div class="clearfix"></div>

		<div class="row col-xs-6">
			<label class="control-label">Data de Nascimento</label> <label class="label-detalhar">{{beneficiario?.dtNascimento}}</label>
		</div>

		<div class="row col-xs-6">
			<label class="control-label">Data de Vencimento do Cartão</label> <label class="label-detalhar">{{beneficiario?.dtFimCartao}}</label>
		</div>

		<div class="clearfix"></div>

		<div class="row col-xs-6">
			<label class="control-label">Nome do Titular</label>
			<label class="label-detalhar">{{beneficiario?.titular?.nome}}</label>
		</div>
	</div>