@import "/src/assets/sass/colors";
@import "/src/assets/sass/mixins";

label {
  display: block;
  width: 100%;
}

ul {
  list-style: none;
  min-height: 200px;
  padding: 10px;
  color: #555;
  background-color: #fff;
  background-image: none;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
  transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;

  li {
    border: 1px solid #ccc;
    border-bottom: none;
    display: block;
    padding: 5px;
    background: #f5f5f5;
    font-size: 12px;

    &:hover {
      background: $color-back-submenu;
      color: $color-primary-4;
      cursor: pointer;
    }

    &:last-of-type {
      border-bottom: 1px solid #ccc;
    }

    i.seta {
      font-size: 10px;
    }
  }
}

.botoes-acao-grid {
  padding-top: 85px;
  text-align: center;

  button + button {
    margin-top: 10px;
    margin-left: 0;
  }
}

.listagem {
  padding-top: 10px
}
