div.solicitacao-container {
  max-width: 900px;
  padding: 16px 8px;
  margin: 0 auto;

  .ui-g {
    display: flex;
    flex-wrap: nowrap;
    gap: 16px;
  }

  div.custom-left-grid {
    padding-right: 12px;
    width: 420px;
    max-width: 420px;
    min-width: 420px;
    flex-shrink: 0;
  }

  div.custom-right-grid {
    padding-left: 22px;
    max-width: 450px;
    flex-grow: 1;

    p.grid-titulo {
      font-family: 'Caixa Std Bold', sans-serif;
      font-style: normal;
      font-size: 18px;
      line-height: 22px;
      color: #40A797;
    }

    p.grid-info {
      font-family: 'Caixa Std Regular', sans-serif;
      font-style: normal;
      font-weight: normal;
      font-size: 14px;
      line-height: 16px;
      color: #3A4859;
    }

    .info-secondary-bold {
      font-weight: bold;
      color: #4A9EFF !important;
      cursor: pointer;
      transition: color 0.2s ease;

      &:hover {
        color: #0071FC !important;
      }
    }

    .info-title {
      font-family: 'Caixa Std Regular', sans-serif;
      font-size: 16px;
      line-height: 19px;
      color: #3A4859;
      position: relative;

      &.first-line-border {
        padding-left: 10px;

        &::before {
          content: '';
          width: 3px;
          height: 16px;
          background-color: #4A9EFF;
          top: 2px;
          left: 0;
          position: absolute;
          border-radius: 2px;
        }
      }
    }

    .info-secondary {
      font-family: 'Caixa Std Regular', sans-serif;
      font-size: 14px;
      line-height: 16px;
      color: #3A4859;
      margin-bottom: 4px;
      padding-left: 10px;
    }

    .ui-g {
      padding-left: 10px;
    }
  }

  p.titulo {
    font-family: 'Caixa Std Bold', sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 18px;
    line-height: 33px;
    color: #0065B7;
    margin: 0 0 16px 0;
    max-width: 540px;
    box-sizing: border-box;
  }

  p.titulo.margin {
    margin-top: 40px;
  }

  div.custom-form-group-input {
    width: 100%;
    margin-bottom: 24px;

    small.custom-form-group-info {
      font-family: 'Caixa Std Regular', sans-serif;
      font-size: 14px;
      line-height: 16px;
      color: #969696;
      left: 0;
      top: calc(100% + 8px);

      strong {
        color: #000;
      }
    }

    div.limited-width {
      max-width: 373px;
    }
  }

  div.custom-form-group-select {
    position: relative;
    width: 100%;
    margin-bottom: 24px;

    span.button-split {
      width: 1px;
      height: 100%;
      position: absolute;
      top: 0;
      right: 20px;
      background-color: #C3C3C3;
    }

    small.custom-form-group-info {
      font-family: 'Caixa Std Regular', sans-serif;
      font-size: 14px;
      line-height: 16px;
      color: #969696;
      left: 0;
      top: calc(100% + 8px);

      strong {
        color: #000;
      }
    }
  }

  div.custom-form-group-select.margin {
    margin-top: 36px;
  }

  select,
  input {
    box-sizing: border-box;
    border-radius: 3px;
    padding: 6px 6px 6px 12px;
  }
}

.no-padding {
  padding: 0;
}

.info-container {
  padding: 0;
  margin-top: 0 !important;

  .info-title {
    font-family: 'Caixa Std Regular', sans-serif;
    font-size: 16px;
    line-height: 19px;
    color: #3A4859;
    position: relative;

    &.first-line-border {
      padding-left: 10px;

      &::before {
        content: '';
        width: 3px;
        height: 16px;
        background-color: #4A9EFF;
        top: 2px;
        left: 0;
        position: absolute;
        border-radius: 2px;
      }
    }

    strong {
      color: #005CA9;
    }

    &.strong {
      font-weight: bold;
    }

  }

  .info-secondary {
    @extend .info-title;
    font-size: 14px;
    margin-bottom: 4px;
  }

  .info-secondary-bold {
    @extend .info-secondary;
    font-weight: bold;
    color: #4A9EFF;
    cursor: pointer;
    transition: color 0.2s ease;

    &:hover {
      color: #0071FC;
    }
  }

}

div.stepper-container {
  width: 100%;
  height: 50px;
  overflow-x: auto;
  overflow-y: hidden;
}

div.solicitacao-footer {
  display: flex;
  justify-content: space-between;
  margin-bottom: 50px;

  button.continue-btn {
    background: #F7941E;
    border: none;
    border-radius: 3px;
    display: flex;
    align-items: center;
    justify-content: center;
    max-width: 246px;
    width: 100%;

    span {
      font-family: 'Caixa Std Regular', sans-serif;
      font-style: normal;
      font-weight: normal;
      font-size: 18px;
      line-height: 25px;
      color: #FFFFFF;
      margin: 12px 8px;
    }

    &:hover,
    &:active {
      background: #db6e00;
      transition: 250ms ease-in-out;
    }

    &:disabled {
      background-color: #E5E5E5;
      cursor: not-allowed;
    }
  }

  button.back-btn {
    background: #fff;
    border: 1px solid #F7941E;
    border-radius: 3px;
    display: flex;
    align-items: center;
    justify-content: center;
    max-width: 246px;
    width: 100%;

    span {
      font-family: 'Caixa Std Regular', sans-serif;
      font-style: normal;
      font-weight: normal;
      font-size: 18px;
      line-height: 25px;
      color: #F7941E;
      margin: 12px 8px;
    }

    &:hover,
    &:active {
      background: #db6e00;
      transition: 250ms ease-in-out;

      span {
        color: #fff;
      }
    }
  }
}

div.custom-grid-form-group {
  display: flex;
  max-width: 100%;

  div.custom-grid-1-left {
    width: 15em;

  }

  div.custom-grid-1-right {
    flex-grow: 1;
    padding-left: 16px;
  }
}

.info-regional-container {
  position: relative;
  padding-left: 10px;

  .tolltip-info-regional {
    display: none !important;
    border: 1px solid #B3C7CB;
    box-sizing: border-box;
    box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 2px;
    position: absolute;
    padding: 0.75em 1.5em;
    width: 100vw;
    max-width: 390px;
    z-index: 5;
    bottom: 100%;
    background-color: #fff;
    left: -100%;
    pointer-events: none;
  }

  ul {
    list-style: none;
    padding: 0;
    margin: 0;
  }

  li {
    font-family: 'Caixa Std Bold', sans-serif;
    font-style: normal;
    font-size: 14px;
    line-height: 17px;
    color: #3A4859;

    span {
      font-weight: bold;
    }
  }

  &:hover {
    .tolltip-info-regional {
      display: block !important;
    }
  }
}

@media screen and (max-width: 900px) {
  div.solicitacao-container {
    .ui-g {
      flex-wrap: wrap;
    }

    div.custom-left-grid {
      width: 100%;
      max-width: 100%;
      min-width: 100%;
      padding-right: 0;
    }

    div.custom-right-grid {
      width: 100%;
      max-width: 100%;
      padding-left: 0;
      padding-top: 16px;
    }
  }
}

@media screen and (max-width: 810px) {
  ul.custom-stepper {
    width: 90%
  }

  div.solicitacao-container {
    padding-top: 32px;
  }

  div.solicitacao-footer {
    justify-content: center;
    padding-right: 0;
  }

  div.sb-to-mobile {
    flex-flow: column;
  }
}

.custom-input-style {
  box-sizing: border-box;
  border-radius: 3px;
  padding: 6px 6px 6px 12px;
}

@keyframes fade-in {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}
