.confirm-message.modal {
  display: block;
}

.confirm-message h5.modal-header {
  font-weight: bolder;
}

.confirm-message .modal-footer {
  border: none;
}

.margin-btn-modal{
  margin-right: 12px;
}