/* You can add global styles to this file, and also import other style files */

/* Estilos globais para forçar fonte Caixa Std 16px nos componentes DSC Select */
::ng-deep dsc-select {
  font-family: "Caixa Std Regular", sans-serif !important;
  
  /* Label do select (texto selecionado visível) */
  .dsc-select-label,
  .select-trigger,
  .select-value,
  .select-value-text,
  button,
  span {
    font-family: "Caixa Std Regular", sans-serif !important;
    font-size: 16px !important;
  }
  
  /* Input (campo de busca/filtro) */
  input {
    font-family: "Caixa Std Regular", sans-serif !important;
    font-size: 16px !important;
  }
  
  /* Itens do dropdown (opções) */
  .dsc-select-panel,
  .dsc-select-options,
  .dsc-select-option,
  .select-panel,
  .select-options,
  .select-option {
    font-family: "Caixa Std Regular", sans-serif !important;
    font-size: 16px !important;
  }
}

/* Painel de opções do select (pode estar fora do componente) */
::ng-deep .dsc-select-panel,
::ng-deep .select-panel,
::ng-deep .cdk-overlay-pane {
  .dsc-select-option,
  .select-option,
  li,
  span,
  div {
    font-family: "Caixa Std Regular", sans-serif !important;
    font-size: 16px !important;
  }
}

/* Label acima do select */
::ng-deep label.control-label {
  font-family: "Caixa Std Regular", sans-serif !important;
  font-size: 16px !important;
}