<div class="container">
    <div class="breadcrumb">
        <ul>
            <li>
                <span routerLink="/" class="voltar">
                <i class="fa fa-arrow-left" aria-hidden="true"></i>Voltar</span>
            </li>
        </ul>
    </div>
</div>
<div class="externo">
    <div class="interno">
        <div class="d-flex al-ic mb-20">
            <i class="fa fa-exclamation-triangle"></i>
            <h1>Opa!</h1>
        </div>
        <p>Algo deu errado!</p>
        <p>Estamos trabalhando para consertar esse erro. Enquanto isso, você pode <a routerLink="/">voltar a página anterior.</a></p>
        <p class="mt-20">Para mais informações acesse portal de <a routerLink="/">Suporte Caixa.</a></p>
        <span>Erro 500</span>
    </div>
</div>

    
<div class="body">
</div>