<div style="height: 4em !important;" [class.rodape-principal]="isHome">&nbsp;</div>
<section>
  <div class="container">
    <div class="row list-ft d-flex">
      <div class="col-md-4">
        <ul class="ft-list pl-0">
          <h3 class="n-br pl-0">Meus dados</h3>
          <li><a routerLink="meus-dados/pedidos">Meus Pedidos</a></li>
        </ul>
      </div>
      <div class="col-md-4 pl-0">
        <ul class="ft-list pl-0">
          <h3 class="n-br pl-0">Beneficiário</h3>
          <li><a routerLink="/dependente/incluir">Inclusão</a></li>
          <li><a routerLink="/dependente/alterar">Atualização</a></li>
          <li><a routerLink="/cancelar-dependente">Cancelamento</a></li>
          <li><a routerLink="/renovar-dependente">Renovação</a></li>
        </ul>
      </div>
      <div class="col-md-4">
        <ul class="ft-list pl-0">
          <h3 class="n-br pl-0">Pedidos</h3>
          <li><a routerLink="/pedidos/inscricao/programas-medicamentos">Inscrição no Programa de Medicamentos</a></li>
          <li><a routerLink="/pedidos/autorizacao-previa">Autorização Prévia</a></li>
          <li><a routerLink="/pedidos/reembolso">Reembolso</a></li>
        </ul>
      </div>
    </div>
    <div class="row notas">
      <div class="col-12 text-center">
        Central de Atendimento Saúde Caixa &#8212; <a href="https://www.centralsaudecaixa.com.br" target="_blank"
                                                      title="Central de Atendimento Saúde Caixa">www.centralsaudecaixa.com.br</a><br>
        <i class="fa fa-phone"></i> <a href="tel:08000956094" title="Telefone da Central de Atendimento Saúde Caixa">0800
        095 6094</a> /
        <a class="btn-whatsapp" target="_blank" title="WhatsApp da Central de Atendimento Saúde Caixa"
           href="https://api.whatsapp.com/send?l=pt_BR&phone=5561991865878"><i class="fab fa-whatsapp"></i> (61)
          99186-5878</a>
      </div>
    </div>
  </div>
</section>
