@import "/src/assets/sass/colors";
@import "/src/assets/sass/mixins";

.acompanhamento-container {
  margin: 0 auto;
  padding: 0 4em;
  max-width: 1280px;
}

.titulo {
  font-family: 'Caixa Std Bold', sans-serif;
  font-weight: bold;
  font-size: 32px;
  line-height: 140%;
  color: $btn-bg-blue;
  padding-left: 0.75em;
  border-left: 6px solid $btn-bg-orange-darker;
  margin: 0;
}

.processo-container {
  border-top: 1px solid #B4B4B4;
  padding-top: 1.5em;
  margin: 1.5em 4.5em 0 4.5em;
}

.left-border {
  padding-left: 0.75em;
  border-left: 7px solid #54BBAB;
}

.margin-campos {
  margin-bottom: 1em;
}

.no-padding {
  padding: 0;
}

.footer-card {
  margin-top: auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.margin-conteudo {
  margin-top: 1em;
  align-items: flex-start;
}

.no-desktop {
  display: none;
}

.id-historico {
  font-family: 'Caixa Std Regular', sans-serif;
  font-size: 16px;
  line-height: 19px;
  color: #000000;
  margin-left: 10px;
}

.orange-ball {
  position: absolute;
  right: calc(-22px - 8px);
  top: 8px;
  width: 18px;
  height: 18px;
  border-radius: 9px;
  background-color: #F7941E;
  z-index: 2;
}

.campo-card {
  font-family: 'Caixa Std Regular', sans-serif;
  font-size: 16px;
  line-height: 19px;
  color: #000000;

}

.historico-section {
  padding: 0 4.5em;
}

@media screen and (max-width: 900px) {

  .acompanhamento-container {
    padding: 0;
  }

  .processo-container {
    border-top: 1px solid #B4B4B4;
    padding: 1.5em 0.5em 0 0.5em;
    margin: 0.5em 0;
  }

  .titulo {
    margin: 0.25em;
  }

  .no-mobile {
    display: none;
  }

  .no-desktop {
    display: inherit;
  }

  .orange-ball {
    display: none;
  }

  .list-card {
    width: 100%;
    margin-top: 0.75em;
    padding: 0.75em 0.5em;
  }

  .historico-section {
    padding: 0;
  }
}

.btn-excluir {
  @include create-btn(normal_red);
  width: 35px;
  height: 35px;
}

.btn-confirmar {
  @include create-btn(normal_orange);
}

.btn-cancelar {
  @include create-btn(normal_blue);
}

.check-it {
  position: absolute;
  top: 0;
  left: -20px;
  color: green;
}

.error-it {
  position: absolute;
  top: 0;
  left: -20px;
  color: red;
}

.btn-add-procedimento {
  @include create-btn(normal_cyan);
  align-self: flex-end;

  i {
    padding: 0;
  }
}

.custom-title-padding {
  padding: 1.5em 0.75em 0 0.75em
}
