@import "/src/assets/sass/colors";
@import "/src/assets/sass/mixins";

.form-control {
  box-sizing: border-box;
  border-radius: 3px;
  padding: 6px 6px 6px 12px;

  &.padding-button {
    padding-right: 45px;
  }

  &.padding-button-left {
    padding-left: 45px !important;
  }
}

.relative {
  position: relative;

  button {
    background: #f2f7f8;
    position: absolute;
    right: 1px;
    border: none;
    color: #4c556c;
    width: 32px;
    height: calc(100% - 2px);
    top: 1px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-left: 1px solid #c0c0c0;

    span {
      color: red;
    }

    &:hover,
    &:active,
    &:focus {
      background-color: #e2e7e8;
      color: inherit;
      border-top: none;
      border-bottom: none;
      border-right: none;
      border-left: 1px solid #c0c0c0;
    }

    &.left {
      left: 1px;
    }
  }
}

.ui-button-text-only .ui-button-text {
  padding: 0 !important;
  color: red;
}

.ui-inputgroup .ui-inputtext:not(:last-child) {
  border-top-right-radius: 3px;
  border-bottom-right-radius: 3px;
  border-right: 1px solid #c0c0c0;
}

.label-class {
  font-family: "Caixa Std Regular", sans-serif;
  font-size: 14px;
  line-height: 16px;
  color: #000000;
  font-weight: bold;
}

.ui-button-text-only .ui-button-text {
  padding: 0 !important;
  color: red;
}

.ng-valid[required],
.ng-valid.required,
.ng-valid.requiredfield {
  border-left: 5px solid #42a948 !important;
}

.ng-valid[required]:hover,
.ng-valid.required:hover,
.ng-valid.requiredfield:hover {
  border-left: 5px solid #42a948 !important;
}

.ng-invalid[required]:not(form):not(p-dropdown) {
  border-left: 5px solid #a94442 !important;
}

.ng-dirty.ng-invalid {
  border-bottom-color: #f44336 !important;
}

.ng-dirty.ng-invalid:hover {
  border-bottom-color: #f44336 !important;
}
