<section>
  <div class="container">
    <div class="col-md-12 breadcrumb-header">
      <ul class="breadcrumb">
        <li>
          <span (click)="voltar()" class="voltar">
            <i class="fa fa-arrow-left" aria-hidden="true"></i>
            Voltar
          </span>
        </li>
        <a routerLink="/home">Início</a>
        <em class="fa fa-chevron-right"></em>
        Meus dados
        <em class="fa fa-chevron-right"></em>
        Cartões
      </ul>
    </div>

    <p class="title-section">Cartões</p>
    <form [formGroup]="formularioSolicitacao">

      <div class="form-group  noPaddingLeft">
        <div class="custom-form-group-input input-content">
          <dsc-select
            [label]="'Beneficiário'"
            [placeholder]="'Selecione uma opção'"
            [showFilter]="true"
            [options]="options"
            formControlName="dependente">
          </dsc-select>
        </div>
      </div>
    </form>

    <div class="print-card hidden" id="print-section" #print>
      <div
        *ngIf="cartao && cartao.restrito === 'N'"
        _ngcontent-c8=""
        class="card-frente-impressao"
      >
        <div _ngcontent-c8="" class="background-frente-impressao">
          <p _ngcontent-c8="" class="logo-card-impressao">
            <img
              _ngcontent-c8=""
              src="..\assets\images\CARDIMPRESSAO.png"
              alt="Card impressão."
            />
          </p>
          <div class="text-card-imp">
            <p _ngcontent-c8="" class="p1-print">
              <b _ngcontent-c8="">Número do Cartão de Saúde</b>
            </p>
            <p _ngcontent-c8="" class="p1-2-print">
              {{ formatarNrCartao(cartao?.nrCartao) }}
            </p>
            <p _ngcontent-c8="" class="p2-print">
              <b _ngcontent-c8="">Beneficiário</b>
            </p>
            <p _ngcontent-c8="" class="p2-2-print">
              {{ cartao?.nomeBeneficiario | uppercase }}
            </p>
            <p _ngcontent-c8="" class="p3-print">
              <b _ngcontent-c8="">Válido até</b>
            </p>
            <p _ngcontent-c8="" class="p3-2-print">
              {{ cartao?.dtValidade | date : "dd/MM/yyyy" }}
            </p>
            <p _ngcontent-c8="" class="p4-11-print">Nascimento</p>
            <p _ngcontent-c8="" class="p4-12-print">
              {{ cartao?.dtNascimento | date : "dd/MM/yyyy" }}
            </p>
            <p _ngcontent-c8="" class="p4-print">
              <b _ngcontent-c8="">Titular</b>
            </p>
            <p _ngcontent-c8="" class="p4-10-print">
              {{ cartao?.noTitular | uppercase }}
            </p>
            <p _ngcontent-c8="" class="p4-9-print">
              <b _ngcontent-c8="">Código Beneficiário</b>
              <b _ngcontent-c8="">Data de Adesão</b>
            </p>
            <p _ngcontent-c8="" class="p4-2-print">
              {{ cartao?.coBeneficiario }}
              <span>{{ cartao?.dtAdesao | date : "dd/MM/yyyy" }}</span>
            </p>
            <p _ngcontent-c8="" class="p4-9-print">
              <b _ngcontent-c8="">Contrato</b>
            </p>
            <p _ngcontent-c8="" class="p4-3-print">{{ cartao?.noContrato }}</p>
            <p _ngcontent-c8=""></p>
            <p _ngcontent-c8="" class="p4-4-print">
              O beneficiário acima está autorizado a utilizar-se do Saúde CAIXA,
              conforme suas normas.
            </p>
          </div>
          <div class="text-card2-imp">
            <p class="card-costa-p1-print"><b>Programa de Assistência</b></p>
            <p class="card-costa-p1-print"><b>Médica Supletiva </b></p>
            <p class="card-costa-p1-print"><b>Saúde CAIXA</b></p>
            <p class="card-costa-p2-print">
              VÁLIDA SOMENTE MEDIANTE A APRESENTAÇÃO DE DOCUMENTOS DE IDENTIDADE
            </p>
            <p class="card-costa-p3-print">Central de Atendimento</p>
            <p class="card-costa-p4-print"><b>0800 095 060 94</b></p>
            <p class="card-costa-p5-print"><b>saude.caixa.gov.br</b></p>
            <p class="card-costa-p6-print"><b>Operadora</b></p>
            <p class="card-costa-p7-print">Caixa Econômica Federal</p>
            <p class="card-costa-p8-print">
              <b>Plano</b>
              <b>Abrangência</b>
            </p>
            <p class="card-costa-p10-print">
              Saúde CAIXA
              <span>Nacional</span>
            </p>
            <p class="card-costa-p11-print"><b>Carência</b></p>
            <p class="card-costa-p12-print">Conforme RH 222</p>
          </div>
        </div>
      </div>
      <div
        *ngIf="cartao && cartao.restrito === 'S'"
        _ngcontent-c8=""
        class="card-frente-impressao"
      >
        <div _ngcontent-c8="" class="background-frente-impressao">
          <p _ngcontent-c8="" class="logo-card-impressao">
            <img
              _ngcontent-c8=""
              src="..\assets\images\CARDIMPRESSAORESTRITO.png"
              alt="Card impressão."
            />
          </p>
          <div class="text-card-imp-restrito">
            <p _ngcontent-c8="" class="p1-print">
              <b _ngcontent-c8="">Número do Cartão de Saúde</b>
            </p>
            <p _ngcontent-c8="" class="p1-2-print">
              {{ formatarNrCartao(cartao?.nrCartao) }}
            </p>
            <p _ngcontent-c8="" class="p2-print-restrito">Beneficiário</p>
            <p _ngcontent-c8="" class="p2-2-print-restrito">
              {{ cartao?.nomeBeneficiario | uppercase }}
            </p>
            <p _ngcontent-c8="" class="p3-print-restrito">Válido até</p>
            <p _ngcontent-c8="" class="p3-2-print-restrito">
              {{ cartao?.dtValidade | date : "dd/MM/yyyy" }}
            </p>
            <p _ngcontent-c8="" class="p4-1-print-restrito">RESTRITO</p>
            <p _ngcontent-c8="" class="p4-11-print-restrito">Nascimento</p>
            <p _ngcontent-c8="" class="p4-12-print-restrito">
              {{ cartao?.dtNascimento | date : "dd/MM/yyyy" }}
            </p>
            <p _ngcontent-c8="" class="p4-print-restrito">Titular</p>
            <p _ngcontent-c8="" class="p4-10-print-restrito">
              {{ cartao?.noTitular | uppercase }}
            </p>
            <p _ngcontent-c8="" class="p4-9-print">
              Código Beneficiário
              <span>Data de Adesão</span>
            </p>
            <p _ngcontent-c8="" class="p4-2-print">
              {{ cartao?.coBeneficiario }}
              <span>{{ cartao?.dtAdesao | date : "dd/MM/yyyy" }}</span>
            </p>
            <p _ngcontent-c8="" class="p4-9-print">Contrato</p>
            <p _ngcontent-c8="" class="p4-3-print">{{ cartao?.noContrato }}</p>
            <p _ngcontent-c8=""></p>
            <p _ngcontent-c8="" class="p4-4-print-restrito">
              O beneficiário acima está autorizado a submeter-se SOMENTE a
              consultas médicas e exames de diagnóstico. Demais procedimentos
              devem ser negociados entre profissional e paciente e pagos
              diretamente por este.
            </p>
          </div>
          <div class="text-card2-imp">
            <p class="card-costa-p1-print"><b>Programa de Assistência</b></p>
            <p class="card-costa-p1-print"><b>Médica Supletiva </b></p>
            <p class="card-costa-p1-print"><b>Saúde CAIXA</b></p>
            <p class="card-costa-p2-print-restrito">
              VÁLIDA SOMENTE MEDIANTE A APRESENTAÇÃO DE DOCUMENTOS DE IDENTIDADE
            </p>
            <p class="card-costa-p3-print">Central de Atendimento</p>
            <p class="card-costa-p4-print-restrito">0800 095 060 94</p>
            <p class="card-costa-p5-print-restrito">saude.caixa.gov.br</p>
            <p class="card-costa-p6-print">Operadora</p>
            <p class="card-costa-p7-print">Caixa Econômica Federal</p>
            <p class="card-costa-p8-print">
              Plano
              <span>Abrangência</span>
            </p>
            <p class="card-costa-p10-print">
              Saúde CAIXA
              <span>Nacional</span>
            </p>
            <p class="card-costa-p11-print-restrito">Carência</p>
            <p class="card-costa-p12-print">Conforme RH 222</p>
          </div>
        </div>
      </div>
    </div>

    <div *ngIf="cartao && cartao.restrito === 'N'" class="cartao-saude">
      <div _ngcontent-c8="" class="card-frente">
        <div _ngcontent-c8="" class="background-frente">
          <p _ngcontent-c8="" class="logo-card">
            <img
              _ngcontent-c8=""
              src="..\assets\images\LadoA.png"
              alt="Cartão lado a"
            />
          </p>
        </div>
        <div class="text-card">
          <p _ngcontent-c8="" class="p1">
            <b _ngcontent-c8="">Número do Cartão de Saúde</b>
          </p>
          <p _ngcontent-c8="" class="p1-2">
            {{ formatarNrCartao(cartao?.nrCartao) }}
          </p>
          <p _ngcontent-c8="" class="p2">
            <b _ngcontent-c8="">Beneficiário</b>
          </p>
          <p _ngcontent-c8="" class="p2-2">
            <b _ngcontent-c8="">{{ cartao?.nomeBeneficiario | uppercase }}</b>
          </p>
          <p _ngcontent-c8="" class="p3"><b _ngcontent-c8="">Válido até</b></p>
          <p _ngcontent-c8="" class="p3-2">
            <b _ngcontent-c8="">{{
              cartao?.dtValidade | date : "dd/MM/yyyy"
            }}</b>
          </p>
          <p _ngcontent-c8="" class="p4-11">
            <b _ngcontent-c8="">Nascimento</b>
          </p>
          <p _ngcontent-c8="" class="p4-12">
            <b _ngcontent-c8="">{{
              cartao?.dtNascimento | date : "dd/MM/yyyy"
            }}</b>
          </p>
          <p _ngcontent-c8="" class="p4"><b _ngcontent-c8="">Titular</b></p>
          <p _ngcontent-c8="" class="p4-10">
            <b _ngcontent-c8="">{{ cartao?.noTitular | uppercase }}</b>
          </p>
          <p _ngcontent-c8="" class="p4-9">
            <b _ngcontent-c8="">Código Beneficiário</b>
            <b _ngcontent-c8="">Data de Adesão</b>
          </p>
          <p _ngcontent-c8="" class="p4-2">
            <b _ngcontent-c8="">{{ cartao?.coBeneficiario }}</b>
            <b _ngcontent-c8="">{{ cartao?.dtAdesao | date : "dd/MM/yyyy" }}</b>
          </p>
          <p _ngcontent-c8="" class="p4-9"><b _ngcontent-c8="">Contrato</b></p>
          <p _ngcontent-c8="" class="p4-3">
            <b _ngcontent-c8=""> {{ cartao?.noContrato }} </b>
          </p>
          <p _ngcontent-c8=""></p>
          <p _ngcontent-c8="" class="p4-4">
            <b _ngcontent-c8=""
              >O beneficiário acima está autorizado a utilizar-se do Saúde
              CAIXA, conforme suas normas.</b
            >
          </p>
        </div>
      </div>

      <div class="card-back">
        <div _ngcontent-c8="" class="fundo-cartao-back">
          <p _ngcontent-c8="" class="logo-card-back">
            <img
              _ngcontent-c8=""
              src="..\assets\images\LadoB.png"
              alt="Cartão lado b"
            />
          </p>
        </div>
        <div class="text-card2">
          <p class="card-costa-p1"><b>Programa de Assistência</b></p>
          <p class="card-costa-p1"><b>Médica Supletiva </b></p>
          <p class="card-costa-p1"><b>Saúde CAIXA</b></p>
          <p class="card-costa-p2">
            <b
              >VÁLIDA SOMENTE MEDIANTE A APRESENTAÇÃO DE DOCUMENTOS DE
              IDENTIDADE</b
            >
          </p>
          <p class="card-costa-p3"><b>Central de Atendimento</b></p>
          <p class="card-costa-p4"><b>0800 095 60 94</b></p>
          <p class="card-costa-p5"><b>saude.caixa.gov.br</b></p>
          <p class="card-costa-p6"><b>Operadora</b></p>
          <p class="card-costa-p7"><b>Caixa Econômica Federal</b></p>
          <p class="card-costa-p8">
            <b>Plano</b>
            <b>Abrangência</b>
          </p>
          <p class="card-costa-p10">
            <b>Saúde CAIXA</b>
            <b>Nacional</b>
          </p>
          <p class="card-costa-p11"><b>Carência</b></p>
          <p class="card-costa-p12"><b>Conforme RH 222</b></p>
        </div>
      </div>
    </div>

    <div *ngIf="cartao && cartao.restrito === 'S'" class="cartao-saude">
      <div _ngcontent-c8="" class="card-frente">
        <div _ngcontent-c8="" class="background-frente">
          <p _ngcontent-c8="" class="logo-card">
            <img
              [ngStyle]="{}"
              src="..\assets\images\bg-cartao-beneficiario-restrito-lado-a.png"
              alt="Cartão lado a"
            />
          </p>
        </div>
        <div class="text-card">
          <p _ngcontent-c8="" class="p1">
            <b _ngcontent-c8="">Número do Cartão de Saúde</b>
          </p>
          <p _ngcontent-c8="" class="p1-2">
            {{ formatarNrCartao(cartao?.nrCartao) }}
          </p>
          <p _ngcontent-c8="" class="p2">
            <b _ngcontent-c8="">Beneficiário</b>
          </p>
          <p _ngcontent-c8="" class="p2-2">
            <b _ngcontent-c8="">{{ cartao?.nomeBeneficiario | uppercase }}</b>
          </p>
          <p _ngcontent-c8="" class="p3"><b _ngcontent-c8="">Válido até</b></p>
          <p _ngcontent-c8="" class="p3-2">
            <b _ngcontent-c8="">{{
              cartao?.dtValidade | date : "dd/MM/yyyy"
            }}</b>
          </p>
          <p _ngcontent-c8="" class="p4-1-restrito">RESTRITO</p>
          <p _ngcontent-c8="" class="p4-11-restrito">
            <b _ngcontent-c8="">Nascimento</b>
          </p>
          <p _ngcontent-c8="" class="p4-12-restrito">
            <b _ngcontent-c8="">{{
              cartao?.dtNascimento | date : "dd/MM/yyyy"
            }}</b>
          </p>
          <p _ngcontent-c8="" class="p4-restrito">
            <b _ngcontent-c8="">Titular</b>
          </p>
          <p _ngcontent-c8="" class="p4-10-restrito">
            <b _ngcontent-c8="">{{ cartao?.noTitular | uppercase }}</b>
          </p>
          <p _ngcontent-c8="" class="p4-9-restrito">
            <b _ngcontent-c8="">Código Beneficiário</b>
            <b _ngcontent-c8="">Data de Adesão</b>
          </p>
          <p _ngcontent-c8="" class="p4-2-restrito">
            <b _ngcontent-c8="">{{ cartao?.coBeneficiario }}</b>
            <b _ngcontent-c8="">{{ cartao?.dtAdesao | date : "dd/MM/yyyy" }}</b>
          </p>
          <p _ngcontent-c8="" class="p4-9-restrito">
            <b _ngcontent-c8="">Contrato</b>
          </p>
          <p _ngcontent-c8="" class="p4-3-restrito">
            <b _ngcontent-c8=""> {{ cartao?.noContrato }} </b>
          </p>
          <p _ngcontent-c8=""></p>
          <p _ngcontent-c6="" class="p4-4-restrito">
            O beneficiário acima está autorizado a submeter-se SOMENTE a
            consultas médicas e exames de diagnóstico. Demais procedimentos
            devem ser negociados entre profissional e paciente e pagos
            diretamente por este.
          </p>
        </div>
      </div>

      <div class="card-back">
        <div _ngcontent-c8="" class="fundo-cartao-back">
          <p _ngcontent-c8="" class="logo-card-back">
            <img
              _ngcontent-c8=""
              src="..\assets\images\bg-cartao-beneficiario-restrito-lado-b.png"
              alt="Cartão lado b."
            />
          </p>
        </div>
        <div class="text-card2">
          <p class="card-costa-p1"><b>Programa de Assistência</b></p>
          <p class="card-costa-p1"><b>Médica Supletiva </b></p>
          <p class="card-costa-p1"><b>Saúde CAIXA</b></p>
          <p class="card-costa-p2">
            <b
              >VÁLIDA SOMENTE MEDIANTE A APRESENTAÇÃO DE DOCUMENTOS DE
              IDENTIDADE</b
            >
          </p>
          <p class="card-costa-p3"><b>Central de Atendimento</b></p>
          <p class="card-costa-p4-restrito"><b>0800 095 060 94</b></p>
          <p class="card-costa-p5-restrito"><b>saude.caixa.gov.br</b></p>
          <p class="card-costa-p6-restrito"><b>Operadora</b></p>
          <p class="card-costa-p7-restrito"><b>Caixa Econômica Federal</b></p>
          <p class="card-costa-p8-restrito">
            <b>Plano</b>
            <b>Abrangência</b>
          </p>
          <p class="card-costa-p10-restrito">
            <b>Saúde CAIXA</b>
            <b>Nacional</b>
          </p>
          <p class="card-costa-p11-restrito"><b>Carência</b></p>
          <p class="card-costa-p12-restrito"><b>Conforme RH 222</b></p>
        </div>
      </div>
    </div>

    <div *ngIf="cartao" class="col-xs-12 barra-botoes">
      <button class="btn-imprimir" (click)="imprimir(cartao.restrito)">
        <i class="fa fa-print" aria-hidden="true"></i> Imprimir
      </button>
      <button class="btn-pdf" (click)="gerarPDF(cartao.restrito)">
        <i class="fa-regular fa-file-pdf" aria-hidden="true"></i>
        Gerar PDF
      </button>
    </div>
  </div>
</section>
