<div class="custom-container">
  <div class="bottom-bordered">
    <p class="titulo">Quase lá! Para finalizar, precisamos de alguns documentos.</p>
  </div>
  <p class="titulo">Documentos obrigatórios</p>
  <div class="custom-card">
    <p class="card-titulo">Resultados de exames, radiografias, imagens e laudos correspondentes.</p>
    <span class="card-info">Descrição :No laudo deve constar a identificação do profissional solicitante,indicação e
      data.</span>
    <div class="arquivos">
      <div class="arquivo-card">
        <div class="arquivo-info">
          <p class="arquivo-nome">siags-prestador-info-cadastrais-contatos.png</p>
          <p class="arquivo-data">19/03/2020 20:30:01 <i class="fa fa-user-circle-o" aria-hidden="true"></i> </p>
        </div>
        <div class="arquivo-actions">
          <button><em class="fa fa-eye"></em></button>
          <button><em class="fa fa-trash"></em></button>
        </div>
      </div>
    </div>
    <div class="custom-card-footer">
      <label>
        <span><i class="fa fa-paperclip" aria-hidden="true"></i> Adicionar</span>
        <input type="file">
      </label>
    </div>
  </div>



  <div class="custom-card">
    <div class="success-icon-container">
      <em class="fa fa-check" aria-hidden="true"></em>
    </div>
    <p class="card-titulo">Resultados de exames, radiografias, imagens e laudos correspondentes.</p>
    <span class="card-info">Descrição :No laudo deve constar a identificação do profissional solicitante,indicação e
      data.</span>
    <div class="arquivos">
      <div class="arquivo-card">
        <div class="arquivo-info">
          <p class="arquivo-nome">siags-prestador-info-cadastrais-contatos.png</p>
          <p class="arquivo-data">19/03/2020 20:30:01 <i class="fa fa-user-circle-o" aria-hidden="true"></i> </p>
        </div>
        <div class="arquivo-actions">
          <button><em class="fa fa-eye"></em></button>
          <button><em class="fa fa-trash"></em></button>
        </div>
      </div>
    </div>
    <div class="custom-card-footer">
      <label>
        <span><i class="fa fa-paperclip" aria-hidden="true"></i> Adicionar</span>
        <input type="file">
      </label>
    </div>
  </div>
</div>

<div class="footer">
  <button class="back-btn" cdkStepperPrevious>
      Voltar
  </button>
  <button class="next-btn" cdkStepperNext>
      Continuar
  </button>
</div>
